@import "../../../common/css/variable.styl"

.find-pass-wrap-mb
  padding .2rem
  font-family PingFangSC-Medium
  h1
    font-size .24rem
    margin-bottom .36rem
    color $h5-color-green
  ul
    width 100%
    li
      position relative
      margin-bottom .2rem
      em
        font-size .12rem
        color $h5-color-red
        display block
        margin-top .06rem
      p
        color $h5-color-light
        margin-bottom .08rem
        font-size .14rem
        line-height .2rem
      input
        width 100%
        height .45rem
    .send-verify-li, .send-picture-li
      .clearfix
        display flex
        height .45rem
        .base-input-wrap
          flex-grow 1
          input
            border-right none
            border-radius (.02rem 0 0 .02rem)
        .send-code-btn
          width 1rem
          background $h5-foreground-weight
          border 0
          border-radius (0 .02rem .02rem 0)
          color $h5-color-light
        .picture-btn
          width 1rem
          border-radius (0 .02rem .02rem 0)
          border 0
          background $h5-foreground-weight

    .submit-li
      margin-top .36rem
      .pass-btn
        width 100%
        height .4rem
        opacity 0.6
      .can-click
        opacity 1


