@import "../../../common/css/variable.styl"

$h5-login-bg = $col3335
$h5-img-bg = $colD6D6

$h5-login-line = $col2B2D

$h5-login-font-title = $col8485
$h5-login-font-content = $colD6D6
$h5-login-font-btn = $colB789
$h5-login-font-remind = $col9370

$h5-login-theme-main = $col9370
$h5-login-theme-active = $col4740