@import "../../../common/css/variable.styl"

$h5-login-bg = $h5-foreground-weight

$h5-login-line = $h5-foreground

$h5-login-font-light = $h5-color-light
$h5-login-font-normal = $h5-color-normal

$h5-login-green = $h5-color-green
$h5-login-red = $h5-color-red