.asset-mb
  .address
    padding-bottom .7rem
    .form
      padding 0 .12rem
      background $h5-asset-bg
      .p1
        line-height .45rem
        height .45rem
        border-bottom .01rem solid $h5-asset-border
        display flex
        label
          font-size .15rem
          color $h5-asset-font-normal
        input
          padding 0 .12rem
          margin-left .2rem
          color $h5-asset-font-light
          flex-grow 1
      .p2
        display flex
        padding .12rem 0
        height .64rem
        label
          color $h5-asset-font-normal
          font-size .15rem
          height .2rem
          line-height  .2rem
          align-self  flex-start
        textarea
          color $h5-asset-font-light
          font-size .14rem
          margin-left .2rem
          flex-grow 1
          resize none
          outline 0
          border 0
          background transparent
          font-family PingFangSC-Regular
          word-break break-all

    .li
      margin-top .08rem
      background $h5-asset-bg
      padding 0 .12rem
      h3
        height .45rem
        display flex
        align-items center
        label
          color $h5-asset-font-normal
          font-size .15rem
          flex-grow 1
        a
          color $h5-asset-font-normal
          font-size .14rem
          padding-right .12rem
          border-right .01rem solid $h5-asset-border
          height .2rem
          line-height .2rem
        img
          height .2rem
          width auto
          margin-left .12rem
      textarea
        padding-bottom .12rem
        color $h5-asset-font-light
        font-size .14rem
        line-height .2rem
        width 100%
        background transparent
        border 0
        outline 0
        resize none
        font-family PingFangSC-Regular
        word-break break-all

    .submit
      padding .12rem
      position fixed
      left 0
      bottom 0
      width 100%
      button
        height .45rem
        background $h5-asset-font-active
        width 100%
        border-radius .02rem
        font-size .18rem
        color $h5-asset-font-normal
        &.disable
          pointer-events none
          opacity .6

    .empty
      margin-top 2rem
      text-align center
      b
        display block
        color $h5-asset-font-active
        font-size .16rem
      span
        display block
        font-size .14rem
        color $h5-asset-font-light
        margin-top .05rem

