@import "../../../common/css/variable.styl"
@import "../../../common/css/base.styl"

.asset-mb
  .balance-detail
    font-family PingFangSC-Medium
    .nav
      height .45rem
      line-height .45rem
      background $h5-foreground
      border-bottom .01rem solid $h5-border-weight
      position relative
      color $h5-color-weight
      h3
        text-align center
        font-size .18rem
        position absolute
        width 100%
        pointer-events none
      a
        font-size .14rem
        color $normal-white-color
        &.left
          float left
          margin-left .12rem
          img
            height .16rem
            vertical-align -.01rem
            margin-right .04rem

        &.right
          float right
          margin-right .12rem
    .d1
      height .61rem
      padding .16rem .12rem .05rem .12rem
      img
        width .4rem
        height .4rem
        border-radius 50%
        float left
      b
        display block
        margin-left .55rem
        font-size .24rem
        line-height .2rem
        color $h5-color-normal
        margin-bottom .03rem
      span
        display block
        margin-left .55rem
        font-size .12rem
        color $h5-color-light
        line-height .2rem
    .d2
      padding .2rem .12rem
      border-bottom .01rem solid $h5-foreground
      p
        display inline-block
        vertical-align top
        width 50%
        span
          display block
          font-size .12rem
          color $h5-color-light
          line-height .16rem
        i
          font-size .14rem
          color $h5-color-normal
          line-height .2rem
          margin-top .05rem
          display block
    .d3
      padding .1rem .12rem
      p
        line-height .3rem
        span
          font-size .14rem
          color $h5-color-light
        i
          font-size .14rem
          color $h5-color-normal
          float right

    .coin-info
      display block
      position fixed
      bottom .4rem
      line-height .4rem
      width 100%
      padding 0 .12rem
      background $h5-foreground
      color $h5-color-green
      font-size .15rem
      img
        float right
        height .16rem
        margin-top .12rem
    .footer
      box-shadow 0 -.04rem .2rem 0 rgba(0,0,0,0.20)
      background $h5-foreground
      position fixed
      bottom 0
      width 100%
      height .4rem
      color $h5-color-green
      a
        width 50%
        text-align center
        display inline-block
        font-size .18rem
        line-height .4rem
        &.active
          background $h5-color-green
          color $h5-color-weight

