.asset-mb
  .balance
    font-family PingFangSC-Medium
    .total-asset
      background $h5-asset-bg
      padding .2rem .12rem .12rem .12rem
      .dv1
        line-height .2rem
        display flex
        align-items center
        label
          font-size .15rem
          color $h5-asset-font-light
          opacity .8
        img
          height .2rem
          width auto
          margin-left .12rem
      .dv2
        height .33rem
        margin-top .08rem
        display flex
        align-items center
        overflow hidden
        white-space nowrap
        b
          font-size .24rem
          color $h5-asset-font-normal
        i
          font-size .14rem
          color $h5-asset-font-light
          margin-left .12rem
      .dv3
        padding .12rem .12rem 0 .12rem
        margin-top .17rem
        border-top .01rem solid $h5-asset-border
        position relative
        p
          line-height .21rem
          font-size .15rem
          label
            color $h5-asset-font-light
            min-width 1.02rem
            display inline-block
          i
            margin-left .07rem
            color $h5-asset-font-normal
          &.p2
            margin-top .08rem
        a
          float right
          font-size .15rem
          display inline-block
          line-height .2rem
          position absolute
          right .12rem
          top .27rem
          color $h5-asset-font-normal




    .menu-ul
      line-height .45rem
      border 1px solid $h5-asset-border
      border-left none
      border-right none
      background $h5-asset-bg
      height .45rem
      li
        display inline-block
        width 33%
        text-align center
        position relative
        overflow hidden
        .assets-record
          font-size .12rem
        &:not(:last-of-type)::after
          position absolute
          right 0
          content ""
          width .01rem
          background $h5-asset-border
          height .25rem
          top .1rem
        a
          color $h5-asset-font-normal
          white-space nowrap
          img
            height .2rem
            margin-right .08rem
            vertical-align -.05rem


    .asset-wallet
      padding-bottom .01rem
      .filter
        line-height .45rem
        height .45rem
        background $h5-asset-bg
        padding 0 .2rem
        span
          color $h5-asset-font-normal
          font-size .15rem
        img
          height .2rem
          width .2rem
          margin-right .1rem
          vertical-align -.05rem
        .toggle-btn
          display inline-block
          width .48rem
          height .24rem
          float right
          margin-top .1rem
          border-radius  .24rem
          background $h5-asset-bg-weight
          position relative
          border .02rem solid $h5-asset-bg-weight
          i
            display inline-block
            height .2rem
            width .2rem
            background $h5-asset-font-weight
            border-radius 50%
            position absolute
            top 0
          &.active
            background $h5-asset-font-active
            border-color $h5-asset-font-active
            i
              right 0
      .wallet-li
        background $h5-asset-bg
        padding .08rem .12rem
        margin .12rem
        border-radius .02rem
        .d1
          padding-bottom .08rem
          border-bottom 1px solid $h5-asset-border
          line-height .2rem
          label
            font-size .14rem
            color $h5-asset-font-weight
            img
              height .2rem
              width .2rem
              margin-right .06rem
              vertical-align -.05rem
          a
            float right
            color $h5-asset-font-normal
            font-size .12rem
        .d2
          padding .08rem 0 .05rem 0
          p
            display inline-block
            vertical-align top
            width 50%
            span
              color $h5-asset-font-light
              font-size .12rem
              display block
              line-height .16rem
              margin-bottom .08rem
            i
              font-size .14rem
              color $h5-asset-font-normal




