.asset-mb
  position relative
  .balance-detail
    font-family PingFangSC-Medium
    .detail
      padding 0 .12rem
      .d1
        padding .18rem 0
        img
          width .44rem
          height .44rem
          border-radius 50%
          float left
          margin-top .05rem
        b
          display block
          margin-left .55rem
          font-size .24rem
          line-height .37rem
          color $h5-asset-font-normal
        span
          display block
          margin-left .55rem
          font-size .12rem
          line-height .17rem
          color $h5-asset-font-light
      .d2
        border-bottom .01rem solid $h5-asset-bg
        padding-bottom .12rem
        p
          display inline-block
          vertical-align top
          width 50%
          span
            display block
            font-size .12rem
            color $h5-asset-font-light
            line-height .17rem
          i
            font-size .14rem
            color $h5-asset-font-normal
            line-height .2rem
            margin-top .04rem
            display block
      .d3
        padding .12rem 0 .2rem 0
        p
          line-height .3rem
          span
            font-size .14rem
            color $h5-asset-font-light
          i
            font-size .14rem
            color $h5-asset-font-normal
            float right


      .to-trade
        margin 0 -.12rem
        h3
          height .44rem
          line-height .44rem
          background $h5-asset-bg
          font-size .16rem
          color $h5-asset-font-active
          padding 0 .12rem
        p
          padding .12rem
          display flex
          flex-wrap wrap
          a
            background $h5-asset-bg
            width 1rem
            height .4rem
            line-height .4rem
            padding 0 .05rem
            overflow hidden
            text-overflow ellipsis
            display inline-block
            color $h5-asset-font-normal
            font-size .15rem
            text-align center
            border-radius .01rem
            flex-shrink 0
            margin .06rem

    .footer
      box-shadow 0 -.04rem .2rem 0 rgba(0,0,0,0.20)
      background $h5-asset-bg
      position fixed
      bottom 0
      width 100%
      height .44rem
      color $h5-asset-font-active
      z-index 9999
      button
        width 50%
        text-align center
        display inline-block
        font-size .18rem
        line-height .44rem
        background transparent
        &.active
          background $h5-asset-font-active
          color $h5-asset-font-weight

    .coin-data
      position fixed
      top 100%
      margin-top -.88rem
      min-height calc(100vh)
      background $h5-asset-bg-weight
      padding-bottom .84rem
      &.show
        position absolute
        top 0
        margin-top 0
        .title
          background $h5-asset-bg-weight
      .title
        font-size 0.16rem
        height .44rem
        line-height .44rem
        background $h5-asset-bg
        padding 0 .12rem
        color $h5-asset-font-active
        display block
        img
          height .12rem
          width auto
          float right
          margin-top .16rem
      h3
        line-height .36rem
        font-size .16rem
        color $h5-asset-font-normal
        padding 0 .12rem
        border-bottom .01rem solid $h5-asset-bg
      .data-li
        line-height .36rem
        border-bottom .01rem solid $h5-asset-bg
        margin 0 .12rem
        label
          font-size .15rem
          color $h5-asset-font-light
        span
          font-size .14rem
          color $h5-asset-font-normal
          float right
      .detail
        label
          display block
          line-height .36rem
          font-size .15rem
          color $h5-asset-font-light
        p
          font-size .14rem
          color $h5-asset-font-normal
          text-align justify
          line-height .21rem





