@import "../../../common/css/variable.styl"
@import "../../../common/css/base.styl"

.asset-mb
  .charge
    font-family PingFangSC-Medium
    position relative
    .nav
      height .45rem
      line-height .45rem
      background $h5-foreground
      border-bottom .01rem solid $h5-border-weight
      position relative
      color $h5-color-weight
      h3
        text-align center
        font-size .18rem
        position absolute
        width 100%
        pointer-events none
      a
        font-size .14rem
        color $normal-white-color
        &.left
          float left
          margin-left .12rem
        &.right
          float right
          margin-right .12rem
          img
            height .2rem
            vertical-align -.04rem
    .filter
      padding 0 .12rem
      line-height .4rem
      height .4rem
      background $h5-foreground
      label
        color $h5-color-normal
        font-size .15rem
      b
        color $h5-color-normal
        margin-left .3rem
        font-size .15rem
      i
        color $h5-color-normal
        font-size .18rem
        float right
    .info
      margin-top .12rem
      margin-bottom .2rem
      padding 0 .2rem
      display flex
      flex-direction column
      align-items center
      .qrcode
        width 1.6rem
        height 1.6rem
        margin-top .4rem
        margin-bottom .4rem
        border .02rem solid $h5-color-weight
      .save-qrcode
        line-height .2rem
        margin .12rem 0 .4rem 0
        font-size .16rem
        color $h5-color-green
      input
        color $h5-color-normal
        font-size .15rem
        line-height .2rem
        border 0
        width 100%
        text-align center
        background none
      .copy-addr
        color $h5-color-green
        font-size .16rem
        margin .12rem 0 .4rem 0
      p
        color $h5-color-light
        font-size .14rem
        line-height .2rem
        margin .05rem 0
        text-align justify
        align-self: flex-start;

    .select
      position absolute
      top 0
      bottom 0
      width 100%
      background $h5-background
      ul
        li
          line-height .4rem
          border-bottom .01rem solid $h5-foreground
          padding 0 .12rem
          color $h5-color-normal
          font-size .15rem







