.asset-mb
  .charge
    font-family PingFangSC-Medium
    position relative
    .filter
      padding 0 .12rem
      line-height .45rem
      height .45rem
      background $h5-asset-bg
      display flex
      align-items center
      label
        color $h5-asset-font-normal
        font-size .15rem
      b
        color $h5-asset-font-normal
        margin-left .31rem
        font-size .16rem
        flex-grow 1
        &.gray
          color $h5-asset-font-light
          font-size .14rem
      img
        height .14rem
        width auto
    .info
      margin-top .12rem
      margin-bottom .2rem
      padding 0 .2rem
      display flex
      flex-direction column
      align-items center
      .qrcode
        width 1.6rem
        height 1.6rem
        margin .4rem 0
        border .04rem solid $h5-asset-font-weight
      .save-qrcode
        line-height .2rem
        margin .12rem 0 .4rem 0
        font-size .16rem
        color $h5-asset-font-active
      input
        color $h5-asset-font-normal
        font-size .15rem
        line-height .2rem
        border 0
        width 100%
        text-align center
        background none
      .copy-addr
        color $h5-asset-font-active
        font-size .16rem
        margin .12rem 0 .4rem 0
      p
        color $h5-asset-font-light
        font-size .14rem
        line-height .2rem
        margin .03rem 0
        text-align justify
        align-self: flex-start;


    .empty
      text-align center
      padding-top 1.55rem
      b
        font-size .16rem
        color $h5-asset-font-active
        display block
      i
        display block
        margin-top .05rem
        color $h5-asset-font-light
        font-size .14rem





