@import "../../../common/css/variable.styl"
@import "../../../common/css/base.styl"

.asset-mb
  .charge
    background $bg-light-color
    font-family PingFangSC-Medium
    .nav
      display flex
      height .4rem
      line-height .4rem
      padding 0 .12rem
      background $normal-white-color
      border-bottom .01rem solid $h5-border-light
      h3
        flex-grow 1
        text-align center
        font-weight bold
        font-size .18rem
      a
        font-size .14rem
        color $h5-color-blue
    .filter
      padding 0 .12rem
      line-height .4rem
      height .4rem
      background $normal-white-color
      label
        width .6rem
        color $h5-color-normal
        display inline-block
        font-size .14rem
      b
        color $h5-color-weight
        margin-left .3rem
        font-size .14rem
      i
        color $h5-color-light
        font-size .18rem
        float right
    .info
      margin-top .12rem
      padding 0 .2rem
      display flex
      flex-direction column
      align-items center
      background $normal-white-color
      .qrcode
        width 1.6rem
        height 1.6rem
        margin-top .4rem
        margin-bottom .4rem
      .save-qrcode
        line-height .2rem
        margin .12rem 0 .4rem 0
        font-size .16rem
        color $h5-color-blue
      input
        color $h5-color-weight
        font-size .14rem
        line-height .2rem
        border 0
      .copy-addr
        color $h5-color-blue
        font-size .16rem
        margin .12rem 0 .4rem 0
      p
        color $h5-color-light
        line-height .2rem
        margin .02rem 0
        text-align justify







