
.asset-mb
  .hist
    font-family PingFangSC-Medium
  .tab-ul
    display flex
    background $h5-asset-bg
    padding 0 .5rem
    justify-content space-between
    li
      padding 0 .12rem
      width .88rem
      line-height .43rem
      text-align center
      font-size .16rem
      border-bottom .02rem solid transparent
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      color $h5-asset-font-light
      &.active
        color $h5-asset-font-active
        border-color $h5-asset-font-active
  .hist-li
    background $h5-asset-bg
    margin .12rem
    padding 0 .12rem
    border-radius .02rem
    box-shadow 0 .01rem .03rem 0 rgba(0,0,0,.5)
    .d1
      line-height .36rem
      border-bottom .01rem solid $h5-asset-border
      label
        font-size .15rem
        color $h5-asset-font-weight
        img
          height .2rem
          margin-right .06rem
          vertical-align -.05rem
      span
        font-size .14rem
        float right
        &.success
          color $h5-asset-font-success
        &.fail
          color $h5-asset-font-fail
    .d2
      margin-top .1rem
      display flex
      padding .12rem 0
      p
        display inline-block
        vertical-align top
        flex-grow 1
        span
          display block
          color $h5-asset-font-light
          line-height .17rem
          margin-bottom .08rem
          font-size .12rem
        i
          color $h5-asset-font-normal
          font-size .15rem
          line-height .21rem
      p:last-of-type
        text-align right
        flex-grow 0

  .pagination-wrap
    margin .2rem 0 .4rem 0


