@import "../../../common/css/variable.styl"
@import "../../../common/css/base.styl"

.asset-mb
  .hist
    font-family PingFangSC-Medium
  .nav
    height .45rem
    line-height .45rem
    background $h5-foreground
    border-bottom .01rem solid $h5-border-weight
    position relative
    background $h5-color-blue
    color $h5-color-weight
    h3
      text-align center
      font-size .18rem
      position absolute
      width 100%
      pointer-events none
    a
      font-size .14rem
      color $h5-color-weight
      &.left
        float left
        margin-left .12rem
      &.right
        float right
        margin-right .12rem
  .tab-ul
    display flex
    background $h5-foreground
    li
      width 100%
      line-height .38rem
      text-align center
      font-size .16rem
      margin 0 .4rem
      border-bottom .02rem solid transparent
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      color $h5-color-light
      &.active
        color $h5-color-green
        border-color $h5-color-green
  .hist-li
    background $normal-white-color
    margin .12rem
    padding .12rem
    border-radius .02rem
    box-shadow: 0 .01rem .03rem 0 $h5-shadow-light
    .d1
      line-height .2rem
      padding-bottom .07rem
      border-bottom .01rem solid $h5-border-light
      label
        font-size .14rem
        color $h5-color-weight
        img
          height .2rem
          margin-right .06rem
          vertical-align -.05rem
      span
        font-size .14rem
        float right
        &.success
          color $h5-active-blue
        &.fail
          color $h5-active-yellow
    .d2
      margin-top .1rem
      display flex
      p
        display inline-block
        vertical-align top
        flex-grow 1
        span
          display block
          color $h5-color-light
          line-height .2rem
          margin-bottom .08rem
        i
          color $h5-color-normal
          font-size .14rem
      p:last-of-type
        text-align right
        flex-grow 0
  .kong
    margin-top .2rem
    height 4rem
    text-align center
    font-size .14rem
    color $h5-color-light
    letter-spacing 0
    background $icon-nothing no-repeat center 1rem
    background-size auto 1rem
    padding-top 2.2rem
    
  .pagination-wrap
    margin .2rem 0 .4rem 0


