.asset-mb
  .search
    .header
      height .44rem
      line-height .44rem
      position fixed
      top 0
      width 100%
      background $h5-asset-bg
      padding 0 .12rem
      display flex
      align-items center
      img
        height .14rem
        width auto
        position absolute
        left .22rem
      input
        height .32rem
        line-height .32rem
        background $h5-asset-bg-weight
        padding 0 .08rem 0 .3rem
        flex-grow 1
        border-radius .02rem
        border 0
        font-size .14rem
        color $h5-asset-font-light
      a
        font-size .15rem
        color $h5-asset-font-active
        margin-left .12rem
    .list1
      margin-top .12rem
      h3
        line-height .2rem
        height .26rem
        padding 0 .12rem
        color $h5-asset-font-light
        font-size .14rem
        img
          height .16rem
          width auto
          vertical-align  -.03rem
          float right
      p
        display flex
        flex-wrap wrap
        padding 0 .06rem
        a
          background $h5-asset-bg
          width .76rem
          height .32rem
          line-height .32rem
          text-align center
          display inline-block
          color $h5-asset-font-normal
          font-size .15rem
          border-radius .02rem
          flex-shrink 0
          margin .06rem
    .list2
      padding 0 .12rem
      margin-top .12rem
      h3
        font-size .14rem
        color $h5-asset-font-light
        line-height .2rem
        height .3rem
      .li
        height .44rem
        line-height .44rem
        border-bottom .01rem solid $h5-asset-bg
        label
          b
            font-size .15rem
            color $h5-asset-font-normal
          i
            font-size .12rem
            color $h5-asset-font-light
            margin-left .12rem
        span
          float right
          font-size .15rem
          color $h5-asset-font-normal
    .empty
      margin-top 2rem
      text-align center
      b
        font-size .16rem
        line-height .22rem
        color $h5-asset-font-active
        display block
      i
        font-size .14rem
        line-height .2rem
        color $h5-asset-font-light
        display block
        margin-top .05rem
