.asset-mb
  .search
    .header
      height .44rem
      line-height .44rem
      position fixed
      top 0
      width 100%
      background $h5-asset-bg
      padding 0 .12rem
      display flex
      align-items center
      img
        height .14rem
        width auto
        margin-left -.14rem
      input
        height .32rem
        line-height .32rem
        background $h5-asset-bg-weight
        padding 0 .08rem 0 .22rem
        flex-grow 1
      a
        font-size .15rem
        color $h5-asset-font-active
        