.asset-mb
  .select
    padding 0 .12rem
    .li
      height .44rem
      line-height .44rem
      border-bottom .01rem solid $h5-asset-bg
      display flex
      align-items center
      span
        font-size .15rem
        color $h5-asset-font-normal
        flex-grow 1
      img
        width .2rem
        height auto

