@import "../../../common/css/variable.styl"

// 资产颜色
$h5-asset-bg = $col2B2D
$h5-asset-bg-weight = $col2120

$h5-asset-border = $col2120

$h5-asset-font-weight = $colFEFE
$h5-asset-font-normal = $colD6D6
$h5-asset-font-light = $col8485

$h5-asset-font-active = $col9370
$h5-asset-font-success = $col8534
$h5-asset-font-fail = $col4740





