@import "../../../common/css/variable.styl"

// 资产颜色
$h5-asset-bg = $h5-foreground
$h5-asset-bg-weight = $h5-background

$h5-asset-border = $h5-border-weight

$h5-asset-font-weight = $h5-color-weight
$h5-asset-font-normal = $h5-color-normal
$h5-asset-font-light = $h5-color-light

$h5-asset-font-active = $h5-color-green
$h5-asset-font-success = $h5-color-orange
$h5-asset-font-fail = $h5-color-red





