@import "../../../common/css/variable.styl"
@import "../../../common/css/base.styl"
.help-wrap
  padding-top 0.5rem
  h3
    font-size 0.18rem
    letter-spacing 0.0129rem
    line-height 0.25rem
    text-align left
  .title
    margin-bottom 0.3rem
    font-size 0.22rem
    color $normal-black-color
    letter-spacing 0.0157rem
    text-align center
  .help-terms
    color $normal-black-color
    margin-bottom 0.74rem
    p,li
      margin-bottom 0.1rem
      font-size 0.14rem
      letter-spacing 0.01rem
      text-align left
      line-height 0.25rem
    h3
      margin 0.3rem 0
    ol
      li
        padding 0.05rem 0
        margin 0
  .help-api
    color $normal-black-color
    .title
      margin 0.05rem 0 0.1rem 0
    span
      font-size 0.14rem
      padding 0 0.05rem 0
      font-family NotoSansHans-Regular
      display inline-block
      height 0.19rem
      line-height 0.19rem
      color $negative-color
      background $negative-opacity-color
      border-radius(0.04rem)
    h3
      margin 0.05rem 0 0.1rem 0
    .content
        font-size 0.14rem
        letter-spacing 0.01rem
        text-align left
        margin 0.25rem 0 0.35rem 0.4rem
        ol
          li
            margin-bottom  0.1rem
            line-height 0.23rem
        pre
          display block
          padding 0.095rem 0.095rem 0.095rem 0.2rem
          margin 0.1rem 0 0.1rem 0
          font-size 0.13rem
          line-height 1.42857143
          word-break break-all
          word-wrap break-word
          background-color $bg-dark-color
          border-radius(0.02rem)
          code
            font-family NotoSansHans-Regular
            font-size 0.14rem
            text-align justify
            background none
    .summarize
        p
          text-indent 0.15rem
          line-height 0.22rem
    .api-list
      margin 0.2rem 0 0
      table
        text-align left
        td,th
          height 0.52rem
          padding-left 0.34rem
          line-height 0.52rem
          border 0.01rem solid $bg-dark-color
        thead
          tr
            background-color $api-table-gray-color
            th:first-child
              width 2rem
            th:nth-child(2)
              width 2.2rem
            th:nth-child(3)
              width 7.5rem
      ol
        li:nth-child(3)
          text-indent 1em
      h5
        margin 0.3rem 0 0.2rem 0
        span
          height 0.23rem
          line-height 0.23rem
          font-size 0.18rem
  .help-pricing
    color $normal-black-color
    .title
      text-align left
    table
      th
        color $normal-gray-color
      td,th
        vertical-align middle
        height 0.52rem
        font-size 0.14rem
        border 0.01rem solid $bg-dark-color
      thead
        background-color $api-table-gray-color
    .standard
      margin 0.45rem 0 0.35rem
      text-align center
      thead
        tr
          th:nth-child(1)
            width 2.36rem
          th:nth-child(2)
            width 2.36rem
          th:nth-child(3)
            width 2.94rem
          th:nth-child(4)
            width 3.73rem
    ul
      margin-bottom 0.5rem
      li
        width 11.38rem
        font-size 0.14rem
        letter-spacing 0.0006rem
        line-height 0.28rem
        margin 0
        text-align justify
    .pircing-trade
      ul
        padding-top 0.2rem
      table
        text-align center
        margin-bottom 0.75rem
        thead
          tr
            th:nth-child(1)
              width 5.38rem
            th:nth-child(2)
              width 3rem
            th:nth-child(3)
              width 3rem
    .score-grow
       table
        text-align left
        margin-bottom 0.75rem
        td,th
          text-indent 2em
        thead
          tr
            th:nth-child(1)
              width 3.17rem
            th:nth-child(2)
              width 3.39rem
            th:nth-child(3)
              width 4.83rem