@import "../../../common/css/variable.styl"
@import "../../../common/css/base.styl"
.help-wrap
  background-color $normal-black-color
  .route
    padding-top 0.5rem
  h3
    font-size 0.18rem
    letter-spacing 0.0129rem
    line-height 0.25rem
    text-align left
  .title
    margin-bottom 0.3rem
    font-size 0.22rem
    color $normal-font-color
    letter-spacing 0.0157rem
    text-align center
  //服务协议
  .help-terms
    color $normal-font-color
    margin-bottom 0.74rem
    p,li
      margin-bottom 0.1rem
      font-size 0.14rem
      letter-spacing 0.01rem
      text-align left
      line-height 0.25rem
    h3
      margin 0.3rem 0
    ol
      li
        padding 0.05rem 0
        margin 0
  //api文档
  .help-api
    color $normal-font-color
    .title
      margin 0.05rem 0 0.1rem 0
    span
      font-size 0.14rem
      padding 0 0.05rem 0
      font-family NotoSansHans-Regular
      display inline-block
      height 0.19rem
      line-height 0.19rem
      color $negative-color
      background $negative-opacity-color
      border-radius(0.04rem)
    h3
      margin 0.05rem 0 0.1rem 0
    .content
        font-size 0.14rem
        letter-spacing 0.01rem
        text-align left
        margin 0.25rem 0 0.35rem 0.4rem
        ol
          li
            margin-bottom  0.1rem
            line-height 0.23rem
        pre
          display block
          padding 0.095rem 0.095rem 0.095rem 0.2rem
          margin 0.1rem 0 0.1rem 0
          font-size 0.13rem
          line-height 1.42857143
          word-break break-all
          word-wrap break-word
          background-color $bg-dark-color
          border-radius(0.02rem)
          code
            font-family NotoSansHans-Regular
            font-size 0.14rem
            text-align justify
            background none
    .summarize
        p
          text-indent 0.15rem
          line-height 0.22rem
    .api-list
      margin 0.2rem 0 0
      table
        text-align left
        td,th
          height 0.52rem
          padding-left 0.34rem
          line-height 0.52rem
          border 0.01rem solid $exchange-border
        thead
          tr
            background-color $line-dark-a
            th:first-child
              width 2rem
            th:nth-child(2)
              width 2.2rem
            th:nth-child(3)
              width 7.5rem
      ol
        li:nth-child(3)
          text-indent 1em
      h5
        margin 0.3rem 0 0.2rem 0
        span
          height 0.23rem
          line-height 0.23rem
          font-size 0.18rem
  //费率标准
  .help-pricing
    color $normal-font-color
    width 11.4rem
    margin 0 auto
    .title
      text-align left
    table
      th
        color $normal-gray-color
      td,th
        vertical-align middle
        height 0.52rem
        font-size 0.14rem
        border 0.01rem solid $exchange-border
      thead
        background-color $line-dark-a
    .standard
      margin 0.45rem 0 0.35rem
      text-align center
      thead
        tr
          th:nth-child(1)
            width 2.36rem
          th:nth-child(2)
            width 2.36rem
          th:nth-child(3)
            width 2.94rem
          th:nth-child(4)
            width 3.73rem
    ul
      margin-bottom 0.5rem
      li
        width 11.38rem
        font-size 0.14rem
        letter-spacing 0.0006rem
        line-height 0.28rem
        margin 0
        text-align justify
    .pircing-trade
      ul
        padding-top 0.2rem
      table
        text-align center
        margin-bottom 0.75rem
        thead
          tr
            th:nth-child(1)
              width 5.38rem
            th:nth-child(2)
              width 3rem
            th:nth-child(3)
              width 3rem
    .score-grow
       table
        text-align left
        margin-bottom 0.75rem
        td,th
          text-indent 2em
        thead
          tr
            th:nth-child(1)
              width 3.17rem
            th:nth-child(2)
              width 3.39rem
            th:nth-child(3)
              width 4.83rem
  // 币种资料
  .help-coin
    width 10.8rem
    margin 0 auto
    color $normal-font-color
    .title
      margin-bottom 0.5rem
      font-size 0.14rem
      text-align left
      a
        cursor pointer
        &:hover
          color $main-color-hover
        &:active
          color $main-color-active
    .search
      margin 0 0 1rem 1.27rem
      height 0.4rem
      .input
        float left
        width 6rem
        height 0.4rem
        margin-right 0.44rem
        .search2
          &::after
            width 0.52rem
          input
            width 100%
            height 100%
            font-size 0.18rem
            padding-left 0.2rem
          .search-list
            position relative
            width 100%
            background $normal-white-color
            border 0.01rem solid $line-light
            z-index 99
            li
              height 0.35rem
              padding-left 0.2rem
              font-size 0.16rem
              line-height 0.35rem
              cursor pointer
              &:hover
                background $bg-dark-color
      button
        float left
        width 0.46rem
        height 100%
        font-size 0.26rem
        color $normal-white-color
        background-color $coinData-gray
        cursor pointer
        &.active
          background-color $main-color
        &:nth-child(2)
          border-radius(0.02rem 0 0 0.02rem)
        &:nth-child(3)
          border-radius(0 0.02rem 0.02rem 0)
    .content
      position relative
      padding-left 1rem
      color $normal-gray-color
      img
        position absolute
        top 0
        left 0
        width 0.66rem
        height 0.66rem
      .info
        margin-bottom 0.5rem
        color $normal-font-color
        .left
          float left
          min-width 2.02rem
          padding-right 0.32rem
          border-right 1px solid $line-dark
          p:nth-child(1)
            font-size 0.18rem
            margin-bottom 0.2rem
          p:nth-child(2)
            font-size 0.28rem
            margin-bottom 0.2rem
          a:nth-child(3)
            font-size 0.14rem
            color $main-color
            text-decoration underline
            cursor pointer
            &:hover
              color $main-color-hover
            &:active
              color $main-color-active
        .right
          float left
          font-size 0.14rem
          padding-left 0.3rem
          p
            overflow hidden
          span
            float left
          span:nth-child(1)
            width 2.82rem
          p:nth-child(1)
            margin 0.03rem 0 0.28rem 0
            span:nth-child(2)
              min-width 2.08rem
          p:nth-child(2)
            margin 0 0 0.28rem 0
          P:nth-child(3)
            span
              width 0.72rem
            a
              margin-right 0.16rem
              color $main-color
              text-decoration underline
              cursor pointer
              &:hover
                color $main-color-hover
              &:active
                color $main-color-active
      .detail
        p
          width 8.7rem
          line-height 0.3rem
          letter-spacing 0
        .button
          height 0.36rem
          margin-top 0.27rem
          a,button
            float left
            height 0.36rem
            line-height 0.36rem
            margin-right 0.2rem
          a:nth-child(1)
            width 0.7rem
          a:nth-child(2)
            width 1.26rem
          a:nth-child(3)
            width 0.9rem