@import "../../../common/css/index.styl"
  $help-bg-main = $colB789
  $help-bg-normal = $col3335
  $help-bg-negative-op = $cola28814
  $help-bg-deep = $col292B
  $help-bg-medium = $cola1221

  $help-font-normal = $colD6D6
  $help-font-minor = $cola2225
  $help-font-none = $colFFFF
  $help-font-main = $colB789
  $help-font-main-hover = $colCDA1
  $help-font-main-active = $col996F
  $help-font-negative = $col5656
  $help-font-content = $cola2228


  $help-line-normal = $col292B

  $help-border-minor = $col6268
