@import "../../../common/css/index.styl"
  $help-bg-main = $main-color
  $help-bg-normal = $normal-black-color
  $help-bg-negative-op = $negative-opacity-color
  $help-bg-deep = $bg-dark-color
  $help-bg-medium = $line-dark-a

  $help-font-normal = $normal-font-color
  $help-font-minor = $normal-gray-color
  $help-font-none = $normal-white-color
  $help-font-main = $main-color
  $help-font-main-hover = $main-color-hover
  $help-font-main-active = $main-color-active
  $help-font-negative = $negative-color
  $help-font-content = $coinData-gray


  $help-line-normal = $line-dark

  $help-border-minor = $exchange-border
