@import "../../../common/css/variable.styl"
@import "../../../common/css/base.styl"
.invite{
  padding: 0.2*3.84rem 0.12*3.84rem 0 0.12*3.84rem;
  margin-bottom: 0.12*3.84rem;
}
/* 文案部分 */
.invite h3{
  font-size: 0.16*3.84rem;
  color: $normal-black-color;
  line-height: 0.16*3.84rem;
  margin-bottom: 0.16*3.84rem;
}
.invite dl dt, .invite dl dd p{
  height: 0.13*3.84rem;
  font-size: 13px;
  color: #46566A;
  line-height: 13px;
  margin-bottom: 0.16*3.84rem;
}
.invite dl dd h4, .invite .welfare{
  font-size: 15px;
  color: $normal-black-color;
  line-height: 15px;
  margin-bottom: 0.12*3.84rem;
}
.invite .welfare{
  font-weight: bold;
  margin-bottom: 0.16*3.84rem;
}
.invite .welfare span{
  margin: 0 0.07*3.84rem;
  color: #069AF7;
}
/* 海报部分 */
.invite .poster{
  text-align: center;
}
.invite .poster .up{
  height: 5.00*3.84rem;
  padding-top: 0.24*3.84rem;
  background: url(/static/images/genrealize/invite_bg1.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.invite .poster .down{
  height: 5.9*3.84rem;
  background: url(/static/images/genrealize/invite_bg2.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.invite .poster .up .header{
  height: 0.55*3.84rem;
  line-height: 0.4*3.84rem;
  font-size: 0.2*3.84rem;
  color: #ff5142;
  margin-bottom: 0.12*3.84rem;
  font-weight: bold;
  background: url(/static/images/genrealize/invite_header_bg.png) no-repeat center center;
  background-size: auto 100%;
}
.invite .poster .up .wait{
  height: 1.53*3.84rem;
  margin-bottom: 0.20*3.84rem;
  background: url(/static/images/genrealize/invite_wait.png) no-repeat center center;
  background-size: auto 100%;
}
.invite .poster .up .code-text{
  line-height: 0.26*3.84rem;
  margin-bottom: 0.16*3.84rem;
  color: $normal-white-color;
  font-size: 0.18*3.84rem;
}
.invite .poster .up .code-text span{
  margin: 0 0.07*3.84rem;
  color: #fbf288;
  font-size: 0.23*3.84rem;
}
.invite .poster .up .qrcode{
  position: relative;
  height: 1.36*3.84rem;
}
.invite .poster .up .qrcode .qrcode-wrap{
  position: absolute;
  left: 50%;
  margin-left: -0.68*3.84rem;
  width: 1.28*3.84rem;
  height: 1.28*3.84rem;
  border: 0.04*3.84rem solid $normal-white-color;
  border-radius: 0.1*3.84rem
}
.invite .poster .up .qrcode .qrcode-wrap canvas {
  display block
  position absolute
  left 7.5%
  top 7.5%
  width 85% !important
  height 85% !important
  border 0.05*3.84rem solid $normal-white-color
}
.invite .poster .down .crt-intro-header{
  height: 0.55*3.84rem;
  line-height: 0.4*3.84rem;
  font-size: 0.25*3.84rem;
  color: #7380f0;
  margin-bottom: 0.16*3.84rem;
  font-weight: bold;
  background: url(/static/images/genrealize/invite_crt_bg.png) no-repeat center center;
  background-size: auto 100%;
}
.invite .poster .down .crt-intro-text1{
  padding:  0 0.12*3.84rem;
  text-align: left;
  font-size: 0.15*3.84rem;
  color: $normal-white-color;
  line-height: 0.24*3.84rem;
}
.invite .poster .down .crt-intro-text2{
  padding:  0 0.12*3.84rem;
  text-align: left;
  font-size: 0.16*3.84rem;
  font-weight: bold;
  letter-spacing: -0.01rem;
  color: #fbf288;
  margin-bottom: 0.36*3.84rem;
}
.invite .poster .down .crt-func-header{
  height: 0.55*3.84rem;
  line-height: 0.4*3.84rem;
  font-size: 0.25*3.84rem;
  color: #7380f0;
  margin-bottom: 0.24*3.84rem;
  font-weight: bold;
  background: url(/static/images/genrealize/invite_crt_func.png) no-repeat center center;
  background-size: auto 100%;
}
.invite .poster .down .crt-func-intro{
  text-align: left;
  padding: 0 0.12*3.84rem;
  color: $normal-white-color;
  font-size: 0.16*3.84rem;
  margin-bottom: 0.15*3.84rem;
}
.invite .poster .down .crt-func{
  width: 3.24*3.84rem;
  margin-left: 0.13*3.84rem;
  margin-bottom: 0.28*3.84rem;
}
.invite .poster .down .crt-func h5{
  margin-bottom:0.05*3.84rem
}
.invite .poster .down .crt-func li{
  box-sizing: border-box;
  float: left;
  width: 1.62*3.84rem;
  height: 0.7*3.84rem;
  background: url(/static/images/genrealize/value.png) no-repeat 0.1*3.84rem center $normal-white-color;
  background-size: 0.4*3.84rem auto;
  padding: 0.18*3.84rem 0 0 0.55*3.84rem;
}
.invite .poster .down .crt-func li h5{
  font-size: 0.16*3.84rem;
  font-weight: bold;
  text-align: left;
  color: #636262;
}
.invite .poster .down .crt-func li p{
  font-size: 0.12*3.84rem;
  color: #80807f;
  text-align: left;
}
.invite .poster .down .crt-func .value,.invite .poster .down .crt-func .usage{
  border-right: 0.01*3.84rem solid rgba(255,0,0,0.2);
  border-bottom: 0.01*3.84rem solid rgba(255,0,0,0.2)
}
.invite .poster .down .crt-func .cost,.invite .poster .down .crt-func .welfa{
  background-image: url(/static/images/genrealize/welfa.png);
  border-bottom: 0.01*3.84rem solid rgba(255,0,0,0.2)
}
.invite .poster .down .crt-func .usage{
  background-image: url(/static/images/genrealize/usage.png);
}
.invite .poster .down .crt-func .interesting{
  border-right: 0.01*3.84rem solid rgba(255,0,0,0.2);
}
.invite .poster .down .crt-func .value {
  border-radius: 0.1*3.84rem 0 0 0;
}
.invite .poster .down .crt-func .cost{
  background-image: url(/static/images/genrealize/cost.png);
  border-radius: 0 0.1*3.84rem 0 0;
}
.invite .poster .down .crt-func .interesting{
  background-image: url(/static/images/genrealize/interesting.png);
  border-radius: 0 0 0 0.1*3.84rem;
}
.invite .poster .down .crt-func .more{
  background-image: url(/static/images/genrealize/more.png);
  border-radius: 0 0 0.1*3.84rem 0;
}

.invite .poster .down .coming-soon{
  font-size: 0.16*3.84rem;
  height: 0.16*3.84rem;
  line-height: 0.16*3.84rem;
  color: rgba(255,255,255,0.6)
}