@import "../../../common/css/variable.styl"

.home-wrap-mb
  font-family PingFangSC-Medium
  //推荐交易对
  .recommend
    width 100%
    background $normal-white-color
    .noscroll
      overflow hidden
      height .9rem;
    .ul-wrap
      overflow auto
      width 100%
      position relative
      padding .15rem 0 .3rem 0
      height 1.05rem
      ul
        position absolute
        white-space nowrap
        height 0.6rem
        left 0
        li
          display inline-block
          padding 0.1rem
          margin 0 0.03rem
          height 100%
          background $normal-white-color
          min-width 1.48rem
          box-shadow 2px 2px 10px #ddd
          .p1
            span
              color $normal-black-color
              font-size .16rem
            img
              float right
              height 0.16rem
          .p2
            margin-top 0.1rem
            b
              margin-right .15rem
              font-size .15rem
              color $exchange-blue;
            i
              line-height 0.15rem
              font-size 0.12rem
              color $exchange-blue;
              float right
        li:first-child
          margin-left 0.1rem
        li:last-child
          margin-right 0.1rem
  //市场
  .market
    background $normal-white-color
    padding 0 0.12rem
    margin .12rem 0
    ul
      display flex
      justify-content center
      height .4rem
      line-height .3rem
      padding .05rem 0
      margin-bottom .14rem
      li
        position relative
        font-size .13rem
        padding 0 .1rem
        color $h5-color-blue
        overflow hidden
        text-overflow ellipsis
        max-width 1rem
        white-space nowrap
        &.active
          color $normal-white-color
          background $index-blue
          box-shadow: 0 .07rem .3rem rgba(65, 139, 255, .4)
          border-radius .2rem
    table
      width 100%
      thead
        tr
          height .3rem
          line-height .3rem
          color $h5-color-light
      tbody
        tr
          line-height 0.24rem
          height 0.62rem
          td
            vertical-align middle
            img
              height .14rem
              vertical-align -.02rem
              margin-right .04rem
            span
              font-size 0.12rem
              color $h5-color-light
            h3
              font-size 0.14rem
              color $h5-color-weight
              small
                font-size 0.12rem
                color $h5-color-light
                margin-left .02rem
                vertical-align .01rem
            b
              font-size 0.14rem
              color $h5-color-normal
              display block
              &.up
                color $exchange-blue
              &.down
                color $exchange-red
            a
              font-size 0.15rem
              color $normal-white-color
              background $exchange-red
              padding 0.05rem
              border-radius 1px
              min-width .8rem
              display inline-block
              text-align center
      th:last-child, td:last-child
        text-align right
      th:first-child
        padding-left .12rem
      th:last-child
        padding-right .12rem









