@import "./variable"

.home-wrap-mb
  font-family PingFangSC-Medium

  //首页活动
  .banner-wrap-mb
    width 100%
    height 1.6rem
    position relative
    overflow hidden
    .banner-img
      position absolute
      top 0
      width 100%
      height 1.6rem
      animation: bgscale 10s ease-in-out infinite
    img
      position absolute
      top .5rem
      left 50%
      margin-left -1.5rem
      height .6rem
      width 3rem
      filter contrast(80%)
      z-index 100

    @keyframes bgscale {
      0% {
        transform: scale(1.05);
      }
      50% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.05);
      }
    }

  //活动公告
  .home-notice-wrap
    position relative
    height .4rem
    padding .08rem 0
    background $h5-home-bg
    &.hide
      display none
    .home-notice-content
      position relative
      overflow hidden
      width 100%
      height .24rem
      ul
        position absolute
        width 100%
        li
          height .24rem
          line-height .24rem
          padding 0 .12rem
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          span
            color $h5-home-font-normal
          img
            height .16rem
            margin-right .07rem
            vertical-align -.03rem

  //市场
  .market
    margin-top .12rem
    ul
      display flex
      justify-content space-between
      height .36rem
      line-height .36rem
      background $h5-home-bg
      li
        font-size .13rem
        color $h5-home-font-light
        flex-grow 1
        text-align center
        span
          display inline-block
          padding 0 .08rem
          line-height .34rem
        &.active
          span
            color $h5-home-font-active
            border-bottom .02rem solid $h5-home-font-active
    .market-list
      padding 0 .12rem
      table
        width 100%
        thead
          tr
            height .3rem
            line-height .3rem
            border-bottom .01rem solid $h5-home-bg
            th
              font-size .12rem
              color $h5-home-font-light
        tbody
          tr
            line-height 0.24rem
            border-bottom .01rem solid  $h5-home-bg
            td
              vertical-align middle
            .td1
              display flex
              align-items center
              padding .08rem 0
              img
                height .2rem
                width .2rem
                vertical-align -.02rem
                margin-right .08rem
              .td1-r
                display inline-block
                span
                  font-size 0.12rem
                  color $h5-home-font-light
                  white-space nowrap
                h3
                  font-size 0.17rem
                  color $h5-home-font-light
                  small
                    font-size 0.12rem
                    color $h5-home-font-weight
                    margin-left .02rem
                    vertical-align .02rem
            .td2
              b
                font-size 0.14rem
                color $h5-home-font-up
                display block
              span
                font-size 0.13rem
                color $h5-home-font-light
            .td3
              a
                font-size 0.15rem
                color $h5-home-font-weight
                padding 0.05rem
                border-radius 1px
                min-width .8rem
                display inline-block
                text-align center
                &.up
                  background $h5-home-font-up
                &.down
                  background $h5-home-font-down
        th:last-child, td:last-child
          text-align right
        th:first-child
          padding-left .12rem
        th:last-child
          padding-right .12rem









