@import "../../../common/css/variable.styl"

.home-wrap-mb
  font-family PingFangSC-Medium
  //市场
  .market
    margin-top .12rem
    ul
      display flex
      justify-content space-between
      height .36rem
      line-height .36rem
      background $h5-foreground
      li
        font-size .13rem
        color $h5-color-light
        flex-grow 1
        text-align center
        span
          display inline-block
          padding 0 .08rem
          line-height .34rem
        &.active
          span
            color $h5-color-green
            border-bottom .02rem solid $h5-color-green
    .market-list
      padding 0 .12rem
      table
        width 100%
        thead
          tr
            height .3rem
            line-height .3rem
            border-bottom .01rem solid $h5-foreground
            th
              font-size .12rem
              color $h5-color-light
        tbody
          tr
            line-height 0.24rem
            height 0.62rem
            border-bottom .01rem solid $h5-foreground
            td
              vertical-align middle
            .td1
              img
                height .2rem
                width .2rem
                vertical-align -.02rem
                margin-right .04rem
                float left
                position relative
                top .14rem
              span
                margin-left .32rem
                font-size 0.12rem
                color $h5-color-light
                white-space nowrap
              h3
                margin-left .32rem
                font-size 0.17rem
                color $h5-color-weight
                small
                  font-size 0.12rem
                  color $h5-color-weight
                  margin-left .02rem
                  vertical-align .02rem
            .td2
              b
                font-size 0.14rem
                color $h5-color-green
                display block
              span
                font-size 0.13rem
                color $h5-color-light
            .td3
              a
                font-size 0.15rem
                color $h5-color-weight
                padding 0.05rem
                border-radius 1px
                min-width .8rem
                display inline-block
                text-align center
                &.up
                  background $h5-color-green
                &.down
                  background $h5-color-red
        th:last-child, td:last-child
          text-align right
        th:first-child
          padding-left .12rem
        th:last-child
          padding-right .12rem









