@import "../../../common/css/variable"

$h5-home-background = $h5-background
$h5-home-foreground = $h5-foreground

$h5-home-color-normal = $h5-color-normal
$h5-home-color-light = $h5-color-light
$h5-home-color-weight = $h5-color-weight

$h5-home-color-up = $h5-color-green
$h5-home-color-down = $h5-color-red

$h5-home-color-active = $h5-color-green



