@import "../../../common/css/variable"

$h5-home-bg-main = $h5-background
$h5-home-bg-minor = $h5-foreground

$h5-home-font-normal = $h5-color-normal
$h5-home-font-light = $h5-color-light
$h5-home-font-weight = $h5-color-weight


$h5-home-font-up = $h5-color-green
$h5-home-font-down = $h5-color-red

$h5-home-font-active = $h5-color-green



