@import "../../../common/css/variable"

$h5-home-bg = $col2B2D

$h5-home-font-normal = $colD6D6
$h5-home-font-light = $col8485
$h5-home-font-weight = $colFEFE


$h5-home-font-up = $col9370
$h5-home-font-down = $col4740

$h5-home-font-active = $col9370



