{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    [
     "transform-es2015-classes",
      {
      "loose": true
      }
    ],
     "transform-proto-to-assign",
    "syntax-dynamic-import",
    ["transform-es2015-template-literals", {
      "loose": true,
      "spec": true
    }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}
