@import "../../css/variable.styl"

.calendar-wrap
  position relative
  .input-wrap
    &:before
      position absolute
      top .07rem
      right .05rem
      width .2rem
      height .2rem
      content ''
      background url(/static/img/calendar/calendar_lan.svg) no-repeat
      background-size 1.25rem 1.25rem
    input
      box-sizing()
      width 1.80rem
      height .36rem
      padding-left .1rem
      margin-bottom .05rem
      font-size .14rem
      line-height .36rem
      background #FFF
      border .01rem solid #C0CCDA
      border-radius (.04rem)
      &.active
        border .01rem solid #0080D0
      &::-webkit-input-placeholder
        font-size .14rem
      &::-moz-placeholder
        font-size .14rem

.calendar
  position absolute
  z-index 22
  box-sizing()
  width 2.58rem
  padding .16rem .26rem .18rem
  background #FFF
  border .01rem solid #D3DCE6
  box-shadow 0 .02rem .04rem 0 rgba(0, 0, 0, 0.12), 0 0 .06rem 0 rgba(0, 0, 0, 0.04)
  border-radius (.02rem)
  text-align center
  font-size .14rem
  h3
    margin 0 auto .16rem
    font-size .14rem
    font-weight normal
    color #475669
    img
      position relative
      top 0
      cursor pointer
      &.pre-year-img, &.next-year-img
        width .12rem
        height .12rem
      &.pre-month-img, &.next-month-img
        width .12rem
        height .12rem
      &.pre-month-img
        margin-left .2rem
        margin-right .12rem
      &.next-month-img
        margin-left .12rem
        margin-right .2rem
    i
      cursor pointer
      &.year-i
        margin-right .05rem
  table
    width 100%
    thead
      color #8492A6
    tbody
      td
        width .32rem
        height .28rem
        padding
        &.is-disabled, &.today-disabled
          color #E1E1E1
          pointer-events none
          cursor not-allowed
        &.today-text
          color #0080D0
        &.active-text:hover
          cursor pointer
          background #E5E9F2
        &.active-set:hover
          cursor pointer
          color #0080D0
        &.active
          color #FFF
          background #0080D0
          &:hover
            color #FFF
            background #0080D0

  .calendar-content
    font-size .12rem
