@import "../../../common/css/index.styl"
  $asset-bg-main = $normal-black-color
  $asset-bg-active = $main-bg-active
  $asset-slide-main = $main-color

  $asset-font-normal = $normal-font-color
  $asset-font-minor = $normal-gray-color
  $asset-font-fullname = $main-color

  $asset-title-main = $main-color
  $asset-title-main-hover = $main-color-hover
  $asset-title-main-active = $main-color-active

  $asset-line-main = $line-dark


