@import "../../../common/css/variable.styl"
// @import "../../../common/css/base.styl"
.asset
  .charge
    padding 0.32rem 0 0.45rem 0.3rem
    border-left 0.01rem solid $line-dark
    a
      color $main-color
      &:hover
        color $main-color-hover
      &:active
        color $main-color-active
    h3
      height 0.2rem
      margin-bottom 0.63rem
      font-size 0.2rem
      color $normal-font-color
      letter-spacing 0.0008rem
      text-align justify
    .select
      margin-bottom 0.4rem
      .search
        .title
          float left
          width 1.58rem
          font-size 0.15rem
          color $normal-font-color
          letter-spacing 0
        .currency-asset
          float left
          width 4.56rem
          .input
            height 0.4rem
            margin-bottom 0.09rem
            .search-list
              position relative
              width 100%
              border 1px solid $line-dark
              background-color $normal-input-color
              z-index 99
              &.hide
                display none
              li
                padding-left 0.15rem
                background-color $normal-input-color
                cursor pointer
                &:hover
                  color $normal-font-color
                  background-color $main-color
          ul
            width 3.84rem
            li
              width 100%
              height 0.32rem
              line-height 0.32rem
              span
                float left
              i
                float right
    .address
      width 9.52rem
      height 2.15rem
      padding .24rem 0 0 .2rem
      margin-bottom 0.45rem
      background-color $bg-medium-color
      .tips
        margin-bottom 0.32rem
        fz11()
        color $negative-color
        letter-spacing 0
      .currency-address
        margin-bottom 0.24rem
        .title
          width 1.39rem
          float left
          font-size 0.14rem
          color $normal-font-color
          letter-spacing 0
        input
          float left
          width 4.56rem
          height 0.4rem
          line-height 0.4rem
          padding-left 0.1rem
          border-radius(0.02rem)
          color $normal-font-color
          background $normal-input-color
          border 0.01rem solid $line-dark
          border-radius 0.02rem
      .handel
        position relative
        margin-left 1.39rem
        button
          width 1.5rem
          height 0.4rem
          line-height 0.4rem
          margin-right 0.44rem
        .qrcode
          display none
          position absolute
          top -0.25rem
          left 0
          width 1.5rem
          height 1.5rem
          border 0.01rem solid $line-light;
          background $normal-font-color
          &.show
            display block
          canvas
            position absolute
            left 0.11rem
            top 0.11rem
            width 1.28rem !important
            height 1.28rem !important
    .tip
      width 9.52rem
      padding-bottom 0.44rem
      border-bottom 0.01rem solid $line-light
      .title
        float left
        width 1.78rem
        font-size 0.15rem
        color $normal-font-color
        letter-spacing 0
      ol
        float left
        li
          list-style-type disc
          width 100%
          font-size 0.14rem
          line-height 0.14rem
          margin-bottom 0.14rem
          color $normal-font-color
          letter-spacing 0
          a
            font-size 0.14rem
    .to-trade
      width 9.52rem
      padding 0.44rem 0
      border-bottom 0.01rem solid $line-light
      .title
        float left
        width 1.58rem
        font-size 0.15rem
        color $normal-font-color
        letter-spacing 0
      .bts
        overflow hidden
      a
        float left
        margin-bottom 0.2rem
      button
        width 1rem
        height 0.34rem
        margin-right 0.2rem
    .history
      display flex
      justify-content flex-start
      width 9.52rem
      padding 0.44rem 0 0
      .title
        float left
        width 2.08rem
        height 100%
        font-size 0.15rem
        color $normal-font-color
        letter-spacing 0
      .kong
        float left
        width 7.5rem
        height 1rem
        line-height 1rem
        text-align center
        font-size 0.16rem
        color $normal-gray-color
        letter-spacing 0
      table
        float left
        margin-bottom 0.2rem
        text-align left
        th,td
          height 0.3rem
          font-size 0.13rem
          color $normal-gray-color
          letter-spacing 0
          &.time
            width 1.63rem
          &.currency
            width 0.73rem
          &.amount
            width 0.89rem
          &.send
            width 1.33rem
            text-align center
          &.receive
            width 2.3rem
          &.confirm, &.remark
            width 0.6rem
        td
          height 0.32rem
          line-height 0.32rem
          font-size 0.14rem
          color $normal-font-color
          letter-spacing 0
          i
            display block
            width 100%
            line-height 0.32rem
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
          &.receive
            i
              width 2rem
          &.amount
            i
              width 0.89rem
          a
            text-decoration underline
          span
            color $warn-color-hover
      .pagina
        float left
        width 100%
        padding-left 1.58rem
      .more
        padding-top 0.31rem
        text-align right
        float right