@import "../../../common/css/variable.styl"
@import "../../../common/css/base.styl"
.asset-message
  position absolute
  left 0
  top 0
  width 100%
  height 0.44rem
  padding-left 2.66rem
  line-height 0.44rem
  background-color $message-bg-color
  ul
    li
      float left
      margin-right 0.77rem
      font-size 0.13rem
      color $normal-black-color
      letter-spacing 0
    .asset-message-title
      position relative
      padding-left 0.24rem
      margin-right 0.1rem
      background url('/static/images/new.png') no-repeat 0 0.12rem
      background-size 0.2rem 0.2rem
