@import "../../../common/css/variable.styl"
@import "../../../common/css/base.styl"
.asset
  .extract
    padding 0.32rem 0 0.45rem 0.3rem
    border-left 0.01rem solid $line-dark
    .title
      float left
      width 1.38rem
      font-size 0.15rem
      color $normal-font-color
      letter-spacing 0
    .content
      float left
      position relative
      width 4.56rem
    a
      color $main-color
      cursor pointer
      &:hover
        color $main-color-hover
      &:active
        color $main-color-active
    h3
      height 0.2rem
      margin-bottom 0.63rem
      font-size 0.2rem
      color $normal-font-color
      letter-spacing 0.0008rem
      text-align justify
    .select
      margin-bottom 0.4rem
      .title
        width 1.58rem
      .search
        .currency-asset
          float left
          width 4.56rem
          .input
            height 0.4rem
            margin-bottom 0.09rem
            .search-list
              position relative
              width 100%
              border 1px solid $line-dark
              background-color $normal-input-color
              z-index 99
              &.hide
                display none
              li
                padding-left 0.15rem
                background-color $normal-input-color
                cursor pointer
                &:hover
                  color $normal-font-color
                  background-color $main-color
          ul
            width 3.84rem
            li
              width 100%
              height 0.32rem
              line-height 0.32rem
              span
                float left
              i
                float right
    .address
      width 9.52rem
      padding .24rem 0 0.49rem .2rem
      margin-bottom 0.45rem
      background-color $bg-medium-color
      .tips
        margin-bottom 0.32rem
        fz11()
        color $negative-color
        letter-spacing 0
      .currency-address
        margin-bottom 0.46rem
        .content
          width 7rem
          .select-address
            float left
            width 4.56rem
            height 0.4rem
            line-height 0.4rem
            margin-right 0.2rem
            border-radius(0.02rem)
            background $normal-input-color
            border-radius 0.02rem
            .search-list
              position absolute
              left 0
              top 0.4rem
              width 100%
              background $normal-input-color
              box-shadow: 6px 0 6px 0 rgba(0,0,0,0.06), 0 6px 6px 0 rgba(0,0,0,0.06);
              z-index 99
              li
                overflow hidden
                padding 0 0.1rem
                cursor pointer
                &:hover
                  background-color $bg-dark-color
                span
                  overflow hidden
                  float left
                  white-space nowrap
                  text-overflow ellipsis
                span:nth-child(1)
                  width 0.7rem
                span:nth-child(2)
                  width 0.05rem
                  height 0.4rem
                span:nth-child(3)
                  width 3.2rem
            .select-input
              position relative
              width 100%
              height 0.4rem
              line-height 0.4rem
              padding 0 10% 0 0.1rem
              border-radius(0.02rem)
              border 0.01rem solid $line-dark
              background $normal-input-color
              &::after
                position absolute
                top 0
                right 0
                content ''
                width 10.9%
                height 100%
                background $icon-xiala no-repeat center center
                background-size: auto 12%;
              &:hover
                border-color $main-color
              p
                width 100%
                height 100%
                overflow hidden
                span
                  overflow hidden
                  float left
                  white-space nowrap
                  text-overflow ellipsis
                span:nth-child(1)
                  width 0.7rem
                span:nth-child(2)
                  width 0.05rem
                  height 100%
                span:nth-child(3)
                  width 3.2rem
          a
            float left
            height 0.4rem
            line-height 0.6rem
            &:hover
              text-decoration underline
      .extract-amount
        margin-bottom 0.45rem
        .content
          .limit
            width 100%
            margin-bottom .14rem
            font-size 0.13rem
            color $normal-gray-color
            letter-spacing 0
            span
              margin-right 0.1rem
              color $negative-color
              &.asset-24hQuota
                float left
                color $normal-font-color
              &.apply
                float right
                color $normal-gray-color
                margin-right 0
            a
              float right
          .input
            position relative
            margin-bottom 0.14rem
            input
              width 100%
              height 0.4rem
              padding 0 2rem 0 0.1rem
              font-size 0.14rem
            a
              position absolute
              top 0.14rem
              right 0.2rem
              font-size 0.13rem
              text-decoration underline
            span
              position absolute
              right -0.54rem
              top .13rem
              font-size 0.16rem
              color $normal-font-color
              letter-spacing 0
          .fee
            p
              font-size 0.13rem
              color $normal-font-color
              letter-spacing 0
              margin-bottom 0.14rem
              span
                float right
                color $normal-font-color
                font-size 0.13rem
                letter-spacing 0
              &.explain
                margin-bottom 0
                font-size 0.12rem
                color $normal-gray-color
                letter-spacing 0
      .password
        margin-bottom 0.44rem
        .content
          input
            width 100%
            height 0.4rem
            padding 0 0.1rem 0 0.1rem
            font-size 0.14rem
            letter-spacing 0
          .set
            position absolute
            width 1.84rem
            bottom 0
            right -2rem
            font-size 0.14rem
      .handel
        position relative
        margin-left 1.39rem
        button
          width 1.5rem
          height 0.4rem
          line-height 0.4rem
          margin-right 0.44rem
        .qrcode
          display none
          position absolute
          top -0.55rem
          left 0
          width 1.5rem
          height 1.5rem
          border 0.01rem solid $line-light;
          background $normal-white-color
          &.show
            display block
    .tip
      width 9.52rem
      padding-bottom 0.44rem
      border-bottom 0.01rem solid $line-light
      .title
        width 1.78rem
      ol
        float left
        width 6rem
        li
          list-style-type disc
          font-size 0.14rem
          line-height 0.14rem
          margin-bottom 0.14rem
          color $normal-font-color
          letter-spacing 0
          a
            font-size 0.14rem
    .to-trade
      width 9.52rem
      padding 0.44rem 0
      border-bottom 0.01rem solid $line-light
      .title
        width 1.58rem
      .bts
        overflow hidden
      a
        float left
        margin-bottom 0.2rem
      button
        width 1rem
        height 0.34rem
        margin-right 0.2rem
    .history
      width 9.52rem
      padding 0.44rem 0 0
      .title
        width 1.58rem
      .kong
        float left
        width 7.5rem
        height 1rem
        line-height 1rem
        text-align center
        font-size 0.16rem
        color $normal-gray-color
        letter-spacing 0
      table
        float left
        margin-bottom 0.2rem
        text-align left
        th,td
          height 0.3rem
          font-size 0.13rem
          color $normal-gray-color
          letter-spacing 0
          &.time
            width 1.63rem
          &.currency
            width 0.73rem
          &.amount
            width 0.89rem
          &.send
            width 1.3rem
            text-align center
          &.receive
            width 2rem
          &.state, &.remark
            width 0.66rem
        td
          height 0.32rem
          line-height 0.32rem
          font-size 0.14rem
          color $normal-font-color
          letter-spacing 0
          i
            display block
            width 100%
            line-height 0.32rem
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
          &.send
            i
              width 1.3rem
          &.receive
            i
              width 2rem
          &.amount
            i
              width 0.89rem
          a
            text-decoration underline
          span
            color $warn-color-hover
      .pagina
        float left
        width 100%
        padding-left 1.58rem
      .more
        padding-top 31px
        text-align right
        float right