@import "../../../common/css/variable.styl"
@import "../../../common/css/base.styl"
.asset
  .hist
    padding 0.32rem 0 0.45rem 0.3rem
    border-left 0.01rem solid $line-light
    a
      color $main-color
      cursor pointer
      &:hover
        color $main-color-hover
      &:active
        color $main-color-active
    .title
      width 9.74rem
      height 0.2rem
      margin-bottom 0.63rem
      font-size 0.2rem
      color $normal-font-color
      letter-spacing 0.0008rem
      text-align justify
      button
        float right
    .kong
      height 2.5rem
      line-height 3rem
      text-align center
      font-size 0.16rem
      color $normal-gray-color
      letter-spacing 0
      background $icon-nothing no-repeat center 0.3rem
      background-size auto 1.01rem
    .filtrate
      width 9.74rem
      height 0.3rem
      line-height 0.3rem
      margin-bottom 0.327rem
      ul
        float left
        margin-right 0.54rem
        li.item
          float left
          width 1.63rem
          span
            margin-right 0.1rem
            font-size 0.16rem
            color $normal-font-color
            letter-spacing 0.0006rem
            text-align justify
          .select
            width 0.8rem
            height 0.3rem
            line-height 0.3rem
      .datepicker
        float left
        width 2.5rem
      .handel
        float right
        button
          width 0.64rem
          height 0.3rem
          line-height 0.3rem
          margin-left 0.1rem
    .table
      margin-bottom 0.44rem
      thead
        tr
          background $bg-btn-color
      th,td
        height 0.3rem
        box-sizing()
        line-height 0.3rem
        font-size 0.12rem
        color $normal-gray-color
        letter-spacing 0.0005rem
        text-align justify
        &.confirm, &.state, &.fee
          text-align center
        &.time
          width 1.13rem
          padding-left 0.1rem
        &.currency
          width 1.03rem
        &.type
          width 0.62rem
        &.cash
          width 0.88rem
          padding-right 0.1rem
        &.balan
          width 0.88rem
          padding-right 0.1rem
        &.send
          width 1.28rem
        &.receive
          width 1.86rem
        &.confirm
          width 0.61rem
          text-align center
        &.state
          width 0.79rem
        &.fee
          width 0.62rem
        &.option
          width 0.61rem
          text-align center
      tbody
        height 0.7rem
        line-height 0.7rem
        tr
          border-bottom 0.01rem solid $line-dark
          &:hover
            background $bg-dark-color
          td
            height 0.7rem
            line-height 0.7rem
            font-size 0.14rem
            color $normal-font-color
            letter-spacing 0.0006rem
            text-align justify
            img
              position relative
              width 0.16rem
              height 0.16rem
              top 0.02rem
              margin-right 0.03rem
            i
              display block
              width 100%
              line-height 0.7rem
              overflow hidden
              white-space nowrap
              text-overflow ellipsis
            &.send, &.receive
              b
                top -0.05rem
                left 50%
                transform translateX(-56%)
                -ms-transform translateX(-56%)
                -moz-transform translateX(-56%)
                -webkit-transform translateX(-56%)
                -o-transform translateX(-56%)
            &.send
              i
                position relative
                width 1.28rem
                padding-right 0.28rem
                &::after
                  position absolute
                  right 0
                  top 0
                  content ' >'
                  width 0.28rem
                  height 0.7rem
                  text-align center
            &.receive
              i
                width 1.86rem
               b
                top -0.05rem
                left 50%
                transform translateX(-56%)
                -ms-transform translateX(-56%)
                -moz-transform translateX(-56%)
                -webkit-transform translateX(-56%)
                -o-transform translateX(-56%)
            &.time
              padding-left 0.1rem
              b
                top -0.05rem
                left -0.2rem
                min-width 155px
            &.cash
              &.red
                color $up-red-color
              &.green
                color $up-green-color
             &.state
              &.pending
                color $warn-color-hover
              &.failed
                color $normal-gray-color
              &.unpassed
                color $normal-gray-color
            &.confirm, &.state, &.fee
              text-align center