@import "./base.styl"
@import "./charge.styl"
@import "./extract.styl"
@import "./history.styl"
@import "./total.styl"
@import "./wallet.styl"
@import "./chargeMessage.styl"
@import "./popup.styl"
.asset
  position relative
  padding 0.64rem 0 .68rem 1.2rem
  color $asset-font-normal
  background-color $asset-bg-main
  .asset-blow
    position relative
    width 14.4rem
    margin  auto
    ul.nav
      float left
      width 1.86rem
      li
        width 1.58rem
        height 0.6rem
        line-height 0.6rem
        font-size 0.16rem
        text-align left
        &:hover a, a.active
          background $asset-bg-active
          padding-left 0.24rem
          color $asset-slide-main
          border-left 0.04rem solid $asset-slide-main
        a
          padding-left 0.28rem
          display block
          width 100%
          height 100%
          color $asset-font-normal
    .route
      width 11rem
      float left