@import "../../../common/css/variable.styl"
.asset
  position relative
  width 14.4rem
  padding 0.64rem 0 0 1.2rem
  ul.nav
    float left
    width 1.86rem
    li
      width 1.58rem
      height 0.6rem
      line-height 0.6rem
      font-size 0.16rem
      text-align left
      &:hover a, a.active
        background $main-bg-active
        padding-left 0.24rem
        color $main-color
        border-left 0.04rem solid $main-color
      a
        padding-left 0.28rem
        display block
        width 100%
        height 100%
        color $normal-black-color
  .route
    width 11rem
    float left

