@import "../../../common/css/variable.styl"
.simple-asset
  height 0.24rem
  padding-right 1.07rem
  line-height 0.24rem
  color $main-color-hover
  background-color $exchange-down-color
  .simple-asset-wrap
    float right
    p
      display inline-block
    img
      margin 0 0.065rem
    .avail1
      margin-right 0.2rem
    .avail2
      margin-right 0.37rem