// @import "./base.styl"
.asset
  .balance
    padding 0.32rem 0 1.25rem 0
    border-left 0.01rem solid $asset-line-normal
    .total-asset
      padding-left 0.3rem
      margin-bottom 0.35rem
      h3
        height 0.2rem
        font-size 0.2rem
        margin-bottom 0.4rem
        color $asset-font-normal
        letter-spacing 0.0008rem
        text-align justify
      .item
        float left
        width 100%
        height 0.5rem
        line-height 0.5rem
        .content
          float left
        .select
          float right
          height 100%
          line-height 0.45rem
          // padding-top 0.045rem
          display inline-block
          .main
            width 0.64rem
            height 0.34rem
            margin-top 0.045rem
            // background-color $normal-white-color
        b
          font-size 0.16rem
          color $asset-font-normal
          letter-spacing 0.0006rem
          text-align justify
        &.total b
          font-size 0.18rem
          color $asset-title-main
          letter-spacing 0.0007rem
          text-align justify
        &.limit
          a
            margin-left 0.3rem
            font-size 0.12rem
            color $asset-title-main
            text-decoration underline
            &:hover
              color $asset-title-main-hover
            &:active
              color $asset-title-main-active
          .disable
            margin-left 0.3rem
            font-size 0.12rem
            color $asset-font-minor
        span
          font-size 0.14rem
          margin 0 0.1rem 0 0.1rem
          color $asset-font-minor
          letter-spacing: 0.0006rem
          text-align justify