@import "../../../common/css/index.styl"
  $asset-bg-main = $colB789
  $asset-bg-main-active = $col996F
  $asset-bg-normal = $col3335
  $asset-bg-medium = $col3739
  $asset-bg-active = $col2F30
  $asset-bg-deep = $col292B
  $asset-bg-btn = $col2F31
  $asset-bg-message = $cola1221
  $asset-slide-main = $colB789

  $asset-font-normal = $colD6D6
  $asset-font-minor = $cola2225
  $asset-font-none = $colFFFF
  $asset-font-main = $colB789
  $asset-font-main-hover = $colCDA1
  $asset-font-main-active = $col996F
  $asset-font-negative = $col5656
  $asset-font-extrude = $colAD26
  $asset-font-extrude-hover = $colAD26
  $asset-font-extrude-active = $colAD26

  $asset-title-main = $colB789
  $asset-title-main-hover = $colCDA1
  $asset-title-main-active = $col996F

  $asset-line-normal = $col292B
  $asset-line-minor = $cola2225

  $asset-border-main = $colB789
  $asset-border-minor = $cola2225


