@import "../../../common/css/index.styl"
  $asset-bg-main = $main-color
  $asset-bg-main-active = $main-color-active
  $asset-bg-normal = $normal-black-color
  $asset-bg-medium = $bg-medium-color
  $asset-bg-active = $main-bg-active
  $asset-bg-deep = $bg-dark-color
  $asset-bg-btn = $bg-btn-color
  $asset-slide-main = $main-color

  $asset-font-normal = $normal-font-color
  $asset-font-minor = $normal-gray-color
  $asset-font-none = $normal-white-color
  $asset-font-main = $main-color
  $asset-font-main-hover = $main-color-hover
  $asset-font-main-active = $main-color-active
  $asset-font-negative = $negative-color
  $asset-font-extrude = $warn-color
  $asset-font-extrude-hover = $warn-color-hover
  $asset-font-extrude-active = $warn-color-active

  $asset-title-main = $main-color
  $asset-title-main-hover = $main-color-hover
  $asset-title-main-active = $main-color-active

  $asset-line-normal = $line-dark
  $asset-line-minor = $line-light

  $asset-border-main = $main-color
  $asset-border-minor = $normal-gray-color


