@import "../../../common/css/variable.styl"
@import "../../../common/css/base.styl"
.asset
  .balance
    .asset-wallet
      .input-wrap
        .input
          display inline-block
          margin 0 3.2rem 0.2rem 0.3rem
          input
            width 3.8rem
            height 0.3rem
        span
          position relative
          display inline-block
          width 1.16rem
          height 0.3rem
          padding-left 0.22rem
          margin-right 0.2rem
          font-size 0.12rem
          color $normal-gray-color
          line-height 0.3rem
          border-radius(0.02rem)
          border 0.01rem solid $normal-gray-color
          cursor pointer

          &:hover
            background-color $bg-dark-color
          &:hover, &.active
            color $main-color
            border 0.01rem solid $main-color
          &.active
            i
              border none
              background-color $main-color
          i
            position absolute
            width 0.1rem
            height 0.1rem
            left 0.06rem
            top 0.1rem
            letter-spacing 0.05px
            border 0.02rem solid $normal-gray-color
            border-radius(60%)
          b
            position absolute
            top 0.08rem
            height 0.12rem
            line-height 0.12rem
            &.pop-parent
              .pop-children
                left -0.53rem
                width 1.15rem
                z-index 99
      table
        width 10.12rem
        thead
          background $bg-light-color
          th
            width 1.35rem
            height 0.3rem
            font-size 0.12rem
            color $normal-gray-color
            letter-spacing 0.0005rem
            text-align justify
            line-height 0.3rem
            cursor pointer
            &.lock
              .pop-parent
                top 0.01rem
                .pop-children
                  left -0.75rem
                  // top 0.02rem
                  width 2.45rem
                  z-index 99
                  &::before
                    left 33%
            &.currency
              padding-left 0.4rem
            &.handle
              width 2.6rem
              text-align center
            .img
              position relative
              top 0.025rem
              left 0.025rem
              width 0.15rem
              height 0.15rem
        tbody
          tr
            position relative
            border-bottom 0.01rem solid $line-light
            &:hover
             background-color $bg-dark-color
          td
            height 0.7rem
            line-height 0.7rem
            font-size 0.14rem
            color $normal-black-color
            letter-spacing 0.0006rem
            text-align justify
            // border-bottom 0.01rem solid $line-light
            &.currency
              padding-left 0.4rem
              span
                width 0.16rem
                height 0.16rem
                background $bg-light-color
            &.handle
              padding-left 0.2rem
              button
                width 0.66rem
                height 0.3rem
                margin-right 0.20rem
                background-color $bg-light-color
                color $main-color
                &:hover
                  background-color $main-color
                  color $normal-white-color
                &:active
                  background-color $main-color-active
                  color $normal-white-color