@import "../../../common/css/variable.styl"

$activity-bg-disable = $disale-bg-color

$activity-font-normal = $normal-font-color
$activity-font-main = $main-color
$activity-font-title = $normal-gray-color
$activity-font-button = $normal-white-color
$activity-font-negative = $negative-color