@import "../../../common/css/variable.styl"

$activity-bg-disable = $disale-bg-color

$activity-font-normal = $colD6D6
$activity-font-main = $colB789
$activity-font-title = $cola2225
$activity-font-button = $colFFFF
$activity-font-negative = $col5656