@import "../../../common/css/variable.styl"

.home-notice-wrap
  width 100%
  padding-top .7rem
  background $normal-white-color
  .hide
    display none
  .home-notice-content
    transform translateX(50%)
    height .22rem
    line-height .22rem
    overflow hidden
    p
      float left
    ul
      position absolute
      float left
      width 100%
      left .6rem
      li
        height .22rem
        cursor pointer
        &:hover
          text-decoration underline

