@import "../../../common/css/variable.styl"

.home-notice-wrap
  position relative
  width 14.4rem
  height .22rem
  margin-top .7rem
  overflow hidden
  .home-notice-content
    position absolute
    left 50%
    transform translateX(-50%)
    p
      float left
      margin-right .2rem
    ul
      float left
      li
        height .22rem

