@import "../../../common/css/variable.styl"

.notice-detail-wrap
  width 100%
  min-width 11rem
  padding .4rem 1.2rem .4rem
  h1
    margin-bottom .5rem
    color $normal-white-color-a
    a
      color $normal-white-color-a
  h2
    margin-bottom .22rem
    color: $normal-white-color-a
    span
      float left
      font-size .28rem
      color $normal-white-color-a9
    b
      float right
  h3
    padding .2rem .44rem
    background $main-bg-active
    margin-bottom .22rem
    color: $normal-white-color-a
  h4
    text-align right
  .content
    margin-bottom .5rem
    color: $normal-white-color-a9
  h5
    margin-bottom .22rem
    span
      color: $normal-white-color-a9
    a
      color: $main-color
  h6
    span
      color: $normal-white-color-a9
    a
      color: $main-color