@import "../../../common/css/variable.styl"

.notice-detail-wrap
  width 12rem
  margin 0 auto
  padding .4rem 0 .4rem
  h1
    margin-bottom .5rem
    color $normal-white-color-a
    a
      color $normal-white-color-a
  h2
    margin-bottom .22rem
    color: $normal-white-color-a
    span
      float left
      font-size .28rem
      color $normal-white-color-a9
    b
      float right
  h3
    padding .2rem .44rem
    background $main-bg-active
    margin-bottom .22rem
    color $normal-white-color-a
    font-size 0.14rem
    letter-spacing 0.01rem
    line-height 0.26rem
  h4
    text-align right
  .content
    position relative
    margin-bottom .5rem
    color $normal-white-color-a9
    line-height 0.28rem
    text-indent 2em
    strong
      font-weight bold
    em
      font-style italic
    img
      display block
      //width 4.83rem
      max-width 8.5rem
      margin 0 auto 0.2rem auto
    p
      font-size 0.14rem
      color $normal-font-color
      letter-spacing 0.01rem
      text-align justify

  h5
    margin-bottom .22rem
    span
      color $normal-white-color-a9
    a
      color $main-color
  h6
    span
      color $normal-white-color-a9
    a
      color $main-color
      margin-right 0.1rem