@import "../../../common/css/variable.styl"

.notice-detail-wrap
  width 100%
  min-width 11rem
  padding .4rem 1.2rem .4rem
  h1
    margin-bottom .5rem
  h2
    margin-bottom .22rem
    span
      float left
      font-size .28rem
      color $normal-black-color
    b
      float right
  h3
    padding .2rem .44rem
    background $main-bg-active
    margin-bottom .22rem
  h4
    text-align right
  .content
    margin-bottom .5rem
  h5
    margin-bottom .22rem