@import "../../../common/css/variable.styl"

.trade-notice-wrap
  h3
    color $normal-white-color
    margin-bottom .2rem
    font-size .12rem
  ul
    li
      margin-bottom .16rem
      p
        margin-bottom .1rem
        a
          font-size .12rem
          text-decoration underline
          color $normal-white-color-a9
      span
        display block
        text-align right
        font-size .11rem
        color $normal-white-color-a