@import "../../../common/css/variable.styl"
 // 资讯公告
.user-notice-wrap
  width 12rem
  margin 0 auto
  h1
    margin .3rem 0 .45rem
    color $normal-black-color
    font-size .2rem
  dl
    margin-bottom .44rem
    dt
      padding .16rem 0
      border-bottom .01rem solid $line-light
      color $normal-gray-color
    a
      display block
      border-bottom .01rem solid $line-light
      &:last-of-type
        border-bottom none
    dd
      padding .16rem 0
    i, em, span
      display inline-block
    i
      width 6.9rem
      padding-left .1rem
    em
      width 1.5rem
    span
      padding-right .1rem





