@import "../../../common/css/variable.styl"

$pc-notice-bg = $normal-black-color
$pc-notice-bg-active = $main-bg-active

$pc-notice-font-content = $normal-white-color-a9
$pc-notice-font-title = $normal-white-color-a
$pc-notice-font-active = $main-color

$pc-notice-line = $line-dark
$pc-notice-line-light = $line-light