@import "../../../common/css/variable.styl"

$notice-bg-main = $normal-black-color //主背景色、内容详情弹窗背景色
$notice-bg-active = $main-bg-active   //tab列表选中背景
$notice-bg-notice = $pc-notice-font-active

$notice-font-content = $normal-white-color-a9 //资讯公告列表内容、其他内容页
$notice-font-title = $normal-white-color-a  //咨询列表表头、上币申请
$notice-font-active = $main-color //主题色
$notice-font-detail = $pc-notice-font-content //通知详情颜色
$notice-font-para = $normal-font-color

$notice-line-dark = $line-dark  //通知页深色border
$notice-line-light = $line-light //通知页浅色border