@import "../../../common/css/variable.styl"

$notice-bg-main = $col3335 //主背景色、内容详情弹窗背景色
$notice-bg-active = $col2F30   //tab列表选中背景
$notice-bg-notice = $pc-notice-font-active

$notice-font-content = $cola2228 //资讯公告列表内容、其他内容页
$notice-font-title = $cola2225  //咨询列表表头、上币申请
$notice-font-active = $colB789 //主题色
$notice-font-detail = $pc-notice-font-content //通知详情颜色
$notice-font-para = $colD6D6

$notice-line-dark = $col292B  //通知页深色border
$notice-line-light = $cola2225 //通知页浅色border