@import "../../../common/css/variable.styl"
@import "../../../common/css/base.styl"
.mregister{
  text-align: center;
}
.mregister .banner{
  box-sizing: border-box;
  width: 100%;
  height: 2.07rem;
  padding-top: 0.48rem;
  background: $registe-bg1 no-repeat center center;
  background-size: 100% auto;
}
.mregister .banner .balance{
  font-size: 0.2rem;
  color: $normal-white-color;
  margin-bottom: 0.36rem;
}
.mregister .banner .balance span{
  font-size: 0.4rem;
}
.mregister .banner .wait{
  font-size: 0.24rem;
  color:$normal-white-color;
  text-indent: 0.1rem;
}
.mregister .content{
  padding-top: 0.35rem;
}
.mregister .content .title{
  height: 0.61rem;
  margin-bottom: 0.25rem;
  font-size: 0.21rem;
  line-height: 0.5rem;
  font-weight: bold;
  color: $normal-white-color;
  background:$registe-bg2 no-repeat center center;
  background-size: auto 100%;
}
.mregister .content p{
  height: 0.28rem;
  line-height: 0.28rem;
  font-size: 0.18rem;
  color: #8b8a89;
  margin-bottom: 0.5rem;
}
.mregister .content p span{
  font-size: 0.28rem;
  margin: 0 0.13rem;
  font-weight: bold;
  color:#ff4e41;
}
.mregister .content input{
  outline: none;
  display: block;
  width: 3.22rem;
  height: 0.5rem;
  margin: 0 auto 0.25rem;
  font-size: 0.18rem;
  padding-left: 0.18rem;
  border: 0.02rem solid rgba(255,0,0,0.3);
  border-radius: 0.05rem;
}
.mregister .content input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(107,105,105,0.4);
}
.mregister .content input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(107,105,105,0.4);
}
.mregister .content input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(107,105,105,0.4);
}
.mregister .content input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(107,105,105,0.4);
}
.mregister .content button{
  display: block;
  width: 3.51rem;
  height: 0.45rem;
  line-height: 0.45rem;
  margin: 0 auto;
  color: $normal-white-color;
  font-size: 0.18rem;
  border-radius: 0.02rem;
  // background: $registe-bg3 no-repeat center center;
  // background-size: 100% 100%;
}
.mregister .vagueBgView{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.76)
}
.mregister .successAlert{
  display: none;
  box-sizing:border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  padding-top:0.32rem;
  width: 3rem;
  height: 2.92rem;
  margin-left: -1.5rem;
  margin-top: -1.46rem;
  background-color: $h5-foreground;
  border-radius: 0.02rem;
}
.mregister .successAlert p{
  font-size: 0.21rem;
  color $normal-font-color;
  font-weight: bold;
  margin-top: 0.07rem;
  margin-bottom: 0.27rem;
}
.mregister .successAlert .mregister-asset{
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.14rem;
  color:$normal-font-color;
  border-top: 0.01rem dashed rgba(105,103,103,0.7);
}
.mregister .successAlert .mregister-asset span{
  color:#ff4e41;
  font-size: 0.24rem;
  margin:0 0.05rem;
}
.mregister .successAlert a{
  display: block;
  width: 2.68rem;
  height: 0.45rem;
  line-height: 0.45rem;
  text-decoration: none;
  margin: 0 auto;
  color: $normal-white-color;
  font-size: 0.16rem;
  border-radius: 0.02rem;
  // background: $registe-bg3 no-repeat center center;
  // background-size: 100% 100%;
}

.mregister .failureAlert{
  display: none;
  box-sizing:border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3rem;
  min-height: 2.14rem;
  margin-left: -1.5rem;
  margin-top: -1.07rem;
  background-color: $h5-foreground;
  border-radius: 0.02rem;
}
.mregister .failureAlert p{
  height: 0.64rem;
  margin-bottom: 0.08rem;
  font-size: 0.2rem;
  color $main-color;
  font-weight: bold;
  line-height: 0.64rem;
  border-bottom: 0.01rem solid $h5-border-weight;
}
.mregister .failureAlert .tip{
  padding: 0 0.2rem;
  margin-bottom: 0.18rem;
  text-align: left;
  line-height: 0.28rem;
  font-size: 0.14rem;
  text-align center
  font-weight bold
  color: $normal-font-color;
}
.mregister .failureAlert button{
  width: 2.68rem;
  height: 0.45rem;
  line-height: 0.45rem;
  text-decoration: none;
  margin: 0 auto;
  // color: $normal-white-color;
  font-size: 0.16rem;
  border-radius: 0.05rem;
  // background: $registe-bg3 no-repeat center center;
  // background-size: 100% 100%;
}