@import "./variable"
.terms{
  text-align: left;
  padding: 0.12rem;
  text-indent: 2em;
  word-break: break-all
}
.terms .intro{
  font-size: 0.16rem;
  color: $h5-gen-font-normal;
  text-align: justify;
  line-height: 0.24rem;
}
.terms .intro ul li{
  font-size: 0.16rem;
}
.terms .item{
  margin-top: 0.1rem;
}
.terms .item dt{
  font-size: 0.16rem;
  margin-bottom: 0.05rem;
  text-indent: 0;
  color: $colB789;
  letter-spacing: 0;
}
.terms .item dd{
  font-size: 0.14rem;
  color: $h5-gen-font-normal;
  letter-spacing: 0;
  text-align: justify;
  line-height: 0.21rem;
}
.terms .item dd li{
  font-size: 0.14rem;
  text-indent: 4em;
}