@import "../../../common/css/variable"

// 资产颜色
$h5-gen-bg = $col2B2D

$h5-gen-border = $col2120

$h5-gen-font-weight = $colFEFE
$h5-gen-font-normal = $colD6D6
$h5-gen-font-light = $col8485

$h5-gen-font-active = $col9370
$h5-gen-font-success = $col8534
$h5-gen-font-fail = $col4740





