@import "../../../common/css/variable"

// 资产颜色
$h5-gen-bg = $h5-foreground

$h5-gen-border = $h5-border-weight

$h5-gen-font-weight = $h5-color-weight
$h5-gen-font-normal = $h5-color-normal
$h5-gen-font-light = $h5-color-light

$h5-gen-font-active = $h5-color-green
$h5-gen-font-success = $h5-color-orange
$h5-gen-font-fail = $h5-color-red





