@import "../../../common/css/variable.styl"

.google-wrap
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0, 0, 0, .7)
  z-index 5
  .google-info
    position absolute
    left 50%
    top 50%
    width 11.6rem
    height 4.6rem
    padding .24rem .3rem .44rem
    background $normal-white-color
    border-radius (.06rem)
    transform translateX(-50%) translateY(-50%)
    .close-popup
      width .16rem
      height .16rem
      background #0a8dff
    h1
      margin .04rem 0 .44rem
      font-size .2rem
    div
      ul
        float left
        li:first-child
          width .44rem
          height .44rem
          background $main-color
          border-radius (50%)
          text-align center
          line-height .44rem
          color $normal-white-color
          margin-bottom .24rem
      ul:nth-child(1)
        width 3.5rem
        .google-btn
          width 1.5rem
          height .4rem
          background $main-color
          color $normal-white-color
        li:nth-child(2)
          margin-bottom .44rem
        li:nth-child(3)
          margin-bottom .18rem
        li:nth-child(4)
          margin-bottom .5rem
        li:last-child
          color $main-color
      ul:nth-child(2)
        width 3.7rem
        margin-right .2rem
        li:nth-child(2)
          margin-bottom .24rem
      ul:nth-child(3)
        width 3.5rem
        li:nth-child(1)
          margin-bottom .18rem
        li:nth-child(2)
          margin-bottom .24rem
        li:nth-child(3)
          margin-bottom .44rem
        li:nth-child(4)
          margin-bottom .14rem



//input
//  width 4.56rem
//  height .4rem
//  padding-left .1rem
//  background $main-bg-active
//  border 1px solid $line-light
//  border-radius (.02rem)
//  vertical-align bottom
//.name-btn
//  width .54rem
//  height .4rem
//  margin-left -.02rem
//  opacity .5
//  background $main-color
//  color $normal-white-color
//  border-radius (0 .02rem .02rem 0)
//  border none