@import "../../../common/css/variable.styl"

.safe-content
  //h1
  //  margin .3rem 0 .16rem
  //  color $normal-black-color
  //  font-size .2rem
  //h2
  //  float left
  //  font-size .15rem
  //  color $normal-black-color
  //  width 1.5rem
  .model-div
    padding .44rem 0 0
    border-bottom 1px solid $line-light
    &:last-child
      border-bottom none
  table
    width 7.79rem
    margin-bottom .2rem
    th, td
      padding-bottom .24rem
      text-align left
    th
      color $normal-gray-color

  .basic-data
    ul
      width 7.5rem
      li
        margin-bottom .44rem
        float left
        color $normal-black-color
        &:nth-child(1), &:nth-child(5)
          width 1.42rem
        &:nth-child(2), &:nth-child(6)
          width 2.6rem
        &:nth-child(3), &:nth-child(7)
          width  1.56rem

  .change-pass
    ol, ul
      padding-bottom .44rem
      li
        float left
        &:first-child
          width 1.52rem

  .verify
    p
      margin-bottom .44rem
      fz11()
      color $normal-gray-color
    dl
      margin-bottom .44rem
      dt, dd
        float left
      dt
        width 1.42rem
      dd
        width 1.1rem
        &:nth-of-type(1)
          width 1.62rem

  .other
    padding-bottom .44rem
    color $main-color
    padding-left 1.5rem

  .time
    ul
      margin-bottom .44rem
      li:first-child
        color $normal-black-color
        margin-bottom .18rem
    .time-btn
      width .54rem
      height .4rem
      opacity .5
      background $main-color
      color #FFF
      border-radius(.02rem)

  .notify
    ul
      padding-bottom .44rem
      li:first-child
        margin-bottom .44rem
      li:last-child
        span
          margin-right .46rem

  .name-list
    b
      display block
      margin-bottom .18rem
      fz11()
      color $negative-color
    div
      margin-bottom .18rem
      input
        width 4.56rem
        height .4rem
        padding-left .1rem
        background $main-bg-active
        border 1px solid $line-light
        border-radius(.02rem)
        vertical-align bottom
      .name-btn
        width .54rem
        height .4rem
        opacity .5
        background $main-color
        color $normal-white-color
        border-radius(.02rem)
    span
      display block
      margin-bottom .44rem
      color $normal-gray-color
    p
      width 7.79rem
      padding-bottom .44rem
      color $normal-gray-color
      line-height .3rem

  .notify
    p
      margin-bottom .44rem
    .notify-btn
      width 2.5rem
      height .4rem
      background $main-color
      color $normal-white-color
      border-radius(.02rem)
      margin-bottom .44rem
