//@import "../../../common/css/variable.styl"

.safe-content
  .hide
    display none
  .model-div
    padding .44rem 0 0
    border-bottom 1px solid $user-line-main
  table
    width 7.79rem
    margin-bottom .2rem
    th, td
      padding-bottom .24rem
      text-align left
      color $user-font-normal
    th
      color $user-title-table

  .basic-data
    ul
      width 7.5rem
      li
        margin-bottom .44rem
        float left
        color $user-font-normal
        &:nth-child(1), &:nth-child(5)
          width 1.42rem
        &:nth-child(2), &:nth-child(6)
          width 2.6rem
        &:nth-child(3), &:nth-child(7)
          width  1.56rem
        a
          color $user-font-pointLevel
          &:hover
            text-decoration underline
      .basic-popup
        cursor pointer
        color $user-font-bind

  .change-pass
    ol, ul
      padding-bottom .44rem
      li
        float left
        color $user-font-normal
        &:first-child
          width 1.52rem
        &:nth-child(2)
          margin-right .3rem
          color $user-font-set
          cursor pointer
        &:nth-child(3)
          color $user-font-remind

  .verify
    color $user-font-normal
    div
      width 8rem
    p
      //width 8.5rem
      margin-bottom .44rem
      fz11()
      color $user-font-remind
    dl
      width 10rem
      margin-bottom .44rem
      dt, dd
        float left
      dt
        width 1.42rem
      dd
        margin-right .6rem
        cursor pointer
        //&:nth-of-type(1)
        //  width 1.62rem
        img
          width .14rem
          height .14rem
          margin-right .08rem
          vertical-align top
        .img-cn
          position relative
          top -.02rem
          left .05rem
          width .3rem
          height .18rem
        .img-en
          position relative
          top -.02rem
          left .05rem
          width .8rem
          height .18rem

  .other
    padding-bottom .44rem
    color $user-font-other
    padding-left 1.5rem
    cursor pointer

  .time
    .time-ul
      margin-bottom .44rem
      >li:first-child
        color $user-font-normal
        margin-bottom .18rem
      .select
        position relative
        float left
        input
          width 4.56rem
          height .4rem
          padding-left .1rem
          margin-right .2rem
          background $col2F30
          border 1px solid $col292B
          border-radius (.02rem)
          vertical-align bottom
        &::after
          position absolute
          top 0
          right .1rem
          content ''
          width 10.9%
          height 100%
          background $icon-xiala no-repeat center center
          background-size auto 12%
        .search-list
          width 4.56rem
          position absolute
          li
            line-height .43rem
    .time-btn
      float left
      width .54rem
      height .4rem
      background $colB789
      color #FFF
      border-radius (.02rem)
      border none

  .notify
    ul
      padding-bottom .44rem
      li
        cursor pointer
        img
          width .14rem
          height .14rem
          margin-right .08rem
          vertical-align top
      li:first-child
        margin-bottom .44rem
        color $user-font-normal
      li:last-child
        span
          margin-right .46rem
          color $user-font-normal

  .name-list
    .ip-show
      color $colD6D6
      text-decoration underline
      cursor pointer
    a
      color $user-font-normal
      text-decoration underline
    b
      display block
      margin-bottom .18rem
      fz11()
      color $user-font-warn
    .check-ip-wrap
      position relative
      .check-ip
        position absolute
        top .42rem
        color $user-font-warn
        font-size .12rem
    div
      margin-bottom .18rem
      .base-input-wrap
        float left
        input
          width 4.56rem
          height .4rem
          padding-left .1rem
          margin-right .2rem
          //background $col2F30
          //border 1px solid $col292B
          border-radius (.02rem)
          vertical-align bottom
      .name-btn
        float left
        width .54rem
        height .4rem
        background $user-bg-btn
        color $user-font-btn
        border-radius (.02rem)
        border none
    span
      display block
      margin-bottom .44rem
      color  $user-font-remind
    p
      width 7.79rem
      padding-bottom .44rem
      color $user-font-remind
      line-height .3rem
    .nothing-text
      text-align center
      color $user-font-normal
    .delIp
      cursor pointer

  .login-device
    p
      margin-bottom .44rem
      color $user-font-normal
    .login-device-btn
      width 2.5rem
      height .4rem
      background $user-bg-btn
      color $user-font-btn
      border-radius (.02rem)
      margin-bottom .44rem
      border none
    .nothing-text
      text-align center
      color $user-font-normal

  .record
    border-bottom none
