@import "../../../common/css/variable.styl"

.safe-content
  .hide
    display none
  .model-div
    padding .44rem 0 0
    border-bottom 1px solid $line-light
  table
    width 7.79rem
    margin-bottom .2rem
    th, td
      padding-bottom .24rem
      text-align left
    th
      color $normal-gray-color

  .basic-data
    ul
      width 7.5rem
      li
        margin-bottom .44rem
        float left
        color $normal-black-color
        &:nth-child(1), &:nth-child(5)
          width 1.42rem
        &:nth-child(2), &:nth-child(6)
          width 2.6rem
        &:nth-child(3), &:nth-child(7)
          width  1.56rem
        span
          color $main-color
      .basic-popup
        cursor pointer
        color $main-color

  .change-pass
    ol, ul
      padding-bottom .44rem
      li
        float left
        &:first-child
          width 1.52rem
        &:nth-child(2)
          margin-right .3rem
          color $main-color
          cursor pointer
        &:nth-child(3)
          color $normal-gray-color

  .verify
    p
      margin-bottom .44rem
      fz11()
      color $normal-gray-color
    dl
      margin-bottom .44rem
      dt, dd
        float left
      dt
        width 1.42rem
      dd
        margin-right .6rem
        cursor pointer
        //&:nth-of-type(1)
        //  width 1.62rem
        img
          width .14rem
          height .14rem
          margin-right .08rem
          vertical-align top

  .other
    padding-bottom .44rem
    color $main-color
    padding-left 1.5rem
    cursor pointer

  .time
    ul
      margin-bottom .44rem
      li:first-child
        color $normal-black-color
        margin-bottom .18rem
      .select
        float left
        width 4.56rem
        input
          width 4.56rem
          height .4rem
          padding-left .1rem
          margin-right .2rem
          background $main-bg-active
          border 1px solid $line-light
          border-radius (.02rem)
          vertical-align bottom
        &::after
          position absolute
          top 0
          right .1rem
          content ''
          width 10.9%
          height 100%
          background url(/static/images/xiala_icon.png) no-repeat center center
          background-size auto 12%
        .search-list
          width 4.56rem
    .time-btn
      float left
      width .54rem
      height .4rem
      background $main-color
      color #FFF
      border-radius (.02rem)
      border none

  .notify
    ul
      padding-bottom .44rem
      li
        cursor pointer
        img
          width .14rem
          height .14rem
          margin-right .08rem
          vertical-align top
      li:first-child
        margin-bottom .44rem
      li:last-child
        span
          margin-right .46rem

  .name-list
    b
      display block
      margin-bottom .18rem
      fz11()
      color $negative-color
    div
      margin-bottom .18rem
      .base-input-wrap
        float left
        input
          width 4.56rem
          height .4rem
          padding-left .1rem
          margin-right .2rem
          //background $main-bg-active
          //border 1px solid $line-light
          border-radius (.02rem)
          vertical-align bottom
      .name-btn
        float left
        width .54rem
        height .4rem
        background $main-color
        color $normal-white-color
        border-radius (.02rem)
        border none
    span
      display block
      margin-bottom .44rem
      color $normal-gray-color
    p
      width 7.79rem
      padding-bottom .44rem
      color $normal-gray-color
      line-height .3rem

  .login-device
    p
      margin-bottom .44rem
    .login-device-btn
      width 2.5rem
      height .4rem
      background $main-color
      color $normal-white-color
      border-radius (.02rem)
      margin-bottom .44rem
      border none

  .record
    border-bottom none
