//@import "../../../common/css/variable.styl"

.integration-wrap
  .hide
    display none
  .info
    padding .44rem 0
    border-bottom 1px solid $user-line-main
    .integration-title
      width 1rem
    h3
      margin-bottom .44rem
      b
        color $user-font-normal
        margin-right .25rem
      a
        color $user-font-pointLevel
    ul
      margin-bottom .64rem
      li
        float left
        width 1.2rem
        color $user-font-normal
    .progress-line
      position relative
      width 7.2rem
      height .1rem
      background $user-bg-progress
      border-radius (1rem)
      p
        height .1rem
        border-radius (1rem)
        background $user-bg-progressLine
      span
        position absolute
        display block
        top -.35rem
        transform translateX(-50%)
        padding .05rem .15rem
        //background linear-gradient(-90deg, $main-color 0%, $main-color-hover 100%)
        background $user-bg-progressLine
        border-radius (.02rem)
        color $user-font-progressNum
        &::after
          position absolute
          top .23rem
          left 50%
          transform translateX(-50%)
          content ''
          border-width .05rem
          border-style solid dashed dashed
          border-color $user-bg-progressLine transparent transparent
          font-size 0
          line-height 0


  .item
    padding .44rem 0
    min-height 5.8rem
    a
      display block
      margin-bottom .37rem
      color $user-font-pointNum
    table
      width 7.79rem
      margin-bottom .2rem
      th, td
        padding-bottom .24rem
        text-align left
        color $user-font-normal
      th
        color $user-title-table