@import "../../../common/css/variable.styl"

.user-wrap
  width 12rem
  margin 0 auto
  padding .2rem 0 0.68rem
  .user-nav
    width 1.58rem
    li
      height .6rem
      margin-right .28rem
      line-height .6rem
      a
        display block
        width 100%
        padding-left .24rem
        color $normal-black-color
        border-left 0.04rem solid $normal-white-color
        &.active
          border-left 0.04rem solid $main-color
          background $main-bg-active
          color $main-color
        &:hover
          border-left 0.04rem solid $main-color
          background $main-bg-active
          color $main-color

  .user-content
    width 10.12rem
    padding-left .3rem
    border-left 1px solid $line-light
    h1
      margin .3rem 0 .16rem
      color $normal-black-color
      font-size .2rem
    h2
      float left
      font-size .15rem
      color $normal-black-color
      width 1.5rem

