@import "../../../common/css/variable.styl"

.user-big-wrap
  width 100%
  background $dark-font-color
.user-wrap
  width 12rem
  margin 0 auto
  padding .2rem 0 0.68rem

  .user-nav
    width 1.58rem
    min-width 150px
    li
      height .6rem
      margin-right .28rem
      line-height .6rem
      a
        display block
        width 100%
        padding-left .24rem
        color $normal-font-color
        border-left 0.04rem solid $dark-font-color
        &.active
          border-left 0.04rem solid $main-color
          background $main-bg-active
          color $main-color
        &:hover
          border-left 0.04rem solid $main-color
          background $main-bg-active
          color $main-color

  .user-content
    width 10.12rem
    padding-left .3rem
    border-left 1px solid $bg-dark-color
    h1
      margin .3rem 0 .16rem
      color $normal-font-color
      font-size .2rem
    h2
      float left
      font-size .15rem
      color $normal-font-color
      width 1.5rem

  // ip弹窗
  .ip-popup
    position fixed
    //top 50%
    //left 50%
    //transform translateX(-50%) translateY(-50%)
    left 0
    right 0
    top 0
    bottom 0
    margin auto
    width 5rem
    height 2rem
    text-align center
    line-height 2rem
    background $line-dark
    border-radius .05rem
    img
      position absolute
      top .1rem
      right .1rem
      cursor pointer
    p
      color $normal-font-color


