@import "../../../common/css/index.styl"

.user-nav
  width 1.58rem
  li
    height .6rem
    margin-right .28rem
    line-height .6rem
    color $main-color
    border-left 0.04rem solid $main-color
    background $main-bg-active
