@import "../../../common/css/index.styl"

  $user-bg-main = $normal-black-color // 整体背景颜色
  $user-bg-popup = $normal-black-color // 弹窗背景色
  $user-bg-ipPopup = $line-dark // ip弹窗背景色
  $user-bg-btn = $main-color  // 按钮背景色
  $user-bg-popup = $normal-black-color  // 弹窗背景色
  $user-bg-img = $normal-white-color-a9  // 图片验证码背景色
  $user-bg-geogleStep = $main-color  // 谷歌验证弹窗数字背景色
  $user-bg-progress = $normal-input-color // 进度条背景色
  $user-bg-progressLine = $main-color // 进度条线背景色

  $user-slide-font-main = $normal-font-color // 侧边导航文字普通颜色
  $user-slide-font-active = $main-color // 侧边导航文字点击颜色
  $user-slide-bg-active = $main-bg-active // 侧边导航文字点击背景颜色

  $user-font-normal = $normal-font-color // 普通颜色
  $user-font-remind = $reminde-color // 提醒颜色
  $user-font-warn = $negative-color // 警告颜色
  $user-font-pointNum = $main-color // 积分数颜色
  $user-font-pointLevel = $main-color // 积分等级颜色
  $user-font-bind = $main-color // 绑定颜色
  $user-font-set = $main-color // 设置颜色
  $user-font-modify = $main-color // 修改颜色
  $user-font-del = $main-color // 删除颜色
  $user-font-other = $main-color // 其他设置颜色
  $user-font-btn = $normal-white-color // 按钮文字颜色
  $user-font-geogleStep = $normal-white-color  // 谷歌验证弹窗数字颜色
  $user-font-geogleDownload = $main-color  // 谷歌验证弹窗下载提醒
  $user-font-progressNum = $normal-black-color // 进度条数颜色

  $user-title-main = $normal-font-color // 一级标题
  $user-title-second = $normal-font-color // 二级标题
  $user-title-third = $normal-font-color // 三级标题
  $user-title-table = $reminde-color // 表格标题

  $user-line-main = $line-dark // 分割线

  $user-border-select = $main-color // 选择边框


