@import "../../../common/css/index.styl"

  $user-bg-main = $col3335 // 整体背景颜色
  $user-bg-popup = $col3335 // 弹窗背景色
  $user-bg-ipPopup = $col292B // ip弹窗背景色
  $user-bg-btn = $colB789  // 按钮背景色
  $user-bg-popup = $col3335  // 弹窗背景色
  $user-bg-img = $cola2228  // 图片验证码背景色
  $user-bg-geogleStep = $colB789  // 谷歌验证弹窗数字背景色
  $user-bg-progress = $col292B // 进度条背景色
  $user-bg-progressLine = $colB789 // 进度条线背景色

  $user-slide-font-main = $colD6D6 // 侧边导航文字普通颜色
  $user-slide-font-active = $colB789 // 侧边导航文字点击颜色
  $user-slide-bg-active = $col2F30 // 侧边导航文字点击背景颜色

  $user-font-normal = $colD6D6 // 普通颜色
  $user-font-remind = $col999A // 提醒颜色
  $user-font-warn = $col5656 // 警告颜色
  $user-font-pointNum = $colB789 // 积分数颜色
  $user-font-pointLevel = $colB789 // 积分等级颜色
  $user-font-bind = $colB789 // 绑定颜色
  $user-font-set = $colB789 // 设置颜色
  $user-font-modify = $colB789 // 修改颜色
  $user-font-del = $colB789 // 删除颜色
  $user-font-other = $colB789 // 其他设置颜色
  $user-font-btn = $colFFFF // 按钮文字颜色
  $user-font-geogleStep = $colFFFF  // 谷歌验证弹窗数字颜色
  $user-font-geogleDownload = $colB789  // 谷歌验证弹窗下载提醒
  $user-font-progressNum = $col3335 // 进度条数颜色

  $user-title-main = $colD6D6 // 一级标题
  $user-title-second = $colD6D6 // 二级标题
  $user-title-third = $colD6D6 // 三级标题
  $user-title-table = $col999A // 表格标题

  $user-line-main = $col292B // 分割线

  $user-border-select = $colB789 // 选择边框


