@import "../../../common/css/index.styl"

  $user-bg-main = $normal-black-color

  $user-slide-font-main = $normal-font-color
  $user-slide-font-active = $main-color
  $user-slide-bg-active = $main-bg-active

  $user-font-normal = $normal-font-color
  $user-font-remind = $reminde-color
  $user-font-warn = $negative-color
  $user-font-pointNum = $main-color
  $user-font-pointLevel = $main-color
  $user-font-bind = $main-color
  $user-font-set = $main-color
  $user-font-modify = $main-color
  $user-font-del = $main-color

  $user-title-main = $normal-font-color
  $user-title-second = $normal-font-color
  $user-title-third = $normal-font-color
  $user-title-table = $reminde-color

  $user-line-main = $line-dark