@import "../../../../common/css/variable.styl"
@import "../../../../common/css/base.styl"
  .asset-popup
    display flex
    justify-content center
    align-items center
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background rgba(0,0,0,0.7)
    z-index 999
    a
      color $main-color
      text-decoration underline
      cursor pointer
      &:hover
        color $main-color-hover
      &:active
        color $main-color-active
    .asset-popup-content
      position relative
      .close
        position absolute
        top 0.3rem
        right 0.3rem
        cursor pointer
      &.base1, &.base2, &.base4
        // position absolute
        // left 50%
        // top 50%
        // margin-left -2.82rem
        // margin-top -1.28rem
        width 5.64rem
        height 2.56rem
        border-radius(0.06rem)
        background $normal-white-color
        p
          margin-top 1.1rem
          text-align center
      &.base2
        p
          margin-top 0.82rem
          span
            display inline-block
            margin-bottom 0.14rem
      &.base3
        width 7.4rem
        padding 0.44rem 0.31rem 0.3rem 0.3rem
        border-radius(0.06rem)
        background $normal-black-color
        h3
          padding-right 0.66rem
          font-size 0.2rem
          font-weight bold
          margin-bottom 0.44rem
          color $normal-font-color
          letter-spacing 0
          span
            position relative
            float right
            height 0.2rem
            padding-left 0.22rem
            line-height 0.2rem
            font-size 0.15rem
            color $main-color
            letter-spacing 0
            cursor pointer
            &::before
              position absolute
              width 0.16rem
              height 0.2rem
              content ''
              top 0
              left 0
              background $add-address no-repeat center center
              background-size 100% 100%
        table.list
          thead
            font-size 0.13rem
            color $normal-gray-color
            text-align left
            letter-spacing 0
            tr
              th
                height 0.31rem
                &.name
                  width 1.79rem
                &.base3-address
                  width 3.7rem
          tbody
            tr
              &.input
                td
                  height 0.4rem
                td:first-child
                  input
                    width 1.56rem
                    height 0.34rem
                td:nth-child(2)
                  input
                    width 3.36rem
                    height 0.34rem
                td:nth-child(3)
                  button
                    min-width 0.54rem
                    height 0.34rem
                  button:first-child
                    margin-right 0.12rem
              &.base3-content
                border-bottom 0.01rem solid $line-light
                &:last-child
                  border-bottom 0
                td
                  height 0.52rem
                  line-height 0.52rem
                  font-size 0.14rem
                  color $normal-font-color
                  letter-spacing 0
                td:nth-child(3)
                  button
                    width 0.54rem
                    height 0.24rem