//$baseFontSize = 16px
//
//px2rem(name, px){
//  {name}: px / $baseFontSize * 1rem;
//}
//
//html
//  font-size $baseFontSize
@import "./variable.styl"
body
  color: #25272D
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif !important

.fl
  float left
.fr
  float right
.clearfix
  zoom 1
  &:after
    display block
    height 0
    clear both
    content ""

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

align-item()
  vendor('align-item', arguments)
//需要兼容按上述方法先声明,即可直接写属性

fz11()
  font-size .11rem
  -webkit-transform scale(0.916666666)
  -webkit-transform-origin 0 0
fz10()
  font-size .10rem
  -webkit-transform scale(0.8333333333)
  -webkit-transform-origin 0 0

// 旋转方法rotate兼容
_rotate(deg)
  transform rotate(deg)
  -ms-transform rotate(deg); 	/* IE 9 */
  -moz-transform rotate(deg); 	/* Firefox */
  -webkit-transform rotate(deg); /* Safari 和 Chrome */
  -o-transform rotate(deg); 	/* Opera */

placeholder(col, fz)
  &::-webkit-input-placeholder
    color col
    font-size fz
  &::-moz-placeholder
    color col
    font-size fz
  &:-moz-placeholder
    color col
    font-size fz
  &:-ms-input-placeholder
    color col
    font-size fz

// 中心内容
.inner // 中心内容
  width 14.4rem
  padding  0 1.2rem .68rem


 // 划入控件展示  父亲加.pop-parent  控件加.pop-children 和 方位词
.pop-parent
  position relative

.pop-children
  position absolute
  display none
  padding 0 .1rem
  color #25272D
  height .25rem
  line-height .25rem
  font-size .12rem
  text-align center
  background-color #CCC
  border-radius .02rem

.pop-parent:hover .pop-children
  display block


.uppop-children
  top -.3rem

.uppop-children:before
  content ""
  width 0
  height 0
  border .05rem solid #CCC
  border-left .05rem solid transparent
  border-right .05rem solid transparent
  border-bottom .05rem solid transparent
  position absolute
  left 50%
  transform translateX(-50%)
  bottom -.1rem


.downpop-children
  bottom -.3rem

.downpop-children:before
  content ""
  width 0
  height 0
  border .05rem solid #CCC
  border-left .05rem solid transparent
  border-right .05rem solid transparent
  border-top .05rem solid transparent
  position absolute
  right 50%
  transform translateX(-50%)
  top -.1rem

.leftpop-children
  left -1.78rem

.leftpop-children:before
  content ""
  width 0
  height 0
  border .05rem solid #CCC
  border-bottom .05rem solid transparent
  border-right .05rem solid transparent
  border-top .05rem solid transparent
  position absolute
  top 50%
  transform translateY(-50%)
  right  -.1rem

.rightpop-children
  left .65rem

.rightpop-children:before
  content ""
  width 0
  height 0
  border .05rem solid #CCC
  border-bottom .05rem solid transparent
  border-left .05rem solid transparent
  border-top .05rem solid transparent
  position absolute
  top 50%
  transform translateY(-50%)
  left  -.1rem
