//$baseFontSize = 16px
//
//px2rem(name, px){
//  {name}: px / $baseFontSize * 1rem;
//}
//
//html
//  font-size $baseFontSize
@import "./variable.styl"
body
  color: #25272D
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif !important

.fl
  float left
.fr
  float right
.clearfix
  zoom 1
  &:after
    display block
    height 0
    clear both
    content ""
.inner // 中心内容
  width 12rem
  margin 0 auto

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args
  
border-radius()
  vendor('border-radius', arguments)
 
box-shadow()
  vendor('box-shadow', arguments)
//需要兼容按上述方法先声明,即可直接写属性