$colB789 = #2BB789
$colCDA1 = #46CDA1
$col996F = #1A996F
$col2F30 = #2C2F30
$colF6F0 = #E5F6F0
$colC68C = #14C68C
$col5656 = #F25656
$col999A = #97999A
$colAD26 = #E6AD26
$col292B = #25292B
$col6268 = #5E6268
$col3335 = #2F3335
$colD6D6 = #D5D6D6
$col292B = #25292B
$col2120 = #1E2120
$col3739 = #313739
$col2E33 = #2B2E33
$col2730 = #222730 //需要确认
$col8F93 = #8C8F93 //需要确认
$colFFFF = #FFFFFF
$col2F31 = #2B2F31
$col3133 = #2C3133
$col2625 = #232625
$col2B2D = #282B2D
$colFEFE = #FEFEFE
$col8485 = #828485
$col9370 = #299370
$col4740 = #D14740
$col8534 = #EF8534
$col3537 = #2F3537

$cola28814 = rgba(242, 86, 86, .14)
$cola1221 = rgba(192, 204, 218, .1)
$cola0004 = rgba(0, 0, 0, .4)
$cola0006 = rgba(0, 0, 0, .6)
$cola2228 = rgba(255, 255, 255, .8)
$cola2225 = rgba(255, 255, 255, .5)
$cola22205 = rgba(255, 255, 255, .05)
$cola2221 = rgba(255, 255, 255, .1)
$cola2222 = rgba(255, 255, 255, .2)
$cola23225 = rgba(230, 230, 230, .5)
$cola4117 = rgba(43,183,137, .7)
$cola2777 = rgba(216, 71, 71, .7)
$col2223 = rgba(203, 212, 225, .3)

$box-shadow = 0 2px 4px 0 rgba(0, 0, 0, .4)

// logo地址
$logo-index = url('/static/logo/logo_header.svg')
$logo-trade = url('/static/logo/logo_exchange.svg')

// 头部底部图片
$foot-top = url('/static/web/footer/top.svg')
$foot-app = url('/static/web/footer/app.svg')
$wx-qrCode = url('/static/web/footer/wx-qrCode.jpg')
$icon-select = url('/static/web/header/down_normal.svg')

// home图片
$market-active = url('/static/web/home/market_active4.png')
$home-up = url(/static/web/home/num_up.svg)
$home-down = url('/static/web/home/num_down.svg')

// 市场图片
$trade-reset = url('/static/web/trade/chexiao_hei.svg')
$trade-reset-hover = url('/static/web/trade/chexiao_bai.svg')
$trade-reset-all = url('/static/web/trade/chexiaoquanbu_hei.svg')
$trade-reset-all-hover = url('/static/web/trade/chexiaoquanbu_bai.svg')
$trade-success = url('/static/web/success.png')
$trade-remind = url('/static/web/remind.png')

// 资产图片
$asset-charge-new = url('/static/web/asset/new.png')

// 公共图片
$close-button = url('/static/web/guanbi_hei.svg')
$exchange-close-button = url('/static/web/trade/quxiao_bai.svg')
$history-export = url('/static/web/daochu.png')
$up-icon-rade = url('/static/web/up_icon_trade.png')
$down-icon-trade = url('/static/web/down_icon_trade.png')
$icon-nothing = url('/static/web/nothing.png')
$icon-xiala = url('/static/web/xiala_icon.svg')
$search-default = url('/static/web/search-default.svg')
$search-click = url('/static/web/search-click.svg')
$search-bai = url('/static/web/search_bai.svg')
$add-address = url('/static/web/add.svg')
$invite = url(/static/web/genrealize/invite.png)
$yiwen = url(/static/web/yiwen.svg)
$yiwen-active = url(/static/web/yiwen_active.svg)

$h5-user-next = url('/static/mobile/user/icon_qianjb@3x.png')

// 日历图片
$calendar_normal = url('/static/web/calendar/calendar_normal.svg')
$calendar_active = url('/static/web/calendar/calendar_lan.svg')



//$registe-bg1 = url(/static/images/genrealize/register_bg1.png)
//$registe-bg2 = url(/static/images/genrealize/register_bg2.png)
//$registe-bg3 = url(/static/images/genrealize/register_bg3.png)





