$main-color = #2BB789 //主色调以及附加效果
$main-color-hover = #48A5E0
$main-color-active = #0066A6
$main-bg-active = #F4F8FF

$positive-color = #219D05
$positive-color-hover = #64BA50
$positive-color-active = #1A7D04

$negative-color = #DE4A01
$negative-color-hover = #E7804D
$negative-color-active = #B13B00

$negative-opacity-color = rgba(222, 74, 1, 0.14)

$warn-color = #E6AD26
$warn-color-hover = #EDC567
$warn-color-active = #B88A1E

$message-bg-color = rgba(254,192,126,.16)
$popup-bg-color =  rgba(0,0,0,.4)

$line-light = #E5E9F2 // 浅色背景分隔线
$line-dark = #C0CCDA // 深色背景分割线
$line-dark-a =rgba(192,204,218,.1)
$exchange-border = #5E6268
$box-shadow = 0 2px 4px 0 rgba(0,0,0,0.4)

$normal-black-color = #25272D // 基础字体黑色
$exchange-color = #191F28 // 交易页面主色调
$exchange-bg = #14171C
$exchange-select-bg = #353D48
$exchange-blue = #129FCC
$exchange-opacity-blue = rgba(18,159,204,0.7)
$exchange-red =#D84747
$exchange-opacity-red = rgba(216,71,71,0.7)
$exchange-down-color = #2B2E33
$exchange-search-bg = rgba(255,255,255,0.10)
$exchange-shadow-color =  rgba(203,212,225,0.30)

$normal-gray-color = #99A9BF
$normal-white-color = #FFF
$normal-white-color-a = rgba(255,255,255,.5)
$normal-white-color-a9 = rgba(255,255,255,.9)


$api-table-gray-color = rgba(230, 230, 230, 0.5)


$normal-input-color = #F7F9FB
$disale-border-color = #D3DCE6
$disale-bg-color = #EFF2F7

$dark-font-color = #808080
$up-green-color = #1C9362
$up-red-color =#E03C3C

$bg-light-color = #F9F9F9
$bg-dark-color = #E6E6E6
$bg-medium-color = #F3F4F5

$index-blue = #418BFF
$index-red = #EA3C32
$index-gray = #858AA7
$footer-gray = #F8FAFB
$coinData-gray = #C3CBCE

//$url-icon
$logo-index = url('/static/img/home/logo.svg')
//$logo-other = url('/static/img/home/logo_hei@3x.png') 3.09rem .45rem center center
//$logo-trade = url('/static/img/home/headerLogoEn.png') 2.07rem .46rem center center
$logo-trade = url('/static/img/home/headerLogoEn.png')
$icon-select = url('/static/img/home/btn_Arrow.svg')
$logo-trade = url('/static/img/home/logo_bai.png')
$close-button = url('/static/img/guanbi_hei.svg')
$exchange-close-button = url('/static/img/trade/quxiao_bai.svg')
$wx-qrCode = url('/static/img/footer/wx-qrCode.jpg')


$history-export = url('/static/images/daochu.png')
$pre-month = url('/static/img/calendar/calendar_pre_month.svg')
$next-month = url('/static/img/calendar/calendar_next_month.svg')

$up-icon-rade = url('/static/images/up_icon_trade.png')
$down-icon-trade = url('/static/images/down_icon_trade.png')
$trade-success = url('/static/images/success.png')
$trade-remind = url('/static/images/remind.png')
$asset-charge-new = url('/static/images/new.png')
$icon-nothing = url('/static/images/nothing.png')

$icon-xiala = url('/static/images/xiala_icon.png')
$search-default = url('/static/images/search-default.svg')
$search-click = url('/static/images/search-click.svg')
$search-bai = url('/static/images/search_bai.svg')
$add-address = url('/static/images/add.png')

$invite-bg1 = url(/static/images/genrealize/invite_bg1.png)
$invite-bg2 = url(/static/images/genrealize/invite_bg2.png)
$invite-header-bg = url(/static/images/genrealize/invite_header_bg.png)
$invite-wait = url(/static/images/genrealize/invite_wait.png)
$invite-crt-bg = url(/static/images/genrealize/invite_crt_bg.png)
$invite-crt-func = url(/static/images/genrealize/invite_crt_func.png)
$invite-value = url(/static/images/genrealize/value.png)
$invite-welfa = url(/static/images/genrealize/welfa.png)
$invite-usage = url(/static/images/genrealize/usage.png)
$invite-cost = url(/static/images/genrealize/cost.png)
$invite-interesting = url(/static/images/genrealize/interesting.png)
$invite-more = url(/static/images/genrealize/more.png)

$registe-bg1 = url(/static/images/genrealize/register_bg1.png)
$registe-bg2 = url(/static/images/genrealize/register_bg2.png)
$registe-bg3 = url(/static/images/genrealize/register_bg3.png)
$h5-order-filter-select = url('/static/mobile/order/btn_xuanzhong_sel@3x.png')

// h5 新增
$h5-active-blue = #0098FA
$h5-active-yellow = #FABA00

$h5-color-weight = #24262C
$h5-color-light = #97A9C1
$h5-color-normal = #44566C
$h5-color-blue = #069AF7

$h5-border-light = #D8DAE1

$h5-shadow-light = rgba(0,0,0,0.05)

$h5-undeal-gray = #98A9C0
$h5-orderlist-th = #6B7E9C
$h5-filter-button = #7F7F7F
$h5-order-filter-button = #F6F8FB
$h5-order-filter-button-chosen = #E6F4FF