$main-color = #0080D0 //主色调以及附加效果
$main-color-hover = #48A5E0
$main-color-active = #0066A6
$main-bg-active = #F4F8FF

$positive-color = #219D05
$positive-color-hover = #64BA50
$positive-color-active = #1A7D04

$negative-color = #DE4A01
$negative-color-hover = #E7804D
$negative-color-active = #B13B00

$warn-color = #E6AD26
$warn-color-hover = #EDC567
$warn-color-active = #B88A1E

$message-bg-color = rgba(254,192,126,.16)

$line-light = #E5E9F2 // 浅色背景分隔线
$line-dark = #C0CCDA // 深色背景分割线

$box-shadow = 0 2px 4px 0 rgba(0,0,0,0.4)

$normal-black-color = #25272D // 基础字体黑色
$exchange-color = #191F28 // 交易页面主色调
$exchange-bg = #14171C
$exchange-select-bg = #353D48
$exchange-blue =#129FCC
$exchange-red =#D84747
$exchange-down-color = #2B2E33
$normal-gray-color = #99A9BF
$normal-white-color = #FFF
$normal-white-color-a = rgba(255,255,255,.5)
$normal-white-color-a9 = rgba(255,255,255,.9)



$normal-input-color = #F7F9FB
$disale-border-color = #D3DCE6
$disale-bg-color = #EFF2F7

$dark-font-color = #808080
$up-green-color = #1C9362
$up-red-color =#E03C3C

$bg-light-color = #F9F9F9
$bg-dark-color = #E6E6E6
$bg-medium-color = #F3F4F5

$index-blue = #418BFF
$index-red = #EA3C32
$index-gray = #858AA7

//$url-icon
$logo-index = url('/static/img/home/logo.svg')
//$logo-other = url('/static/img/home/logo_hei@3x.png') 3.09rem .45rem center center
//$logo-trade = url('/static/img/home/headerLogoEn.png') 2.07rem .46rem center center
$logo-trade = url('/static/img/home/headerLogoEn.png')
$icon-select = url('/static/img/home/btn_Arrow.svg')