$main-color = #2BB789 //主色调以及附加效果
$main-color-hover = #46CDA1
$main-color-active = #1A996F
$main-bg-active = #2C2F30
$home-recommend =  #E5F6F0
$banner-btn = #14C68C

$positive-color = #2BB789
$positive-color-hover = #46CDA1
$positive-color-active = #1A996F

$negative-color = #F25656
$negative-color-hover = #F25656
$negative-color-active = #F25656

$negative-opacity-color = rgba(242, 86, 86, 0.14)

$warn-color = #E6AD26
$warn-color-hover = #E6AD26
$warn-color-active = #E6AD26

$message-bg-color = rgba(192, 204, 218, .1)
$popup-bg-color = rgba(0, 0, 0, .4)

$line-light = rgba(255, 255, 255, .5) // 浅色背景分隔线
$line-dark = #25292B // 深色背景分割线
$line-dark-a = rgba(192, 204, 218, .1)
$exchange-border = #5E6268
$box-shadow = 0 2px 4px 0 rgba(0, 0, 0, 0.4)

$normal-black-color = #2F3335 // 基础字体黑色
$normal-font-color = #D5D6D6 //深色主题基础字体颜色
$exchange-color = #25292B // 交易页面主色调
$exchange-bg = #1E2120
//$exchange-select-bg = #353D48
$exchange-select-bg = #313739
$exchange-blue = #2BB789
$exchange-opacity-blue = rgba(43,183,137, 0.7)
$exchange-red = #F25656
$exchange-opacity-red = rgba(216, 71, 71, 0.7)
$exchange-down-color = #2B2E33
$exchange-search-bg = rgba(255, 255, 255, 0.10)
$exchange-shadow-color = rgba(203, 212, 225, 0.30)

$normal-gray-color = rgba(255, 255, 255, .5)
$normal-white-color = #FFF
$normal-white-color-a = rgba(255, 255, 255, .5)
$normal-white-color-a9 = rgba(255, 255, 255, .8)
$home-market-line = rgba(255, 255, 255, .05)
$normal-white-color-low = rgba(255, 255, 255, .2)

$api-table-gray-color = rgba(230, 230, 230, 0.5)

$normal-input-color = #25292B
$disale-border-color = #25292B
$disale-bg-color = #25292B

$dark-font-color = #2F3335
$up-green-color = #2BB789
$up-red-color = #F25656

$bg-light-color = rgba(255, 255, 255, 0.8)
$bg-dark-color = #25292B
$bg-medium-color = #313739
$bg-btn-color = #2B2F31

$index-blue = #2BB789
$index-red = #F25656
$index-gray = rgba(255, 255, 255, .5)
$footer-gray = rgba(255, 255, 255, .8)
$footer-bg = #2C3133
$coinData-gray = rgba(255, 255, 255, .8)

//$url-icon
$logo-index = url('/static/img/home/logo_header.svg')
$icon-select = url('/static/img/home/down_normal.svg')
$logo-trade = url('/static/img/home/logo_exchange.svg')

$close-button = url('/static/img/guanbi_hei.svg')
$exchange-close-button = url('/static/img/trade/quxiao_bai.svg')
$wx-qrCode = url('/static/img/footer/wx-qrCode.jpg')
$market-active = url('/static/img/home/market_active4.png')
$trade-reset = url('/static/images/chexiao_hei.svg')
$trade-reset-hover = url('/static/images/chexiao_bai.svg')
$trade-reset-all = url('/static/images/chexiaoquanbu_hei.svg')
$trade-reset-all-hover = url('/static/images/chexiaoquanbu_bai.svg')
$history-export = url('/static/images/daochu.png')
$pre-month = url('/static/img/calendar/calendar_pre_month.svg')
$next-month = url('/static/img/calendar/calendar_next_month.svg')

$up-icon-rade = url('/static/images/up_icon_trade.png')
$down-icon-trade = url('/static/images/down_icon_trade.png')
$trade-success = url('/static/images/success.png')
$trade-remind = url('/static/images/remind.png')
$asset-charge-new = url('/static/images/new.png')
$icon-nothing = url('/static/images/nothing.png')

$icon-xiala = url('/static/images/xiala_icon.svg')
$search-default = url('/static/images/search-default.svg')
$search-click = url('/static/images/search-click.svg')
$search-bai = url('/static/images/search_bai.svg')
$add-address = url('/static/images/add.svg')
$yiwen = url(/static/images/yiwen.svg)
$yiwen-active = url(/static/images/yiwen_active.svg)

$invite = url(/static/images/genrealize/invite.png)
// $invite-bg1 = url(/static/images/genrealize/invite_bg1.png)
// $invite-bg2 = url(/static/images/genrealize/invite_bg2.png)
// $invite-header-bg = url(/static/images/genrealize/invite_header_bg.png)
// $invite-wait = url(/static/images/genrealize/invite_wait.png)
// $invite-crt-bg = url(/static/images/genrealize/invite_crt_bg.png)
// $invite-crt-func = url(/static/images/genrealize/invite_crt_func.png)
// $invite-value = url(/static/images/genrealize/value.png)
// $invite-welfa = url(/static/images/genrealize/welfa.png)
// $invite-usage = url(/static/images/genrealize/usage.png)
// $invite-cost = url(/static/images/genrealize/cost.png)
// $invite-interesting = url(/static/images/genrealize/interesting.png)
// $invite-more = url(/static/images/genrealize/more.png)

$registe-bg1 = url(/static/images/genrealize/register_bg1.png)
$registe-bg2 = url(/static/images/genrealize/register_bg2.png)
$registe-bg3 = url(/static/images/genrealize/register_bg3.png)


$home-up = url(/static/img/num_up.svg)
$home-down = url('/static/img/num_down.svg')
$foot-top = url('/static/img/top.svg')
$foot-app = url('/static/img/app.svg')

$home_banner_btn_cn = url(/static/img/banner/btnCn.svg)
$home_banner_btn_en = url(/static/img/banner/btn_en.svg)
$home_banner_btn_cn_hover = url(/static/img/banner/signUp_cn_hover.svg)
$home_banner_btn_en_hover = url(/static/img/banner/signUp_en_hover.svg)

// h5 新增

$h5-background = #1E2120
$h5-foreground =  #282B2D
$h5-foreground-weight = #2F3335

$h5-color-weight = #fefefe
$h5-color-normal = #D5D6D6
$h5-color-light = #828485

$h5-color-green = #299370
$h5-color-red = #D14740
$h5-color-orange = #EF8534

$h5-border-weight = #1E2120;
