@import "./variable.styl"

.footer-wrap
  width 100%
  //min-width 11.6rem
  background-color $col3133
  height 3.97rem
  padding-top .95rem
  .home-img
    display block
    width 2.32rem
    padding-bottom .40rem
    margin 0 auto
    img
      width 2.32rem
      height .46rem
  ul
    text-align center
    margin-bottom .60rem
    li
      display inline-block
      margin-right .4rem
      a
        color $footer-font-nav
        font-weight 100
      a:hover
        color $footer-font-hover
    li:last-child
      margin-right 0
  .right-content
    padding .09rem 0
    position relative
    margin-bottom .50rem
    hr
      margin 0
      border-color $footer-font-copyright
      border-bottom none
    p
      position absolute
      top 0
      left 50%
      padding 0 .3rem
      text-align center
      line-height .20rem
      color $footer-font-copyright
      background-color $col3133
      transform translateX(-50%)
      font-weight 100
  ol
    text-align center
    li
      display inline-block
      margin-right .6rem
      position relative
      img
        width .2rem
        height .2rem
      .wx-img:hover
        +.wx-qrCode
          display block
      .wx-img
        +.wx-qrCode
          display none
          width 1rem
          height 1rem
          background-image $footer-image-wechat
          background-color #F8FAFB
          background-position center center
          background-size 1rem 1rem
          background-repeat no-repeat
          position absolute
          bottom .3rem
          right -.4rem
          z-index 999
    li:last-child
      margin-right 0
  .aside-nav-desk
    display none
    position fixed
    right 0
    bottom: 280px
    width 56px
    height 56px
    background $col3133-aside
    border-radius 4px
  .aside-nav-top
    position fixed
    right 0
    bottom: 222px
    width 56px
    height 56px
    display: none
    background-color  $col3133-aside
    border-radius 4px
    background-image $footer-image-top
    background-size 17px 19px
    background-position:center;
    background-repeat:no-repeat;
    cursor pointer
  .aside-nav-app
    position fixed
    display: none
    right 0
    bottom: 338px
    width 56px
    height 56px
    background-color  $col3133-aside
    border-radius 4px
    background-image  $footer-image-app
    background-size 17px 26px
    background-position:center;
    background-repeat:no-repeat;
    cursor pointer
    &:hover
      .erweima
        display block
    .erweima
      position absolute
      display none
      right 58px
      width 120px
      height 140px
      padding 10px
      background-color  $col3133-aside
      border-radius 4px
      text-align center
      img
        width 100px
        height 100px
        margin-bottom 4px
      span
        font-size 14px
        color $colD6D6
.footer-fixed
  position fixed
  bottom 0


#udesk_container
  display none