@import "../../../common/css/variable.styl"

.footer-wrap
  background $footer-gray
  height 2.1rem
  padding .35rem 1.2rem 0
  .home-img
    display block
    padding-bottom .24rem
    img
      width .82rem
      height .24rem
  ul
    margin-bottom .2rem
    li
      float left
      margin-right .4rem
      a
        color $normal-black-color
  ol
    li
      float left
      margin-right .2rem
      img
        width .2rem
        height .2rem
  .right-content
    padding-top .24rem
    text-align right
    p:nth-of-type(1)
      padding-bottom .25rem

.footer-fixed
  position fixed
  bottom 0