@import "../../../common/css/variable.styl"

.footer-wrap
  width 100%
  //min-width 11.6rem
  background-color $footer-bg
  height 3.97rem
  padding-top .95rem
  .home-img
    display block
    width 1.64rem
    padding-bottom .40rem
    margin 0 auto
    img
      width 1.64rem
      height .48rem
  ul
    text-align center
    margin-bottom .60rem
    li
      display inline-block
      margin-right .4rem
      a
        color $normal-white-color-a9
    li:last-child
      margin-right 0
  .right-content
    padding .09rem 0
    position relative
    margin-bottom .50rem
    hr
      margin 0
      border-color $normal-white-color-a
    p
      position absolute
      top 0
      left 50%
      padding 0 .3rem
      text-align center
      line-height .20rem
      color $normal-white-color-a
      background-color $normal-black-color
      transform translateX(-50%)
  ol
    text-align center
    li
      display inline-block
      margin-right .6rem
      position relative
      img
        width .2rem
        height .2rem
      .wx-img:hover
        +.wx-qrCode
          display block
      .wx-img
        +.wx-qrCode
          display none
          width 1rem
          height 1rem
          background-image $wx-qrCode
          background-color #F8FAFB
          background-position center center
          background-size 1rem 1rem
          background-repeat no-repeat
          position absolute
          bottom .3rem
          right -.4rem
          z-index 999
    li:last-child
      margin-right 0
  .aside-nav-desk
    position fixed
    right 0
    bottom: 280px
    width 56px
    height 56px
    background #363B3D
    border-radius 4px
  .aside-nav-top
    position fixed
    right 0
    bottom: 222px
    width 56px
    height 56px
    display: none
    background-color  #363B3D
    border-radius 4px
    background-image  $foot-top
    background-size 17px 19px
    background-position:center;
    background-repeat:no-repeat;
    cursor pointer
.footer-fixed
  position fixed
  bottom 0