@import "./variable.styl"
.tradeNav, .headerNav, .homeNav
  width 14.4rem
  height 50px
  padding 0 28px
  background $header-bg-exchange
  line-height 50px
  position fixed
  top 0
  z-index 9999
  .hide
    display none
  .login-out
    cursor pointer
  >ul
    float left
    >li
      float left
    li
      height 50px
      margin-right 40px
      a
        color $header-font-nav
        font-size 14px
        font-weight 100
        &:hover
          color $header-font-hover
      &.header-nav-active
        >a
          color $header-font-active
      &:last-child
        margin-right 0
      &.nav-logo
        margin-right 120px
        a
          display block
          width 101px
          height 50px
          background $header-image-trade no-repeat 0 15px / 101px 20px
      &.select-list
        position relative
        &:hover
          .select-router
            display block
          &:after
            position absolute
            top: 50%
            right -10px
            content: ''
            width 8px
            height 5px
            background-image $header-icon-select
            background-size cover
            transform translateY(-50%) rotate(180deg)

        &:after
          position absolute
          top: 50%
          right -10px
          content: ''
          width 8px
          height 5px
          background-image $header-icon-select
          background-size cover
          transform translateY(-50%)

        .select-router
          position absolute
          display none
          left -18px
          width 100px
          background $header-bg-exchange
          border 1px solid $header-line-exchange 
          li
            width 100%
            height 40px
            line-height 40px
            text-align center
            margin-right 0
            &:nth-of-type(1)
              border-bottom 1px solid $header-line-exchange 
            a
              display block
              width 100%
              height 100%
              padding 0
              font-weight 100
              &.children-active
                background $header-font-active
                color $header-font-hover
                &:hover
                  background $header-font-active
                  color $header-font-hover
              &:hover
                color $header-font-active
  >ol
    float right
    >li
      float left
      color $header-font-nav
      &.language-li
        width 80px
        &:hover
          color $header-font-hover
          .language-ul
            display block
          p:after
            position absolute
            top 50%
            right -10px
            content ''
            width 8px
            height 5px
            background-image $header-icon-select
            background-size cover
            transform translateY(-50%) rotate(180deg)
        p
          position relative
          cursor pointer
          text-align center
          &:after
            position absolute
            top 50%
            right -10px
            content ''
            width 8px
            height 5px
            background-image $header-icon-select
            background-size cover
            transform translateY(-50%)
          span
            font-size 14px
            font-weight 100
        ul
          position relative
          display none
          background $header-bg-exchange
          box-shadow  0 0 .10rem 0 rgba(0,0,0,0.5)
          li
            height 40px
            padding 0 5px
            line-height 40px
            text-align center
            cursor pointer
            &:hover
              color $header-font-active
            span
              font-size 14px
              font-weight 100
        img
          display none
      &.new-li
        position relative
        .new-li-img
          position relative
          text-align center
          cursor pointer
          img
            position relative
            top -1px
            width 16px
            height 16px
            vertical-align middle
            opacity .8
            &:hover
              opacity 1
          i
            position relative
            right 8px
            top 8px
            display inline-block
            min-width 15px
            height 15px
            padding 2px
            background $negative-color
            color $header-font-hover
            border-radius 50%
            line-height 12px
            font-size 12px
            &.hide
              display none
        .new-li-content
          position absolute
          left 50%
          transform translateX(-50%)
          width 330px
          border-radius (2px)
          background $header-bg-exchange
          border 1px solid $header-font-normal
          box-shadow  0 0 10px 0 rgba(0,0,0,0.3)
          //&:after
          //  position absolute
          //  top -.06rem
          //  left 50%
          //  width .1rem
          //  height .1rem
          //  margin-left -.05rem
          //  border-top 1px solid $normal-black-color
          //  border-right 1px solid $normal-black-color
          //  background $exchange-color
          //  transform rotate(-45deg)
          //  -webkit-transform rotate(-45deg)
          //  content ''
          p
            height 40px
            line-height 40px
            padding 0 10px
            color $header-font-light
            background $header-font-normal
            span
              float left
              font-size 14px
            em
              float right
              font-size 14px
              &:hover
                cursor pointer
                color $header-font-active
          ul
            max-height 150px
            padding 10px
            overflow-y auto
            &::-webkit-scrollbar-button
              display none
            &::-webkit-scrollbar
              position relative
              width 3px
              height 100%
            &::-webkit-scrollbar-track
              width 3px
              background #222730
            &::-webkit-scrollbar-thumb
              width 3px
              background #8C8F93
            li
              height 30px
              line-height 30px
              cursor pointer
              span
                display inline-block
                float left
                width 120px
                max-width 120px
                overflow hidden
                white-space nowrap
                text-overflow ellipsis
                font-size 14px
              b
                float right
                font-size 14px
          div
            padding 30px 0
            text-align center
            color $header-font-light
          .check-all
            display block
            height 36px
            line-height 36px
            text-align center
            color $header-font-light
            background $header-font-normal
            font-size 14px
            &:hover
              color $header-font-active

      &.login-li
        margin 0 30px 0 35px
        a
          font-weight 100
          color $header-font-nav
          &:hover
            color $header-font-hover
      &.user-li
        position relative
        margin 0 30px 0 35px
        p
          position relative
          cursor pointer
          text-align center
          font-size 14px
          font-weight 100
          &:hover
            color $header-font-hover
          &:after
            position absolute
            top 50%
            right -10px
            content ''
            width 8px
            height 5px
            background-image $header-icon-select
            background-size cover
            transform translateY(-50%)
        ul
          position absolute
          left 50%
          transform translateX(-50%)
          display none
          width 120px
          background $header-bg-exchange
          li
            height 40px
            padding 0 5px
            line-height 40px
            text-align center
            color $header-font-li
            border-bottom 1px solid $header-line-exchange 
            font-size 14px
            font-weight 100
            &:hover
              color $header-font-active
              a
                color $header-font-active
            a
              font-size 14px
              color $header-font-li
              font-weight 100
            //&:nth-of-type(1)
            //  border-bottom 1px solid $exchange-bg
        &:hover
          .login-ul
            display block
          p:after
            position absolute
            top 50%
            right -10px
            content ''
            width 8px
            height 5px
            background-image $header-icon-select
            background-size cover
            transform translateY(-50%) rotate(180deg)


.headerNav, .homeNav
  width 100%
  min-width 1160px
  height 70px
  padding 0 120px
  line-height 70px
  background $header-bg-active
  >ul
    height 70px
    li
      height 70px
      margin-right 40px
      &.header-nav-active
        >a
          //border-bottom 2px solid $index-blue
          color $header-font-active
          padding 6px 2px
          font-weight 400
      &:last-child
        margin-right 0
      &.nav-logo
        margin-right 120px
        a
          display block
          width 121px
          height 50px
          margin-top 10px
          background $header-image-logo no-repeat 0 12.5px / 121px 24px

  >ol
    >li
      &.language-li
        width 100px
        p
          text-align center
        ul
          li
            height 40px
            padding 0 5px
        img
          position relative
          top -2px
          display inline-block
          width 20px
          height 15px
          margin-right 10px
          vertical-align middle

.homeNav
  background transparent
  box-shadow none
  color $header-font-hover
  >ul
    li
      &.select-list
        .select-router
          margin-top -10px
          //box-shadow: 0 2px 4px 0 rgba(0,0,0,0.22), 0 0 6px 0 rgba(0,0,0,0.3);
          box-shadow  0 0 1px 0 rgba(0,0,0,0.5)
  >ol
    >li
      &.language-li
        width 100px
        p
          text-align center
        ul
          margin-top -10px
          li
            &:nth-of-type(1)
              border-bottom none
        img
          display inline-block
          width 20px
          height 15px
          margin-right 10px
          vertical-align middle
      &.user-li
        ul
          margin-top -10px
          //box-shadow: 0 2px 4px 0 rgba(0,0,0,0.22), 0 0 6px 0 rgba(0,0,0,0.3);
          box-shadow  0 0 10px rgba(0,0,0,0.5)
      &.new-li
        .new-li-content
          margin-top -10px
          box-shadow  0 0 10px 0 rgba(0,0,0,0.5)

// 其他地方登录弹窗
.other-login
  position absolute
  top 100%
  left 50%
  transform translateX(-50%)
  width 6rem
  height 2rem
  line-height 2rem
  background $header-font-normal
  z-index 999
  border 1px solid $header-line
  border-radius .1rem
  text-align center
  color $header-font-light
  p
    font-size .2rem

