@import "../../../common/css/variable.styl"

$footer-bg = $footer-bg
$footer-bg-aside = #363B3D

$footer-image-app = $foot-app
$footer-image-top = $foot-top
$footer-image-wechat = $wx-qrCode

$footer-font-nav = $normal-white-color-a
$footer-font-hover = $normal-white-color
$footer-font-copyright = $normal-white-color-low


$header-bg-active = $main-bg-active
$header-bg-exchange = $exchange-color

$header-font-nav = $normal-white-color-a9
$header-font-hover = $normal-white-color
$header-font-active = $main-color
$header-font-normal = $normal-black-color
$header-font-light = $normal-font-color
$header-font-li = $normal-white-color-a

$header-image-logo = $logo-index
$header-image-trade = $logo-trade
$header-icon-select = $icon-select

$header-line = $line-dark
$header-line-exchange = $exchange-bg