@import "../../../common/css/variableWill.styl"

$col3133 = $col3133
$col3133-aside = #363B3D

$footer-image-app = $foot-app
$footer-image-top = $foot-top
$footer-image-wechat = $wx-qrCode

$footer-font-nav = $cola2225
$footer-font-hover = $colFFFF
$footer-font-copyright = $cola2222


$header-bg-active = $col2F30
$header-bg-exchange = $col292B
$header-bg-main = $col3537

$header-font-nav = $cola2228
$header-font-hover = $colFFFF
$header-font-active = $colB789
$header-font-normal = $col3335
$header-font-light = $colD6D6
$header-font-li = $cola2225

$header-image-logo = $logo-index
$header-image-trade = $logo-trade
$header-icon-select = $icon-select

$header-line = $col292B
$header-line-exchange = $col2120