@import "../../../common/css/variable.styl"

$pc-footer-bg = $footer-bg
$pc-footer-bg-aside = #363B3D

$pc-footer-image-app = $foot-app
$pc-footer-image-top = $foot-top
$pc-footer-image-wechat = $wx-qrCode

$pc-footer-font-nav = $normal-white-color-a
$pc-footer-font-hover = $normal-white-color
$pc-footer-font-copyright = $normal-white-color-low


$pc-header-bg-active = $main-bg-active
$pc-header-bg-exchange = $exchange-color

$pc-header-font-nav = $normal-white-color-a9
$pc-header-font-hover = $normal-white-color
$pc-header-font-active = $main-color
$pc-header-font-normal = $normal-black-color
$pc-header-font-light = $normal-font-color
$pc-header-font-li = $normal-white-color-a

$pc-header-image-logo = $logo-index
$pc-header-image-trade = $logo-trade
$pc-header-icon-select = $icon-select

$pc-header-line = $line-dark
$pc-header-line-exchange = $exchange-bg