// @import "./variable.styl"
.about-us
  display flex
  flex-direction column
  img
    width 100%
  .invite-btn
    height .45rem
    line-height .45rem
    text-align center
    background $h5-user-theme-main
    color $h5-user-font-head
    font-size .18rem
    margin .4rem .12rem
    border-radius .02rem
    &:hover,&:active,&:focus
      opacity .6