.user-center-googlekey
  padding-bottom 0.3rem
  .qrcode
    margin-top 0.4rem
    text-align center
    canvas
      width 1.6rem !important
      height 1.6rem !important
      border 0.04rem solid $h5-user-font-content
  .key
    margin-top 0.4rem
    padding 0 0 0 0.82rem
    .input
      float left
    span
      float left
      color $h5-user-font-main
    input
      width auto
      padding 0
      border none
      color $h5-user-font-content
      font-size 0.15rem
      background transparent
  .intro
    padding 0.4rem 0.2rem 0.23rem
    line-height 0.21rem
    color $h5-user-font-title
    li
      margin-bottom 0.04rem
      // word-break break-all
  button
    display block
    width 3.51rem
    height 0.45rem
    margin 0 auto
    font-size 0.18rem
    letter-spacing 0