//@import "../../../common/css/variable.styl"

@keyframes loading
  0%
    transform rotate(0deg)
    -ms-transform rotate(0deg)
    -moz-transform rotate(0deg)
    -webkit-transform rotate(0deg)
    -o-transform rotate(0deg)
  100%
    transform rotate(360deg)
    -ms-transform rotate(360deg)
    -moz-transform rotate(360deg)
    -webkit-transform rotate(360deg)
    -o-transform rotate(360deg)

.identify-wrap-h5
  .hide
    display none
  .auth-res
    color $user-font-normal
  span
    color $user-font-normal
  .number-err
    position absolute
    color $user-font-warn
    margin-top .05rem
  input
    width 2.06rem
    height .4rem
    padding-left .1rem
    //background $col2F30
    //border 1px solid $cola2225
    border-radius (.02rem)
    vertical-align bottom
  .identify-result
    padding .16rem 0 .32rem 1.5rem
    border-bottom 1px solid $user-line-main
    img
      width .44rem
      height .44rem
      margin-right .1rem
      vertical-align middle
  .name-identify
    padding 0 0.12rem
    background-color $h5-user-bg-con
    border-bottom 1px solid $user-line-main
    .form
      width 100%
      height 0.43rem
      color $h5-user-font-content
      line-height 0.43rem
      border-bottom 0.01rem solid $h5-user-line
      &:last-child
        border none
      span
        width 0.9rem
      .item
        position relative
        float left
        font-size 0.15rem
        i
          position absolute
          right -0.8rem
          bottom 0
          height 0.43rem
          line-height 0.43rem
          color $h5-user-theme-active
        &.user-type
          width 2.6rem
          position relative
          &::after
            position absolute
            top 0
            right 0
            content ''
            width 0.2rem
            height 100%
            background $h5-user-next no-repeat center center;
            background-size 0.08rem auto;
          &.none
            color $h5-user-font-title
            font-size 0.14rem
        input
          width 2.5rem
          height 0.43rem
          padding-left 0
          border none
          font-size 0.15rem
          color $h5-user-font-content
          letter-spacing 0
          background-color transparent
          placeholder($h5-user-font-title, 0.14rem)
          &.id-num
            width 1.8rem
    // span
    //   display block
    //   width 8rem
    //   margin-bottom .44rem
    //   fz11()
    //   color $user-font-warn
    ul
      margin 0 .44rem .44rem 0
      color $user-font-normal
      li:first-child
        margin-bottom .18rem
    dl
      color $user-font-normal
      dt
        margin-bottom .32rem
      dd
        float left
        width 1.05rem
        margin-bottom .18rem
        cursor pointer
        img
          width 0.14rem
          height 0.14rem
          margin-right .1rem
          vertical-align top

    .id-input
      width 4.56rem

  .photo-identify
    padding 0.08rem 0 .58rem
    .user-req4
      color $user-font-warn
    div
      .user-indentity-submit
        position fixed
        bottom 0
        left 0
        width 100%
        height 0.7rem
        z-index 999
        background-color $h5-user-bg
        .identify-btn
          display block
          width 3.51rem
          height .45rem
          margin 0.12rem auto 0
          font-size 0.18rem
          color $h5-user-font-none
          letter-spacing 0
          text-align center
    input
      width .12rem
      height .12rem
      margin-right .08rem
      vertical-align top
      p
        display inline-block
        position relative
        top .02rem
        margin-right .1rem
        cursor pointer
        span
          display inline-block
          width .14rem
          height .14rem
          border 1px solid $user-border-select
          border-radius .03rem
        img
          width .15rem
          height .15rem
    dl
      color $user-font-normal
      margin-bottom .44rem
      dt
        margin-bottom .32rem
      &.user-photoVerify-type
        dd
          float left
          width 1.05rem
          margin-bottom .18rem
          cursor pointer
          img
            width 0.14rem
            height 0.14rem
            margin-right .1rem
            vertical-align top

      &.user-photoVerify-upload
        background-color $h5-user-bg-con
        .user-verify-imgs
          margin-bottom 0.1rem
        dd
          position relative
          width 3.51rem
          padding 0.45rem 0 0 0
          text-align center
          cursor pointer
          margin 0 auto
          border-bottom 0.01rem solid $h5-user-line;
          &:last-child
            border none
          img
            width 3.51rem
            height 2.2rem
            display block
            vertical-align middle
          .up-img
            position absolute
            top 0.45rem
            left 0
            z-index 1
          p
            position absolute
            left 0
            top 0
            width 100%
            height 0.45rem
            font-size 15px
            color $h5-user-font-content
            letter-spacing 0
            line-height 0.45rem
            text-align left
            span
              float right
              color $h5-user-font-main
          .loading-wrap
            position absolute
            width 3.51rem
            height 2.2rem
            left 0
            top 0.45rem
            z-index 99
            background rgba(0, 0, 0, .5)
            img
              position absolute
              left 50%
              top 50%
              transform translateX(-50%) translateY(-50%)
              width .32rem
              height .32rem
              margin-top -.16rem
              margin-left -.16rem
              animation loading 1.5s linear infinite;
              -webkit-animation loading 1.5s linear infinite;