.user-set-password
  padding: .05rem .12rem .24rem .12rem
  div
    position relative
    h2
      padding: .19rem 0 .17rem
    .input
      width: 3.51rem
      height: .46rem
      border: 1px solid #D8DAE1
      border-radius: 2px
  .button
    width: 3.51rem
    height: .45rem
    font-size: 18px
    background-color: #009DFF
    margin-top: 35px
    margin-bottom: 12px
  p
    fontsize