// @import "./variable.styl"
.set-pass-wrap
  width 100%
  height 100vh
  em
    display block
    font-size .12rem
    color $h5-user-theme-active
    margin-top .08rem
  .safe-center-header
    position relative3
    width 100%
    padding .12rem .12rem
    background-color $h5-user-bg-active
    border-bottom .01rem solid $h5-user-line
    .back
      position relative
      a
        color $h5-user-font-head
        font-size .14rem
        line-height .2rem
        vertical-align middle
      img
        height .16rem
        margin-right .05rem
        vertical-align middle
      span
        position absolute
        left 50%
        transform translateX(-50%)
        font-size .14rem
        line-height .2rem
        color $h5-user-font-head
        vertical-align middle
        white-space nowrap
  .hide
    display none
  .pass-info
    width 100%
    padding .12rem
    margin-top .2rem
    ul
      li
        width 100%
        position relative
        margin-bottom .25rem
        &.password-tip, &.remind-pass-li
          p
            font-size .14rem
            color $h5-user-font-title
            letter-spacing 0
            text-align justify
            line-height 0.21rem
        p
          margin-bottom .1rem
          font-size .18rem
          color $h5-user-font-content
        input
          width 100%
          height .4rem
          padding-left .1rem
          border-radius .02rem
        .btn
          width 35%
          height .4rem
          font-size .13rem
        .picture-btn
          border 0
          height .4rem
          background $h5-user-bg-img
          border-radius 0 .02rem .02rem 0
        .verify-btn
          border 0
          height .4rem
          border-radius 0 .02rem .02rem 0
          background $h5-user-bg-weight
          color $h5-user-font-title
        .pass-btn-group
          display flex
          .base-input-wrap
            flex-grow 1
            input
              border-right 0
              border-radius .02rem 0 0 .02rem
      .submit-li
        //margin-top .36rem
        .set-btn
          width 100%
          border-radius .02rem
          opacity 0.6
          &.can-click
            opacity 1

