// @import "./variable.styl"
  .safe-center-container
    margin .05rem 0
    padding 0 .12rem
    font-size .15rem
    line-height .21rem
    background-color $h5-user-bg-active
    .item
      border-bottom .01rem solid $h5-user-line
      line-height .45rem
      display block
      .fl
        color $h5-user-font-content
      .fr
        float right
        height .16rem
        font-size .12rem
        color $h5-user-font-title
      img.fr
        height .16rem
        margin-top .14rem
      &.br
        height .12rem
        background $h5-user-bg
        margin 0 -.12rem
      &:nth-child(3),
      &:nth-child(5)
        border-bottom 0
  // .need-fund-pass
  //   position fixed
  //   bottom 0
  //   left 0
  //   width 100%
  //   height 100vh
  //   background-color rgba(0, 0, 0, 0.6)
  //   .select-section
  //     width 100%
  //     position fixed
  //     bottom 0
  //     left 0
  //     background-color $h5-user-bg-active
  //     a
  //       display block
  //       font-size .15rem
  //       line-height .45rem
  //       border-bottom .01rem solid $h5-user-line
  //       color $h5-user-font-content
  //       text-align center
  //     a:nth-child(3)
  //       border-bottom .08rem solid $h5-user-line
  //     a:nth-child(4)
  //       border-bottom 0

//验证资金密码弹窗
.verify-fund-pass-wrap
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0, 0, 0, .5)
  .verify-fund-pass
    position absolute
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)
    width 3.3rem
    padding .2rem .12rem .6rem .12rem
    background $h5-user-bg-active
    border-radius .02rem
    overflow hidden
    h1
      margin-bottom .2rem
      span
        float left
        font-size .16rem
        color $h5-user-font-head
      img
        width .14rem
        height .14rem
        margin-top -.1rem
        float right
    .base-input-wrap
      width 100%
      margin-bottom .16rem
      input
        width 100%
        height .4rem
        background $h5-user-bg
    button
      width 100%
      background $h5-user-theme-main
      color $h5-user-font-head
      height .4rem
      border-radius 0 !important
      position absolute
      left 0
      right 0
      bottom 0




