// @import "./variable.styl"
.user-center-index
  height calc(100vh - 50px)
  .user-center-header
    background-color $h5-user-bg-active
    div
      padding .25rem 0
      display flex
      flex-direction column
      align-items center
      img
        width .5rem
        height .5rem
        border-radius 50%
      span
        margin-top .1rem
        font-size .2rem
        color $h5-user-font-content
  .user-center-main
    margin-top .08rem
    padding 0 .12rem
    background-color $h5-user-bg-active
    .list-section
      margin-bottom .16rem
      background-color $h5-user-bg-active
      li
        float left
        width 50%
        height 0.81rem
        padding 0 .12rem 0 .12rem
        border-bottom 0.02rem solid $h5-user-line
      li:nth-child(5),li:nth-child(6)
        border-bottom none
      li:nth-of-type(odd)
        border-right 0.02rem solid $h5-user-line
      li:nth-of-type(even)
        padding 0 0 0 .23rem
      li:nth-child(1)
        .fl
          position relative
          overflow hidden
          width 100%
          .img
            float left
          span
            float left
            &.en
              height 0.7rem
              line-height 0.7rem
        .fr.en
          position absolute
          left 0.32rem
          bottom 0.2rem
          span
            height 0.14rem
            line-height 0.14rem
      .list-item
        height 0.81rem
        line-height 0.81rem
        border-bottom .01rem solid $h5-user-line
        display block
        clear both
        .fl
          img
            height .19rem
            vertical-align middle
            margin-right .13rem
          span
            font-size .14rem
            color $h5-user-font-content
            vertical-align middle
        .fr
          img
            height .16rem
            vertical-align middle
            margin-left .04rem
          span
            font-size .12rem
            color $h5-user-font-title
      .list-item:last-child
        border-bottom 0