@import "../../../common/css/variable.styl"
.user-center-index
  height 100vh
  background-color #f6f8fa
  .user-center-header
    background-color #069AF7
    h1
      padding .13rem 0 .06rem
      font-size .18rem
      line-height .25rem
      text-align center
      color #ffffff
    div
      padding .25rem 0 .23rem .20rem
      img
        margin-right .12rem
        width .44rem
        height .44rem
        border-radius 50%
        vertical-align middle
      span
        font-size .3rem
        line-height .42rem
        vertical-align middle
        color #ffffff
  .user-center-main
    .list-section
      padding 0 .12rem
      margin-bottom .16rem
      background-color #ffffff
      .list-item
        padding .13rem 0
        border-bottom .02rem solid #E0E0E0
        .fl img
          height .19rem
          vertical-align middle
          margin-right .13rem
        .fl span 
          font-size .15rem
          line-height .21rem
          color #24262C
          vertical-align middle
        .fr img
          height .16rem
          vertical-align middle
          margin-left .04rem
        .fr span 
          font-size .14rem
          line-height .21rem
          color #97A9C1
          vertical-align middle
      .list-item:last-child
        border-bottom 0