@import "../../../common/css/variable.styl"
.user-safe-center
  width 100%
  height 100vh
  background-color #f6f8fa
  .pass-wrap
    .pass-info
      width 100%
      .close-popup
        margin-left 3rem
      .base-input-wrap
        input
          width 100%
      ul
        li
          .set-btn
            margin-left 2rem
  .safe-center-header
    position relative
    width 100%
    padding .12rem .12rem
    background-color #009af6
    .back
      a
        color $normal-white-color
        font-size .14rem
        line-height .2rem
        vertical-align middle
      img
        height .16rem
        margin-right .05rem
        vertical-align middle
      span 
        font-size .14rem
        line-height .2rem
        color #FFFFFF
        vertical-align middle
    .name
      position absolute
      top 50%
      left 50%
      transform translateX(-50%) translateY(-50%)
      font-size .18rem
      line-height .20rem
      color #FFFFFF
  .safe-center-container
    padding 0 .12rem
    font-size .15rem
    line-height .21rem
    background-color #ffffff
    .item
      padding .11rem 0
      border-bottom .02rem solid #D8DAE1
      .fr span 
        font-size .14rem
        color #97A9C1
      .fr img 
        height .16rem
        vertical-align middle
        margin-left .05rem
    .item:last-child
      border-bottom 0
  .need-fund-pass
    position fixed
    bottom 0
    left 0
    width 100%
    height 100vh
    background-color rgba(0, 0, 0, 0.6)
    .select-section
      width 100%
      position fixed
      bottom 0
      left 0
      background-color #f6f8fa
      button 
        width 100%
        font-size .18rem
        line-height .25rem
        padding .1rem
        border-bottom .02rem solid #D8DAE1
        background-color #ffffff
      button:nth-child(3)
        border-bottom 0
        margin-bottom .12rem
      button:nth-child(4)
        border-bottom 0

//验证资金密码弹窗
.verify-fund-pass-wrap
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0, 0, 0, .5)
  .verify-fund-pass
    position absolute
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)
    width 3.3rem
    padding .2rem .1rem
    background $normal-white-color
    h1
      margin-bottom .2rem
      span
        float left
        font-size .16rem
      img
        width .1rem
        height .1rem
        margin-top -.1rem
        float right
    p
      margin-bottom .1rem
      font-size .12rem
      color $negative-color
    .base-input-wrap
      width 100%
      height .3rem
      margin-bottom .2rem
      input
        width 100%
        height .3rem
    button
      float right
      background $main-color
      color $normal-white-color



