.user-center-index
  height: 100vh
  background-color: #f6f8fa
  .user-center-header
    background-color: #069AF7
    h1
      padding: .13rem 0 .06rem
      font-size: .18rem
      line-height: .25rem
      text-align: center
      color: #ffffff
    div
      padding: .25rem 0 .23rem .20rem
      img
        margin-right: 12px
        width: .44rem
        height: .44rem
        border-radius: 50%
        vertical-align: middle
      span
        font-size: .3rem
        line-height: .42rem
        vertical-align: middle
        color: #ffffff
  .user-center-main
    .list-section
      padding: 0 .12rem
      margin-bottom: .16rem
      background-color: #ffffff
      .list-item
        padding: 13px 0
        border-bottom: 2px solid #E0E0E0
        .fl img
          height: 19px
          vertical-align: middle
          margin-right: 13px
        .fl span 
          font-size: 15px
          line-height: 21px
          color: #24262C
          vertical-align: middle
        .fr img
          height: 16px
          vertical-align: middle
          margin-left: 4px
        .fr span 
          font-size: 14px
          line-height: 21px
          color: #97A9C1
          vertical-align: middle
      .list-item:last-child
        border-bottom: 0