@import "../../../common/css/index.styl"

$h5-user-bg = $col2120
$h5-user-bg-active = $col2B2D
$h5-user-bg-weight = $col3335

$h5-user-line = $col2120

$h5-user-font-main = $col9370
$h5-user-font-content = $colD6D6
$h5-user-font-title = $col8485
$h5-user-font-head = $colFEFE

$h5-user-theme-main = $col9370
$h5-user-theme-active = $col4740

$h5-user-border-main = $col9370