@import "../../../common/css/variable.styl"

$h5-user-bg = $h5-background
$h5-user-bg-active = $h5-foreground
$h5-user-bg-weight = $h5-foreground-weight

$h5-user-line = $h5-background

$h5-user-font-normal = $h5-color-normal
$h5-user-font-light = $h5-color-light
$h5-user-font-weight = $h5-color-weight
$h5-user-green = $h5-color-green
$h5-user-red = $h5-color-red