.user-center-verify
  padding 0.07rem 0.12rem 0
  .user-center-phonemail, .user-center-google
    .error
      border 0.01rem solid $h5-user-theme-active
      border-radius(0.02rem)
      input
        border none
    h3
      height 0.6rem
      line-height 0.6rem
      font-size 0.18rem
      color $h5-user-font-content
    input
      width 100%
      height 0.45rem
      placeholder($h5-user-font-title, 0.15rem)
    .error-tip
      position absolute
      left 0
      bottom -0.25rem
      color $h5-user-theme-active
      font-size 0.14rem
      letter-spacing 0
    .account
      position relative
      margin-bottom 0.1rem
    .code
      position relative
      margin-bottom 0.35rem
      .code-input
        width 2.39rem
      .send-code
        position absolute
        right 0.01rem
        bottom 0.01rem
        width 1.12rem
        height 0.45rem
        color $h5-user-font-main
        background-color $h5-user-bg-weight
        border-radius(0 0.02rem 0.02rem 0)
  .submit
    width 100%
    height 0.45rem
    font-size .18rem
  .user-center-google
    .item-code
      float left
      margin-right 0.15rem
      &.last-child
        margin-right 0
    .input
      margin-bottom 0.44rem
    input
      width 0.45rem
      height 0.45rem
      font-size 0.28rem
      text-align center
      border none
      color transparent
      text-shadow 0 0 0 $h5-user-font-content
      background-color $h5-user-bg-active
      border-radius(0.02rem)
      &:focus
        border 0.01rem solid $h5-user-border-main
      &.tip
        border 0.01rem solid $h5-user-theme-active
  .tips
    font-size 0.14rem
    line-height 0.21rem
    color $h5-user-font-title
    margin-top 0.12rem