@import "../../../common/css/variable.styl"

// 资产颜色
$h5-vp-bg = $h5-foreground
$h5-vp-bg-weight = $h5-background

$h5-vp-font-weight = $h5-color-weight
$h5-vp-font-normal = $h5-color-normal
$h5-vp-font-light = $h5-color-light

$h5-vp-font-active = $h5-color-green





