@import "../../../common/css/index.styl"

// 资产颜色
$h5-vp-bg = $col2B2D
$h5-vp-bg-weight = $col2120
$h5-vp-bg-popup = $cola0006
$h5-vp-bg-normal = $col3335

$h5-vp-line = $col2120

$h5-vp-font-weight = $colFEFE
$h5-vp-font-normal = $colD6D6
$h5-vp-font-light = $col8485

$h5-vp-font-active = $col9370

$h5-vp-border-active = $col9370






