@import "./variable.styl"
.h5-view-popup-wrap
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0, 0, 0, 0.5)
  z-index 5
  .view-info
    position absolute
    left 50%
    top 50%
    padding .2rem .12rem .8rem .12rem
    border-radius (.06rem)
    transform translateX(-50%) translateY(-50%)
    background $h5-vp-bg
    overflow hidden
    .close-popup
      width .14rem
      height .14rem
      float right
    h2
      font-size 0.18rem
      color $h5-vp-font-weight
      letter-spacing 0
      margin-bottom .2rem
    .clearfix
      display flex
      height .4rem
      .base-input-wrap
        float left
        input
          border-right 0
          height .4rem
          border-radius(0.02rem 0 0 0.02rem)
          background $h5-vp-bg-weight
      .verify-btn
        width 1rem
        border 0
        background $h5-vp-font-active
        color $h5-vp-font-normal
        border-radius(0 .02rem .02rem 0)
    .set-btn
      position absolute
      bottom 0
      left 0
      width 100%
      height .45rem
