@import "../../../common/css/variable.styl"

// h5 全局样式
.route-mb
  padding-top .5rem
  background-color $h5-background
  min-height 6.4rem
  input
    background $h5-foreground
    color $h5-color-weight
    font-size .14rem
    border .01rem solid transparent
    &:hover, &:focus, &:active
      border-color $h5-color-red
    &::placeholder
      color $h5-color-light
      font-size .12rem
  a.default.main, button.default.main
    border none
    background  $h5-color-green
    color $h5-color-weight
    border-radius .02rem
    opacity 1
    &:hover, &:focus, &:active
      opacity 0.6
    &.disable
      opacity 0.6

.header-nav-mb
  position fixed
  width 100%
  top 0
  z-index 9999999
  font-family PingFangSC-Medium
  height .5rem
  padding 0 .2rem 0 0.1rem
  background $h5-foreground
  display flex
  border-bottom .01rem solid $h5-border-weight
  .logo
    display inline-block
    height 100%
    padding .15rem 0
    >img
      height .2rem
  .nav-menu
    flex-grow 1
    display flex
    justify-content flex-end
    align-items center
    >a
      color $h5-color-weight
      margin-left .15rem
    >img
      height .3rem
      margin-left .15rem
    .drop-menu
      position relative
      img
        height .14rem
        margin-right .05rem
        vertical-align -.02rem
      ul
        position absolute
        right 0
        margin-top .1rem
        background $h5-foreground
        box-shadow 0 0 0.05rem $h5-shadow-weight
        border-radius .02rem
        overflow hidden
        li
          line-height .3rem
          padding 0 .1rem
          white-space nowrap
          color $h5-color-normal
          font-size .13rem
  .nav-hidden
    position: fixed
    z-index: 100001
    top 0
    bottom 0
    right 0
    left 37.5%;
    overflow auto
    background $h5-foreground
    box-shadow 0.02rem 0 .05rem $h5-shadow-light
    a
      width 100%
      height .45rem
      line-height .45rem
      display block;
      padding-left .2rem
      color $h5-color-normal
      img
        margin-right .15rem
        width .24rem
        height .24rem
        vertical-align middle
    .user
      height .7rem
      line-height .7rem
      border-bottom .01rem solid $h5-border-weight
      img
        width .44rem
        height .44rem
    .logout
      border-top .01rem solid $h5-border-weight
      position absolute
      bottom 0
      width 100%



.nav-shadow
    position: fixed;
    z-index: 100000;
    background-color: rgba(0,0,0,.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;



