@import "./variable.styl"

// h5 全局样式
html,body
  min-height 100%
  background-color $h5-route-bg
.route-mb
  padding-top .45rem
  background-color $h5-route-bg
  height 100vh;
  input
    // background $h5-input-bg
    // color $h5-input-color
    // font-size .14rem
    // border .01rem solid transparent
    // &:hover, &:focus, &:active
    //   border-color $h5-input-hover !important
    &::placeholder
      color $h5-input-placeholder
      font-size .12rem
  a.default.main, button.default.main
    border none
    background  $h5-button-bg
    color $h5-button-color
    border-radius .02rem
    opacity 1
    &:hover, &:focus, &:active
      opacity 0.6
      color $h5-button-color
    &.disable
      opacity 0.6
      color $h5-button-color
  // .base-input-wrap
  //   input
  //     &:hover
  //       border none

// h5 头部样式
.header-nav-mb
  position fixed
  width 100%
  top 0
  z-index 9999999
  font-family PingFangSC-Medium
  height .45rem
  padding 0 .12rem
  background $h5-header-bg
  line-height .45rem
  //display flex
  //align-items center
  border-bottom .01rem solid $h5-header-border
  &.hide
    display none
  .nav-jsx
    width 100%
    height 100%
    position relative
    //flex-grow 1
    img
      margin-top .13rem
    .home-logo
      position absolute
      height .19rem
    .search-img
      width .16rem
      height .16rem
      margin-top .14rem
    b
      position absolute
      margin-left 50%
      transform translateX(-50%)
      color $h5-header-font-normal
      white-space nowrap
    .nav-back
      width .08rem
      height .16rem
      //position relative
      //padding-left .13rem
      //color $h5-header-font-normal
      //&:before
      //  position absolute
      //  top 50%
      //  left 0
      //  content ''
      //  width .08rem
      //  height .16rem
      //  background-image $h5-back
      //  background-size cover
      //  transform translateY(-50%)
    .nav-menu
      height .18rem
      width auto
      margin-left .29rem
  .nav-hidden
    position: fixed
    z-index: 100001
    top .45rem
    bottom 0
    right 0
    left 37.5%
    overflow auto
    background $h5-header-bg
    box-shadow 0.02rem 0 .1rem $h5-header-border
    display flex
    flex-direction column
    a
      width 100%
      height .45rem
      line-height .45rem
      padding-left .25rem
      color $h5-header-font-normal
      display flex
      align-items center
      flex-shrink 0
      img
        margin-right .15rem
        width .22rem
        height auto
        &.right
          justify-self flex-end
          width .11rem
          height auto
      span
        flex-grow 1
        overflow hidden
        text-overflow ellipsis
        padding-right .15rem
        font-size .15rem
      &.login
        font-size .18rem
        color $h5-header-font-normal
        height .7rem
        border-bottom .01rem solid $h5-header-border
      &.user
        height .7rem
        border-bottom .01rem solid $h5-header-border
        img
          width .44rem
          height .44rem
        span
          font-size .16rem
      &.logout
        border-top .01rem solid $h5-header-border
      &.br
        flex-grow 1
    .fold
      padding-left .5rem
      .selected
        color $h5-header-font-active
  .nav-shadow
    position fixed
    z-index 100000
    background-color #000000
    opacity .5
    top .45rem
    bottom 0
    left 0
    right 0



