@import "../../../common/css/variable.styl"

.header-nav-mb
  height .5rem
  padding 0 .2rem 0 0.1rem
  box-shadow: 0 1px 4px 0 rgba(151,168,178,0.3)
  background $normal-white-color
  .logo
    display inline-block
    height 100%
    padding .15rem 0
    >img
      height .2rem
  .nav-right
    float right
    line-height .5rem
    a
      margin 0 .1rem
    .login
      color $index-gray
