@import "../../../common/css/variable"

// 全局组件
$h5-route-bg = $col2120

$h5-input-bg = $col2120
$h5-input-color = $colFEFE
$h5-input-hover = $col4740
$h5-input-placeholder = $col8485

$h5-button-bg = $col9370
$h5-button-color = $colFEFE

// 头部样式
$h5-header-bg = $col2B2D

$h5-header-border = $col2120

$h5-header-font-weight = $colFEFE
$h5-header-font-normal = $colD6D6
$h5-header-font-light = $col8485



