@import "../../../common/css/variable"

// 全局组件
$h5-route-bg = $h5-background

$h5-input-bg = $h5-background
$h5-input-color = $h5-color-weight
$h5-input-hover = $h5-color-red
$h5-input-placeholder = $h5-color-light

$h5-button-bg = $h5-color-green
$h5-button-color = $h5-color-weight

// 头部样式
$h5-header-bg = $h5-foreground

$h5-header-border = $h5-border-weight

$h5-header-font-weight = $h5-color-weight
$h5-header-font-normal = $h5-color-normal
$h5-header-font-light = $h5-color-light



