@import "../../../common/css/variable.styl"
@import "../../../common/css/base.styl"

.help-wrap-mb
  font-family PingFangSC-Medium
  .route
    padding 0.3rem 0.2rem
  h3
    font-size 0.14rem
    letter-spacing 0.0129rem
    line-height 0.20rem
    text-align left
  .title
    margin-bottom 0.3rem
    font-size 0.16rem
    color $normal-black-color
    letter-spacing 0.0157rem
    text-align center
    font-weight bold
  //服务协议
  .help-terms
    color $normal-black-color
    p,li
      margin-bottom 0.1rem
      font-size 0.12rem
      letter-spacing 0.01rem
      text-align justify
      line-height 0.24rem
    h3
      margin 0.2rem 0 0.15rem 0
      font-weight bold
    ol
      li
        padding 0.05rem 0
        margin 0
  //api文档
  .help-api
    color $normal-black-color
    span
      font-size 0.12rem
      padding 0 0.05rem
      font-family NotoSansHans-Regular
      display inline-block
      height 0.2rem
      line-height 0.2rem
      color $negative-color
      background $negative-opacity-color
      border-radius(0.04rem)
    h3
      margin 0.2rem 0
      font-weight bold
    .content
        font-size 0.12rem
        letter-spacing 0.01rem
        text-align left
        ol
          li
            margin  0.1rem 0
            line-height 0.24rem
        pre
          display block
          padding 0.05rem 0.1rem
          margin 0.1rem 0
          font-size 0.12rem
          line-height .24rem
          word-break break-all
          word-wrap break-word
          background-color $bg-dark-color
          border-radius(0.02rem)
          code
            font-family NotoSansHans-Regular
            white-space normal
    .summarize
        p
          text-indent 0.15rem
          line-height 0.24rem
    .api-list
      margin-top 0.2rem
      table
        text-align left
        td,th
          padding 0.1rem
          line-height 0.2rem
          border 0.01rem solid $bg-dark-color
        th
          background-color $api-table-gray-color
          text-align center
          vertical-align middle
      ol
        li:nth-child(3)
          text-indent 1em
      h5
        margin 0.3rem 0 0.2rem 0
        span
          height .3rem
          line-height .3rem
          font-size .14rem
          padding 0 .1rem
  //费率标准
  .help-pricing
    color $normal-black-color
    margin-top -0.2rem
    .title
      text-align left
      margin 0.2rem 0
    table
      width 100%
      margin 0.2rem 0
      th
        color $normal-gray-color
      td,th
        vertical-align middle
        padding 0.1rem
        font-size 0.12rem
        border 0.01rem solid $bg-dark-color
        text-align center
      thead
        background-color $api-table-gray-color
    ul
      margin-bottom 0.2rem
      li
        font-size 0.12rem
        margin 0.05rem 0
        letter-spacing 0.0006rem
        line-height 0.24rem
        text-align justify
    .score-grow
      table
        th,td
          text-align left
          line-height .2rem
          word-break break-all
        th
          text-align center
  // 币种资料
  .help-coin
    color $normal-black-color
    .title
      margin-bottom 0.2rem
      font-size 0.14rem
      text-align left
    .search
      height 0.4rem
      display flex
      .input
        flex-grow 1
        margin-right .1rem
        .search2
          &::after
            width 0.4rem
          input
            font-size 0.12rem
            padding 0 0.4rem 0 0.1rem
            height 100%
            width 100%
          .search-list
            position relative
            width 100%
            background $normal-white-color
            border 0.01rem solid $line-light
            z-index 99
            li
              height 0.35rem
              padding-left 0.2rem
              font-size 0.13rem
              line-height 0.35rem
              &:hover
                background $bg-dark-color
      button
        width 0.46rem
        font-size 0.26rem
        color $normal-white-color
        background-color $coinData-gray
        &.active
          background-color $main-color
        &:nth-child(2)
          border-radius(0.02rem 0 0 0.02rem)
        &:nth-child(3)
          border-radius(0 0.02rem 0.02rem 0)
    .content
      position relative
      margin-top .4rem
      img
        position absolute
        top 0
        left 0
        width 0.66rem
        height 0.66rem
        border 1px solid $line-light
        border-radius 50%
      .left
        margin-left 1rem
        p:nth-child(1)
          font-size 0.16rem
          margin-bottom 0.1rem
        p:nth-child(2)
          font-size 0.2rem
          margin-bottom 0.1rem
        a:nth-child(3)
          font-size 0.14rem
          color $negative-color
          text-decoration underline
          &:hover
            color $negative-color-hover
          &:active
            color $negative-color-active
      .right
        font-size 0.14rem
        margin-top .2rem
        span
          display block
          line-height .24rem
          b
            color $dark-font-color
            display inline-block
            width 1rem
            padding 0 .1rem
        p
          margin 0.2rem 0
        p.to-trade
          h3
            font-weight bold
            margin 0.2rem 0
          a
            margin 0 .1rem
            color $negative-color
            text-decoration underline
            &:hover
              color $negative-color-hover
            &:active
              color $negative-color-active
      .detail
        h3
          line-height 0.24rem
          font-weight bold
          margin .2rem 0 .12rem 0
        p
          line-height .24rem
          text-indent .15rem
        .button
          margin-top 0.2rem
          text-align center
          display flex
          a,button
            height 0.3rem
            line-height 0.3rem
            margin 0 .1rem
            padding 0 .1rem