@import "../../css/variable.styl"
@import "../../css/base.styl"
.wrap
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color $popup-bg-color
  z-index 999
  &.h5
    &.trans
      background-color $popup-bg-color
  &.trans
    background-color transparent
  .base-popup
    box-sizing()
    position fixed
    right 50%
    bottom 50%
    transform translateX(50%) translateY(50%)
    -ms-transform translateX(50%) translateY(50%)
    -moz-transform translateX(50%) translateY(50%)
    -webkit-transform translateX(50%) translateY(50%)
    -o-transform translateX(50%) translateY(50%)
    background $normal-white-color
    border 0.01rem solid #D3DCE6;
    box-shadow 0 0.02rem 0.04rem 0 rgba(0,0,0,0.12), 0 0 0.06rem 0 rgba(0,0,0,0.04)
    border-radius 0.02rem
    &.default, &.confirm, &.custom
      width 3.9rem
      padding 0.2rem 0.2rem 0.16rem 0.2rem
    &.default
      min-height 1.72rem
      h5
        margin-bottom 0.3rem
        img
          width 0.13rem
          height 0.13rem
      p
        min-height 0.38rem
        color $normal-black-color
        margin-bottom 0.2rem
      .button
        width 0.74rem
        height 0.36rem
    &.confirm, &.custom
      min-height 2.02rem
      h5
        margin-bottom 0.3rem
      p
        color $normal-black-color
        min-height 0.62rem
        margin-bottom 0.2rem
        line-height 0.4rem
        img
          float left
          width 0.4rem
          height 0.4rem
          margin-right 0.14rem
      .button
        width 0.64rem
        height 0.36rem
    &.base
      width 3.2rem
      padding 0.2rem
      h5
        margin-bottom 0.1rem
      p
        color $dark-font-color
        letter-spacing 0
        line-height 0.21rem
    &.tip1,&.tip2,&.tip3,&.tip4
      right 0.1rem
      bottom 0.1rem
      transform translateX(0%) translateY(0%)
      -ms-transform translateX(0%) translateY(0%)
      -moz-transform translateX(0%) translateY(0%)
      -webkit-transform translateX(0%) translateY(0%)
      -o-transform translateX(0%) translateY(0%)
      width 3.3rem
      padding 0.2rem 0.2rem 0.2rem 0.74rem
      &.h5
        right 50%
        bottom 50%
        transform translateX(50%) translateY(50%)
        -ms-transform translateX(50%) translateY(50%)
        -moz-transform translateX(50%) translateY(50%)
        -webkit-transform translateX(50%) translateY(50%)
        -o-transform translateX(50%) translateY(50%)
      h5
        margin-bottom 0.1rem
      .img
        position absolute
        left 0.2rem
        top 0.24rem
        width 0.4rem
        height 0.4rem
      p
        font-size 0.14rem
        text-align left
        color $dark-font-color
        letter-spacing 0
        line-height 0.21rem
    h5
      font-size 0.16rem
      color $normal-black-color
      letter-spacing 0
      line-height 0.16rem
      img
        float right
        width 0.12rem
        height 0.12rem
        cursor pointer
        &.hide
          display none
    .button
      float right
      margin-left 0.1rem
