.container {
  width: 1170px;
}

.other-setting {
  display: none;
}

.bb-setting {
  display: block;
  height: 102px;
  width: 100%;
  border-bottom: 1px solid #E0E6EA;
}

.other-p {
  padding-top: 44px;
  margin-left: 150px;
  color: #028DE2
}

.pd40 {
  padding-bottom: 30px;
}

.modal-backdrop {
  opacity: 0.5;
}

.displaynone {
  display: none;
}

.card_result_pass {
  color: #90d49c;
}

.card_result_ing {
  color: #EE6723;
}

.title {
  padding-bottom: 30px;
  padding-top: 24px;
}

.ft20 {
  font-size: 20px;
}

.ml35 {
  margin-left: 35px;
}

h4 {
  font-size: 15px;
  color: inherit;
  font-family: "PingFangBold", -apple-system, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.ml5 {
  margin-left: 5px;
}

.ml8 {
  margin-left: 8px !important;
}

.small-text {
  font-size: 11px;
  color: #99A9BF;
  letter-spacing: 0;
}

.tip-fund {
  position: relative;
  left: -55px;
}

.fix-left {
  position: relative;
  left: 28px;
}

.ml16m {
  margin-left: 4px;
}

.hot-img {
  margin-top: 4px;
  margin-left: 4px;
}

.mt8 {
  margin-top: 8px;
}

.form-horizontal {
  margin-left: 20px;
}

.table td {
  height: 32px;
}

.th-g {
  font-size: 13px;
  color: #99A9BF;
  letter-spacing: 0;
  padding-bottom: 15px !important;
}

.table-left {
  margin-top: 5px;
}

.form-fix {
  margin-left: -10px;
  margin-top: 10px;
}

.time-zone-select {
  width: 456px !important;
  height: 40px;
  background: #F7F9FB;
  border: 1px solid #E0E6EA;
  border-radius: 2px;
}

.btn-save {
  background: #0080D0;
  border-radius: 2px;
  width: 54px;
  height: 40px;
}

.btn-save:hover {
  background: #0080D0 !important;
}

.ml10m {
  margin-left: -10px;
}

.row-fix {
  margin-left: -25px;
  margin-top: 20px;
}

.tip-ip {
  margin-left: 5px;
  font-size: 11px;
  color: #DE4A01;
  letter-spacing: 0;
}

.ml15m {
  margin-left: -15px;
}

.ip-text {
  font-size: 13px;
  color: #99A9BF;
  letter-spacing: 0;
}

.left10 {
  left: -125px;
}

.margin-fix {
  padding: 0 !important;
  margin-left: 0 !important;
}

.tip-ip-range {
  font-size: 13px;
  color: #99A9BF;
  letter-spacing: 0;
  margin-top: 45px;
  margin-left: 5px;
}

.a-gray {
  color: #99A9BF !important;
}

.rel-left {
  position: relative;
  left: -50px;
}

.text-now-account {
  font-size: 14px;
  color: #25272D;
  letter-spacing: 0;
  margin-left: 5px;

}

.mt5 {
  margin-top: 5px;
}

.quit-btn {
  width: 250px;
  height: 40px;
  padding-top: 8px;
  border-radius: 2px;
  border: 1px solid #0080D0 !important;
  background-color: #0080D0 !important;
  color: #FFF !important;
  display: inline-block;
  text-align: center;
}

.quit-btn:hover{
  text-decoration: none;
  background-color: #0066A6 !important;
}



.mt25 {
  margin-top: 25px;
}

.mt7 {
  margin-top: 7px;
}

.ml30 {
  margin-left: 30px;
}

.ml37m {
  margin-left: -42px;
  width: 800px;
}

.cor1 {
  color: #76D1F2;
}

.cor2 {
  color: #00BBF4;
}

.cor3 {
  color: #00A6F4;
}

.cor4 {
  color: #00A6F4;
}

.cor5 {
  color: #0080D0;
}

.cor6 {
  color: #01599A;
}

.table-fix {
  margin-top: 20px;
  margin-left: -8px;
  width: 700px;
}

.table td {
  border-top: none !important;
}

.th-fix {
  position: relative;
  left: 140px;
}

.th-fix2 {
  position: relative;
  left: 280px;
}

.btn-size {
  width: 100px;
  height: 34px;
}

.ml130 {
  margin-left: 130px;
}

.result-fix {
  margin-left: 135px;
  margin-top: 22px;
  font-size: 18px;
  color: #25272D;
  letter-spacing: 0;
}

.up-fix {
  padding-top: 15px;
  padding-bottom: 22px;
  border-bottom: 1px solid #EEEEEE;;
}

.font-tip-name {
  font-size: 11px;
  color: #DE4A01;
  letter-spacing: 0;
  margin-left: 20px;
  margin-top: 8px;
}

.ml25m {
  margin-left: -25px;
}

.input-blue {
  background: #F7F9FB;
  border: 1px solid #E0E6EA;
  border-radius: 2px;
  width: 206px;
  height: 40px;
}
.input-gray {
  background-color: #F1F1F1!important;
  border: 1px solid #E0E6EA;
  border-radius: 2px;
  width: 206px;
  height: 40px;
}

.ml44 {
  margin-left: 44px;
}

.input-credits {
  background-color: #F7F9FB!important;
  border: 1px solid #E0E6EA;
  border-radius: 2px;
  width: 456px;
  height: 40px;
}

.account-auth {
  border-bottom: 1px solid #EEEEEE;
}

.ml22m {
  margin-left: -22px;
  margin-top: 5px;
}

.fs15 {
  font-size: 15px;
}

.text-center {
  margin-top: 5px;
}
.t-small {
  font-size: 11px;
  color: #666666;
  letter-spacing: 0;
  width: 650px;
}

.btn-submit {
  background: #0080D0;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  margin-left: -20px;
  margin-top: 15px;
}

.btn-size {
  /*width: 250px;*/
  /*height: 40px;*/
  background: #0080D0;
  border-radius: 2px;
  margin-left: -20px;
  margin-top: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml5m {
  margin-left: -5px;
}

.mt2 {
  margin-top: 2px;
}

.w-230 {
  width: 230px;
}
.modal-content{
  box-shadow: none !important;
  border-radius: 0 !important;
}

.next {
  margin-left: 20px;
}

.corde4 {
  color: #DE4A01;
}
