//@import "../../../common/css/variable.styl"
.trade-pair-deal-title
  display flex
  height .7rem
  align-items center
  justify-content space-around
  //margin: 0.17rem 0.05rem 0.1rem 0.16rem;
  .trade-pair-deal-info
    display flex
    align-items center
    img
      width .34rem
      height .34rem
      margin-right .1rem
    b
      font-size .24rem
      color $trade-font-title
      margin-right .02rem
    //padding 0 .01rem
    em
      font-size .16rem
      color $trade-font-title
      margin-right .26rem
    span
      a
        color $trade-market-materials
        font-size .12rem
  .trade-pair-deal-items
    p
      margin-bottom .08rem
    div
      color $trade-font-normal
    .market-up
      color $trade-change-positive
    .market-down
      color $trade-change-negative
.trade-pair-deal-price
  width 100%
  text-align center
  color $trade-font-normal
  font-size .16rem
