@import "../../../common/css/variable.styl"
.trade-current-order
	background $exchange-color
	padding .16rem .4rem .16rem .16rem
	margin-bottom .02rem
	.trade-current-title
		display flex
		align-items center
		h3
			color $normal-white-color
			margin-right 7.2rem
		.reset-handle
			font-size .12rem
			margin-right .49rem
			cursor pointer
			&:hover
				color $normal-white-color-a9
	.trade-current-table
		width 100%
		margin-top .16rem
		font-size .11rem
		td
			padding-top .1rem
		tbody
			td
				color $normal-white-color-a9