@import "../../../common/css/variable.styl"
.trade-recent-title
  display flex
  height .4rem
  //margin-top .16rem
  padding-left .16rem
  padding-right .16rem
  justify-content space-between
  align-items center
  background $normal-black-color
  h3
    color $normal-white-color
  .recent-item
    min-width .56rem
    padding 0 .06rem
    line-height .24rem
    text-align center
    border .01rem solid $exchange-blue
    color $exchange-blue
    font-size .11rem
    cursor pointer
    height .24rem
    &:nth-of-type(1)
      border-radius: 2px 0 0 2px
      border-right none
    &:nth-of-type(2)
      border-radius: 0 2px 2px 0
      border-left none
  .recent-item-active
    background $exchange-blue
    color $exchange-color
.scroll-bar-recenttrade
  overflow-y auto
  max-height 2.72rem
  &::-webkit-scrollbar-button
    display none
  &::-webkit-scrollbar
    position relative
    width 3px
    height 100%
  &::-webkit-scrollbar-track
    width 3px
    background #222730
  &::-webkit-scrollbar-thumb
    width 3px
    background #8C8F93
  .trade-recent-table
    //height 2.72rem
    width 2.78rem
    margin 0 0 0 .10rem
    .hide
      display none
    thead
      td
        padding .11rem 0
        cursor pointer
    tbody
      &:nth-of-type(2)
        margin-bottom .16rem
      td
        padding 0 0 .1rem 0
        color $normal-white-color-a9