@import "../../../common/css/variable.styl"
.trade-plan-deal
	padding .08rem .64rem .17rem .64rem
	width 100%
	height 100%
	.deal-entrust
		width 100%
		height .3rem
		line-height .3rem
		//padding .08rem 0
		border-bottom .01rem solid $line-dark-a
		span
			margin-right .6rem
			display inline-block
			height 100%
			margin-bottom -.01rem
			cursor pointer
		.entrust-active
			color $normal-white-color
			border-bottom .02rem solid $normal-white-color
	.trade-deal-exchanged
		width 100%
		display flex
		justify-content space-between