@import "../../../common/css/variable.styl"
.trade-market
  width 3.1rem
  height 2.74rem
  background $exchange-color
  float left
  color $normal-white-color
  .hide
    display none
  .trade-market-list
    position relative
    ul
      display flex
      height .33rem
      width 2.7rem
      margin 0 auto
      border-bottom .01rem solid $line-dark-a
      li
        cursor pointer
        margin-bottom -.01rem
        margin-right .2rem
        font-size .12rem
        color $normal-white-color-a
      .trade-market-item-active
        color $normal-white-color
        border-bottom .02rem solid $normal-white-color
    div
      position absolute
      right .2rem
      top 0
      p
        position relative
        height .2rem
        &:before
          position absolute
          top .035rem
          left .05rem
          width .12rem
          height .12rem
          content ''
          background url(/static/img/search_bai.svg) no-repeat
          background-size .12rem .12rem
        img
          position absolute
          top .035rem
          right .05rem
          width .1rem
          height .1rem
          cursor pointer
        input
          width .8rem
          height .2rem
          padding-left .2rem
          background $exchange-search-bg
          color $normal-white-color
          font-size .12rem
      img
        //display none
        width .12rem
        height .12rem
        cursor pointer
  .trade-market-table
    width 100%
    thead
      .sort-img-td
        cursor pointer
      td
        font-size .11rem
        color $normal-white-color-a
        padding .11rem 0
        img
          position relative
          top .02rem
          width .1rem
          height .1rem
    tbody
      tr
        height .19rem
        line-height .19rem
      .pair-items-active
        background $exchange-select-bg
        td
          font-size .11rem
        .img-td
          cursor pointer
    tr
      td:nth-child(1)
        padding-left .18rem
      td:last-child
        padding-right .18rem

//