//@import "../../../common/css/variable.styl"
.trade-current-order
  &:nth-of-type(2)
    margin-bottom 0
  background $trade-model-bg
  //padding .16rem .4rem .16rem .16rem
  min-height 1.75rem
  margin-bottom .02rem
  padding-bottom .16rem
  .trade-current-title
    display flex
    align-items center
    height .4rem
    line-height .4rem
    justify-content space-between
    background $trade-bg-title
    padding-left .16rem
    font-size .12rem
    h3
      color $trade-font-title
      font-size .12rem
    a
      color: $trade-font-thead
      font-size '.12rem'
      margin-right '.49rem'
      &:hover
        color: $trade-font-normal
    //margin-right 7.2rem
    .reset-handle
      font-size .12rem
      margin-right .49rem
      cursor pointer
      position relative
      &:hover
        color $trade-font-normal
      &:nth-of-type(1):before
        content ''
        position absolute
        width .12rem
        height .12rem
        background $trade-reset
        background-size contain
        top .14rem
        left -.16rem
      &:nth-of-type(2):before
        content ''
        position absolute
        width .12rem
        height .12rem
        background $trade-reset
        background-size contain
        top .14rem
        left -.16rem
      &:nth-of-type(3):before
        content ''
        position absolute
        width .12rem
        height .12rem
        background $trade-reset-all
        background-size contain
        top .14rem
        left -.16rem
    .reset-handle:nth-of-type(1):hover::before
      background $trade-reset-hover
      background-size contain
    .reset-handle:nth-of-type(2):hover::before
      background $trade-reset-hover
      background-size contain
    .reset-handle:nth-of-type(3):hover::before
      background $trade-reset-all-hover
      background-size contain
  .trade-current-table
    width 11.12rem
    margin-top .16rem
    //padding-left .32rem
    margin-left .32rem
    font-size .11rem
    .cancel
      cursor: 'pointer'
    td
      padding-top .1rem
    .pop-parent
      position relative
      margin-left .04rem
      display inline-block
      vertical-align middle
      .pop-children
        position absolute
        top 50%
        left 100%
        transform translate(0.13rem, -50%)
        min-width 136px
        width 1.7rem
        height auto
        padding .03rem
        font-size .1rem
        line-height .14rem
        text-align justify
        z-index 99
    tbody
      td
        color $trade-font-normal
  .trader-order-none
    height 1.19rem
    line-height 1.19rem
    text-align center
    font-size .2rem

.trade-order-shadow
  position fixed
  top 0
  left 0
  bottom 0
  right 0
  background $trade-order-shadow
  z-index 6665
  .trade-order-detail
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    background $col292B
    width 7rem
    padding-bottom .2rem
    max-height: 80vh
    border-radius .02rem
    z-index 6666
    overflow-y auto
    &::-webkit-scrollbar-button
      display none
    &::-webkit-scrollbar
      position relative
      width .03rem
      height 100%
    &::-webkit-scrollbar-track
      width .03rem
      background $trade-scrollbar-track
    &::-webkit-scrollbar-thumb
      width .03rem
      background $trade-scrollbar-thumb
    h3
      padding .11rem 0
      margin-bottom .2rem
      font-size .14rem
      line-height .21rem
      text-align center
      color $trade-font-normal
      background-color $trade-bg-title
    .trade-order-content
      width 6.68rem
      height 1.01rem
      margin 0 auto
      border-bottom .02rem dashed $trade-order-detail-dash
      border-radius .02rem
      background $trade-order-detail-bg
      display flex
      color $col3335
      justify-content space-around
      .trade-order-info
        height 100%
        padding .2rem 0
        p
          margin-bottom .25rem
          text-align center
          color $trade-font-normal
        span
          color $trade-font-thead
    .trade-order-table
      width 100%
      font-size .12rem
      line-height .28rem
      text-align center
      thead
        color $trade-font-thead
      tbody
        color $trade-font-normal
    .trade-order-close
      cursor pointer
      width 1.6rem
      margin 0 auto
      height .35rem
      color $trade-font-title
      background $trade-order-detail-close
      line-height .35rem
      text-align center
    .trade-order-table-wrap
      width 6.68rem
      padding .19rem 0
      margin 0 auto .2rem
      background $trade-order-detail-bg

.reset-pop
  .reset-pop-location
    top 50%
    left 50%
    transform translate(-50%, -50%)
    z-index 9999