@import "../../../common/css/variable.styl"
#trade
	width 14.4rem
	background $exchange-bg
	border-top .02rem solid $exchange-bg
	color rgba(255,255,255,.5)
	td
		font-size .11rem
	.trade-left
		width 11.2rem
		height 7.17rem
		float left
		.trade-left-top
			width 11.2rem
			height 3.8rem
			//background $exchange-bg
			.trade-pair-msg
				width 3.1rem
				height 1.06rem
				background $exchange-color
				//padding .18rem .28rem 0 .2rem
			.trade-chart
				width 8.08rem
				height 3.8rem
				float right
				background $exchange-color
		.trade-left-bottom
			width 11.2rem
			margin-top .02rem
			height 3.35rem
			//background $exchange-bg
			.trade-recent
				width 3.1rem
				height 3.35rem
				background $exchange-color
			.trade-plan
				width: 8.08rem
				height: 3.35rem
				background $exchange-color
	.trade-right
		width 3.18rem
		float right
		height 7.17rem
		background $exchange-color
	.trade-bottom
		width 14.4rem
		margin-top .02rem
		.trade-notice
			background $exchange-color
			width 3.1rem
			float left
		.trade-order
			background $exchange-bg
			width 11.28rem
			float right