@import "../../../common/css/variable.styl"
.trade-plan-deal
	//padding .08rem .64rem .16rem .64rem
	padding-bottom .16rem
	width 100%
	height 100%
	position relative
	.deal-entrust
		width 100%
		height .4rem
		line-height .4rem
		padding 0 .16rem;
		background $normal-black-color
		//padding .08rem 0
		.select-button .trade
			min-width 90px
		.select-button ul li
			overflow hidden
			white-space pre
		span
			margin-right .6rem
			display inline-block
			height 100%
			margin-bottom -.01rem
			font-size .12rem
			cursor pointer
		.entrust-active
			color $normal-white-color
			border-bottom .02rem solid $normal-white-color
		.pop-parent
			position relative
			height .25rem
			.pop-children
				position absolute
				top calc(50% + .08rem)
				left 100%
				transform translate(0.2rem, -50%)
				min-width 136px
				width 1.6rem
				height auto
				padding .03rem
				font-size .1rem
				line-height .14rem
				text-align justify
				z-index 99
	.trade-deal-exchanged
		width 100%
		display flex
		justify-content space-between
		padding 0 .16rem
	.deal-set-pwd
		position fixed
		top 0
		left 0
		bottom 0
		right 0
		background $exchange-shadow-color
		z-index 6665
		.deal-pwd-detail
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			width 5rem
			padding-bottom .02rem
			border-radius .02rem
			.deal-pwd-title
				height .36rem
				width 100%
				padding 0 .2rem
				line-height .36rem
				color $normal-white-color-a9
				display flex
				align-items center
				justify-content space-between
				background-color $normal-black-color
				em
					width .12rem
					height .12rem
					background $exchange-close-button
					background-size: contain
			.deal-pwd-content
				width 100%
				margin 0 auto
				background $bg-dark-color
				display flex
				align-items center
				min-height .7rem
				justify-content space-around
				color $normal-white-color-a
				.choice label
					font-size .12rem
				.set-pwd-msg
					width 100%
					padding .1rem .2rem
					font-size .12rem
					line-height .22rem
				.set-pwd-input
					width 100%
					height .55rem
					padding  0 .2rem .33rem
					display flex
					align-items center
					justify-content space-between
					span
						color $exchange-blue
						font-size .12rem
					.set-pwd
						border-radius .02rem
						border .01rem solid $bg-light-color
						background-color $bg-medium-color
					.set-pwd-sub
						font-size .12rem
						color $normal-white-color
						background $exchange-blue
						border-radius .02rem
						padding 0 .04rem
						height 100%
	.deal-pop
		.deal-pop-location
			top 50%
			left 50%
			transform translate(-50%, -50%)
			z-index 9999
	.deal-login-shadow
		top 0;
		width 8.2rem;
		position absolute;
		height 3.12rem;
		background rgba(30,33,32,0.8);
		z-index 8888;
		text-align center
		line-height 3.12rem
		a
			color $exchange-blue
			font-size .28rem
		span
			color $normal-white-color
			font-size .28rem

