//@import "../../../common/css/variable.styl"
.trade-market
  width 2.92rem
  height 100%
  background $trade-model-bg
  float left
  color $trade-font-title
  .hide
    display none
  .trade-market-list
    position relative
    ul
      display flex
      height .4rem
      width 2.92rem
      padding-left .2rem
      background $trade-bg-title
      li
        height .4rem
        line-height .4rem
        cursor pointer
        margin-bottom -.01rem
        margin-right .2rem
        font-size .12rem
        color $trade-font-thead
      .trade-market-item-active
        color $trade-tab-active-font
        border-bottom .02rem solid $trade-tab-active-border
    .img-div
      position absolute
      right .2rem
      top 50%
      transform translateY(-50%)
      width .15rem
      height .15rem
      cursor pointer
      img
        width .15rem
        height .15rem
        opacity .5

    .input-div
      display flex
      height 0.4rem
      width 2.92rem
      padding 0 0.16rem
      background $trade-market-select
      line-height 0.4rem
      p
        //position relative
        //height .2rem
        //top -.05rem

        &:before
          position absolute
          top .15rem
          left .16rem
          width .12rem
          height .12rem
          content ''
          background $search-bai no-repeat
          background-size .12rem .12rem
        img
          position absolute
          top .15rem
          right .16rem
          width .1rem
          height .1rem
          cursor pointer
        input
          //width .8rem
          //height .2rem
          //padding-left .2rem
          //background $cola2221
          //color $colFFFF
          //font-size .12rem

          width 2.6rem
          height .2rem
          padding-left .2rem
          //background $col292B
          color $trade-font-title
          font-size .12rem

          //display: flex;
          //height: 0.4rem;
          //width: 2.6rem;
          //padding-left: 0.2rem;
          //background: #2f3335
      img
        //display none
        width .12rem
        height .12rem
        cursor pointer
  .scroll-bar
    overflow-y auto
    max-height 2.69rem
    &::-webkit-scrollbar-button
      display none
    &::-webkit-scrollbar
      position relative
      width .03rem
      height 100%
    &::-webkit-scrollbar-track
      width .03rem
      background $trade-scrollbar-track
    &::-webkit-scrollbar-thumb
      width .03rem
      background $trade-scrollbar-thumb
  .trade-market-table
    width 100%
    thead
      .sort-img-td
        cursor pointer
      td
        font-size .11rem
        color $trade-font-thead
        padding .14rem 0
        img
          position relative
          top .02rem
          width .1rem
          height .1rem
    tbody
      .zone-name
        margin 2rem
        p
          margin-left .16rem
          margin-right .1rem
          padding 0 0 .05rem .06rem
          color $trade-font-normal
          font-size .12rem
          border-bottom 1px solid $trade-market-lineTitle
          &:before
            position relative
            top 0
            left -.06rem
            display inline-block
            content ""
            width .02rem
            height .1rem
            background $trade-market-lineTitle
        td:first-child
          padding-left 0
      .new-zone-name
        td
          padding-top .2rem
      tr
        height .21rem
        line-height .21rem
        color $trade-font-normal
        td
          &.up-td
            color $trade-change-positive
          &.down-td
            color $trade-change-negative
      .pair-items-active
        background $trade-market-select
        td
          font-size .11rem
        .market-up
          color $trade-change-positive
        .market-down
          color $trade-change-negative
        .img-td
          cursor pointer
    tr
      td:first-child
        padding-left .16rem
      td:nth-last-child(2)
        padding-right .1rem
    .trade-remind
      left 3rem
      z-index 99
      margin-top -.03rem
      background $trade-bg-title
      color $trade-market-volume-color
      &:before
        content ""
        width 0
        height 0
        border .05rem solid $trade-market-border
        border-bottom .05rem solid transparent
        border-left .05rem solid transparent
        border-top .05rem solid transparent
        position absolute
        top 50%
        transform translateY(-50%)
        left  -.1rem

//