//@import "../../../common/css/variable.styl"
@import "./variable.styl"
@import "./tradeMarket.styl"
@import "./tradePairDeal.styl"
@import "./tradeRecent.styl"
@import "./tradeLive.styl"
@import "./tradePlan.styl"
@import "./tradeDealExchange.styl"
@import "./tradeOrder.styl"
@import "./tradeNotice.styl"
#trade
	width 14.4rem
	background $trade-main-bg
	border-top .04rem solid $trade-model-bg
	color $trade-font-thead
	td
		font-size .11rem
	.trade-left
		width 11.16rem
		height 7.16rem
		float left
		.trade-left-top
			width 11.16rem
			height 4rem
			.trade-pair-msg
				width 2.92rem
				height 0.91rem
				background $trade-bg-title
				border-bottom .01rem solid $trade-market-line
			.trade-chart
				width 8.2rem
				height 4rem
				float right
				background $trade-model-bg
		.trade-left-bottom
			width 11.16rem
			margin-top .04rem
			height 3.12rem
			//background $col2120
			.trade-recent
				width 2.92rem
				height 3.12rem
				background $trade-model-bg
			.trade-plan
				width: 8.2rem
				height: 3.12rem
				background $trade-model-bg
	.trade-right
		width 3.2rem
		float right
		height 7.16rem
		background $trade-model-bg
	.trade-bottom
		width 14.4rem
		margin-top .04rem
		display flex
		border-bottom .04rem solid $trade-main-bg
		.trade-notice
			background $trade-model-bg
			width 2.92rem
			min-height 3.5rem
			//padding .16rem
			//padding-left .16rem
			//padding-right .27rem
			margin-right .04rem
		.trade-order
			background $trade-main-bg
			width 11.44rem

// k线图部分样式
.trade-chart{
	position: relative;
	overflow: hidden;
}
.trade-chart .k-menu{
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 500;
	height: 28px;
}
.trade-chart .k-menu button{
	border: 1px solid #aaa;
	color: #aaa;
	cursor: pointer;
	height: 24px;
	margin: 2px 0;
	width 66px;
	border-radius: 2px;
	box-sizing: border-box;
}
.trade-chart .k-menu button:first-of-type{
	margin-right:8px;
}
.trade-chart .k-menu button:hover{
	border-color: #fff;
	color: #fff;
}
.trade-chart .k-menu button.active{
	background-color: #2bb789;
	border: none;
	color: #fff;
}
