@import "../../../common/css/variable.styl"
.trade-live-title
	display flex
	margin .16rem .31rem 0 .16rem
	height .23rem
	border-bottom .01rem solid $line-dark-a
	.trade-live-item
		font-size .12rem
		margin 0 .2rem -.01rem 0
		cursor pointer
		//border-bottom .02rem solid $normal-white-color
	.live-item-active
		color $normal-white-color
		border-bottom .02rem solid $normal-white-color
.trade-live-table
	width 3.18rem
	thead
		td
			padding .11rem 0
	tbody
		color $normal-white-color-a9
		.no-content-none
			display none
		tr
			height .21rem
			line-height .21rem
			//border-top .02rem solid $exchange-color
			//border-bottom .02rem solid $exchange-color
			//&:first-child
			//	border none
			td:nth-child(1)
				padding-left .16rem
			
		.distance
			td
				padding-bottom .16rem
		.distance-b
			td
				padding-top .16rem
	.live-deal
		border-top .02rem solid $exchange-bg
		border-bottom .02rem solid $exchange-bg
		tr
			height .82rem
			line-height .82rem
			text-align center
	
	
		