@import "../../../common/css/variable.styl"
#trade
	width 14.4rem
	background $exchange-bg
	border-top .02rem solid $exchange-bg
	color rgba(255,255,255,.5)
	td
		font-size .11rem
	.trade-left
		width 11.2rem
		height 7.17rem
		float left
		.trade-left-top
			width 11.2rem
			height 3.8rem
			//background $exchange-bg
			.trade-pair-msg
				width 3.1rem
				height 1.06rem
				background $exchange-color
				//padding .18rem .28rem 0 .2rem
			.trade-chart
				width 8.08rem
				height 3.8rem
				float right
				background $exchange-color
		.trade-left-bottom
			width 11.2rem
			margin-top .02rem
			height 3.35rem
			//background $exchange-bg
			.trade-recent
				width 3.1rem
				height 3.35rem
				background $exchange-color
			.trade-plan
				width: 8.08rem
				height: 3.35rem
				background $exchange-color
	.trade-right
		width 3.18rem
		float right
		height 7.17rem
		background $exchange-color
	.trade-bottom
		width 14.4rem
		margin-top .02rem
		display flex
		.trade-notice
			background $exchange-color
			width 3.1rem
			min-height 3.5rem
			padding .16rem
			padding-right .27rem
			margin-right .02rem
		.trade-order
			background $exchange-bg
			width 11.28rem

// k线图部分样式
.trade-chart{
	position: relative;
	overflow: hidden;
}
.trade-chart .k-menu{
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 1000;
	height: 28px;
}
.trade-chart .k-menu button{
	border: 1px solid #aaa;
	color: #aaa;
	cursor: pointer;
	height: 24px;
	margin: 2px 0;
	width 66px;
	border-radius: 2px;
	box-sizing: border-box;
}
.trade-chart .k-menu button:first-of-type{
	margin-right:8px;
}
.trade-chart .k-menu button:hover{
	border-color: #fff;
	color: #fff;
}
.trade-chart .k-menu button.active{
	background-color: #1BB0E0;
	border: none;
	color: #fff;
}
