@import "../../../common/css/variable.styl"

.trade-deal-exchange
	width 3.02rem
	height 100%
	.trade-deal-asset
		width 100%
		height .18rem
		margin .17rem 0 .08rem 0
		display flex
		justify-content space-between
		.deal-asset-wallet
			font-size .12rem
			span,i
				color $normal-white-color-a9
				margin-left .05rem
				font-size .12rem
		.deal-asset-charge
			width .34rem
			height 100%
			border .01rem solid red
			text-align center
			a
				font-size .12rem
	.trader-deal-input
		width 100%
		height .34rem
		margin-bottom .1rem
		border-radius .02rem
		border .01rem solid $line-dark-a
		display flex
		align-items center