@import "../../../common/css/variable.styl"
.trade-recent-title
  display flex
  margin-top .16rem
  h3
    color $normal-white-color
    margin 0 1.49rem 0 .16rem
  .recent-item
    width .36rem
    line-height .17rem
    text-align center
    height .17rem
    border .01rem solid $exchange-blue
    color $exchange-blue
    font-size .11rem
    cursor pointer
    &:nth-of-type(1)
      border-radius: 2px 0 0 2px
      border-right none
    &:nth-of-type(2)
      border-radius: 0 2px 2px 0
      border-left none
  .recent-item-active
    background $exchange-blue
    color $exchange-color

.trade-recent-table
  //height 2.95rem
  width 2.94rem
  margin 0 0 0 .16rem
  .hide
    display none
  thead
    td
      padding .11rem 0
  tbody
    &:nth-of-type(2)
      margin-bottom .16rem
    td
      padding 0 0 .1rem 0
      color $normal-white-color-a9