@import "../../../common/css/variable.styl"
.trade-pair-deal-title
	display flex
	height .34rem
	align-items center
	justify-content space-between
	margin: 0.18rem 0.28rem 0.16rem 0.2rem;
	img
		width .34rem
		height .34rem
		margin-right .06rem
	h2
		font-size .28rem
		color $normal-white-color
	span
		a
			color $normal-white-color-a9
			text-decoration underline
.trade-pair-deal-price
	width 100%
	text-align center
	color $normal-white-color
	font-size .16rem