@import "../../../common/css/variable.styl"
.trade-market
  width 2.92rem
  height 3.09rem
  background $exchange-color
  float left
  color $normal-white-color
  .hide
    display none
  .trade-market-list
    position relative
    ul
      display flex
      height .4rem
      width 2.92rem
      padding-left .2rem
      background $normal-black-color
      li
        height .4rem
        line-height .4rem
        cursor pointer
        margin-bottom -.01rem
        margin-right .2rem
        font-size .12rem
        color $normal-white-color-a
      .trade-market-item-active
        color $normal-white-color
        border-bottom .02rem solid $normal-white-color
    .img-div
      position absolute
      right .2rem
      top 0.13rem
      cursor pointer
      img
        opacity .5

    .input-div
      display flex
      height 0.4rem
      width 2.92rem
      padding 0 0.16rem
      background #2f3335
      line-height 0.4rem
      p
        //position relative
        //height .2rem
        //top -.05rem

        &:before
          position absolute
          top .15rem
          left .16rem
          width .12rem
          height .12rem
          content ''
          background url(/static/img/search_bai.svg) no-repeat
          background-size .12rem .12rem
        img
          position absolute
          top .15rem
          right .16rem
          width .1rem
          height .1rem
          cursor pointer
        input
          //width .8rem
          //height .2rem
          //padding-left .2rem
          //background $exchange-search-bg
          //color $normal-white-color
          //font-size .12rem

          width 2.6rem
          height .2rem
          padding-left .2rem
          //background $line-dark
          color $normal-white-color
          font-size .12rem

          //display: flex;
          //height: 0.4rem;
          //width: 2.6rem;
          //padding-left: 0.2rem;
          //background: #2f3335
      img
        //display none
        width .12rem
        height .12rem
        cursor pointer
  .scroll-bar
    overflow-y auto
    max-height 2.69rem
    &::-webkit-scrollbar-button
      display none
    &::-webkit-scrollbar
      position relative
      width .03rem
      height 100%
    &::-webkit-scrollbar-track
      width .03rem
      background #222730
    &::-webkit-scrollbar-thumb
      width .03rem
      background #8C8F93
  .trade-market-table
    width 100%
    thead
      .sort-img-td
        cursor pointer
      td
        font-size .11rem
        color $normal-white-color-a
        padding .11rem 0
        img
          position relative
          top .02rem
          width .1rem
          height .1rem
    tbody
      tr
        height .21rem
        line-height .21rem
        color $normal-white-color-a9
      .pair-items-active
        background $exchange-select-bg
        td
          font-size .11rem
        .market-up
          color $exchange-blue
        .market-down
          color $exchange-red
        .img-td
          cursor pointer
    tr
      td:nth-child(1)
        padding-left .10rem
      // td:last-child
      //   padding-right .01rem
    .trade-remind
      left 3rem
      z-index 99
      margin-top -.03rem
      background $normal-black-color
      color $normal-font-color
      &:before
        content ""
        width 0
        height 0
        border .05rem solid $normal-black-color
        border-bottom .05rem solid transparent
        border-left .05rem solid transparent
        border-top .05rem solid transparent
        position absolute
        top 50%
        transform translateY(-50%)
        left  -.1rem

//