//@import "../../../common/css/variable.styl"
.trade-pair-deal-title
  display flex
  height .7rem
  align-items center
  justify-content space-around
  //margin: 0.17rem 0.05rem 0.1rem 0.16rem;
  img
    width .34rem
    height .34rem
    //margin-right .06rem
  h2
    font-size .28rem
    color $trade-font-title
    //padding 0 .01rem
  span
    a
      color $trade-market-materials
      font-size .11rem
.trade-pair-deal-price
  width 100%
  text-align center
  color $trade-font-normal
  font-size .16rem
.market-up
  color $trade-change-positive
.market-down
  color $trade-change-negative