.trade-live-title
	display flex
	height .4rem
	align-items center
	background $trade-bg-title
	padding-left .2rem
	.trade-live-item
		font-size .12rem
		margin 0 .2rem -.01rem 0
		cursor pointer
		height .4rem
		line-height .4rem
		//border-bottom .02rem solid $colFFFF
	.live-item-active
		color $trade-tab-active-font
		border-bottom .02rem solid $trade-tab-active-border
.trade-live-table
	width 3.18rem
	thead
		td
			//padding .11rem 0
			padding  0
	tbody
		color $trade-font-normal
		.no-content-none
			display none
		tr
			height .21rem
			line-height .21rem
			position relative
			z-index 667
			//border-top .02rem solid $col292B
			//border-bottom .02rem solid $col292B
			//&:first-child
			//	border none
			td:nth-child(1)
				padding-left .16rem
			
		.distance
			td
				padding-bottom .12rem
		.distance-b
			td
				padding-top .12rem
	.live-deal
		tr
			height .52rem
			line-height .52rem
			text-align center
			background $trade-live-deal-bg
		.market-up
			color $trade-change-positive
		.market-down
			color $trade-change-negative
	.trade-live-sell
		tr
			td
				position relative
				z-index 999
				span
					position relative
					z-index 999
					font-size .11rem
				div
					position absolute
					height .21rem
					left 0
					background rgba(242,86,86,.3)
					top 0
					z-index 666
	.trade-live-buy
		tr
			td
				position relative
				z-index 999
				height .21rem
				span
					position relative
					z-index 999
					font-size .11rem
				div
					position absolute
					height .21rem
					left 0
					background $trade-buy-bg
					opacity .3
					bottom 0
					z-index 666
		