@import "../../../common/css/index.styl"

$trade-main-bg = $exchange-bg
$trade-model-bg = $exchange-color
$trade-font-normal = $normal-white-color-a9
$trade-font-title = $normal-white-color
$trade-font-thead = $normal-white-color-a
$trade-bg-title = $normal-black-color
$trade-buy-font = $exchange-blue
$trade-sell-font = $exchange-red
$trade-buy-bg = $exchange-blue
$trade-sell-bg = $exchange-red
$trade-scrollbar-track = $exchange-scrollbar-track
$trade-scrollbar-thumb = $exchange-scrollbar-thumb

$trade-tab-active-font = $normal-white-color
$trade-tab-active-border = $normal-white-color
$trade-tab-hover = $normal-white-color
$trade-change-positive = $exchange-blue
$trade-change-negative = $exchange-red
$trade-live-deal-bg = $normal-black-color


$trade-market-line = $home-market-line
$trade-market-materials = $exchange-blue
$trade-market-select = $normal-black-color
$trade-market-border = $normal-black-color
$trade-market-volume-color = $normal-font-color

$trade-recent-tab-border = $exchange-blue
$trade-recent-tab-font = $exchange-blue
$trade-recent-tab-active-bg = $exchange-blue
$trade-recent-tab-active-font = $exchange-color

$trade-deal-shadow = $exchange-shadow-color
$trade-deal-input-bg = $normal-black-color
$trade-deal-input-color = $normal-white-color-a
$trade-deal-setPass-color = $exchange-blue
$trade-deal-setPass-botton-bg = $exchange-blue
$trade-deal-setPass-border = $exchange-blue
$trade-deal-setPass-bg = $bg-medium-color
$trade-deal-scroller-border = $exchange-border
$trade-deal-input-color-white = $normal-white-color-a9
$trade-deal-free-color = $exchange-blue

$trade-order-shadow = $exchange-shadow-color
$trade-order-detail-dash =$exchange-search-bg
$trade-order-detail-bg = $bg-medium-color
$trade-order-detail-close = $exchange-blue