@import "../../../common/css/index.styl"

$trade-main-bg = $col2120
$trade-model-bg = $col292B
$trade-font-normal = $cola2228
$trade-font-title = $colFFFF
$trade-font-thead = $cola2225
$trade-bg-title = $col3335
$trade-buy-font = $colB789
$trade-sell-font = $col5656
$trade-buy-bg = $colB789
$trade-sell-bg = $col5656
$trade-scrollbar-track = $col2730
$trade-scrollbar-thumb = $col8F93

$trade-tab-active-font = $colFFFF
$trade-tab-active-border = $colFFFF
$trade-tab-hover = $colFFFF
$trade-change-positive = $colB789
$trade-change-negative = $col5656
$trade-live-deal-bg = $col3335


$trade-market-line = $cola22205
$trade-market-materials = $colB789
$trade-market-select = $col3335
$trade-market-border = $col3335
$trade-market-volume-color = $colD6D6

$trade-recent-tab-border = $colB789
$trade-recent-tab-font = $colB789
$trade-recent-tab-active-bg = $colB789
$trade-recent-tab-active-font = $col292B

$trade-deal-shadow = $cola2223
$trade-deal-input-bg = $col3335
$trade-deal-input-color = $cola2225
$trade-deal-setPass-color = $colB789
$trade-deal-setPass-botton-bg = $colB789
$trade-deal-setPass-border = $colB789
$trade-deal-setPass-bg = $col3739
$trade-deal-scroller-border = $col6268
$trade-deal-input-color-white = $cola2228
$trade-deal-free-color = $colB789

$trade-order-shadow = $cola2223
$trade-order-detail-dash =$cola2221
$trade-order-detail-bg = $col3739
$trade-order-detail-close = $colB789