.pane-legend-line.apply-overflow-tooltip.main,
.pane-legend-minbtn.apply-common-tooltip.apply,
.pane-legend-icon-container,
.pane-legend-line.apply-overflow-tooltip,
.onchart-tv-logo.wrapper.expanded
{
  display: none !important;
}
@media screen and (max-width: 1600px) {
  .main-properties {
    padding: 0 15px!important;
  }
  table.property-page {
    width: 100% !important;
  }
  .tv-tabs__tab {
    height: 30px !important;
  }
  .properties-tabs.tv-tabs {
    height: 30px !important;
  }
  a.properties-tabs-label {
    padding: 10px 0 5px !important;
  }
}
