@import "../../../common/css/variable.styl"

.order-manage
	width 100%
	margin 0 auto
	background-color $pc-order-bg
	.order-nav
		width 1.86rem
		li
			height: 0.6rem;
			margin-right: 0.28rem;
			line-height: 0.6rem;
			a
				display: block;
				width: 100%;
				padding-left: 0.24rem;
				border-left 0.04rem solid $pc-order-bg
				color $normal-white-color-a9
				&.active
					border-left 0.04rem solid $pc-order-font-active
					background $pc-order-bg-active
					color $pc-order-font-active
				&:hover
					border-left 0.04rem solid $pc-order-font-active
					background $pc-order-bg-active
					color $pc-order-font-active
	.order-content
		width 10.12rem
		min-height 7.4rem
		padding 0 .3rem
		border-left 1px solid $pc-order-line
.order-manage-wrap
	width 100%
	background-color $pc-order-bg
	padding 0.64rem 0 .68rem 1.2rem