@import "../../../common/css/variable.styl"

.order-title
	height .28rem
	margin-top .3rem
	display flex
	align-items center
	justify-content space-between
	h3
		font-size .2rem
		color $normal-black-color
	.filter-reset
		margin-left 6.18rem
		input
			margin-right .1rem
			position relative
			top .04rem
	.export-record
		margin-left .3rem
.order-filter
	height .3rem
	margin .43rem 0 .4rem 0
	display flex
	align-items center
	li
		margin-right .35rem
	span
		font-size .16rem
		color $dark-font-color
		margin-right .1rem
	em
		margin 0 .1rem
	.select
		width .8rem
		height .3rem
		line-height .3rem
	.data-filter
		input
			margin-bottom 0
	.filter-handle
		button
			width .64rem
			height .3rem
			margin-right .1rem
.order-detail-table
	width 100%
	td:nth-of-type(1)
		padding-left .1rem
	thead
		tr
			height .3rem
			line-height .3rem
			color $normal-gray-color
			background $bg-light-color
	tbody
		tr
			height .7rem
			line-height .7rem
			border-bottom .01rem solid $line-light