@import "../../../common/css/variable.styl"

.order-manage
	width 12rem
	margin 0 auto
	padding: 0.2rem 0 .68rem
	background-color $normal-black-color
	.order-nav
		width 1.58rem
		li
			height: 0.6rem;
			margin-right: 0.28rem;
			line-height: 0.6rem;
			a
				display: block;
				width: 100%;
				padding-left: 0.24rem;
				border-left 0.04rem solid $normal-black-color
				color $normal-white-color-a9
				&.active
					border-left 0.04rem solid $main-color
					background $main-bg-active
					color $main-color
				&:hover
					border-left 0.04rem solid $main-color
					background $main-bg-active
					color $main-color
	.order-content
		width 10.12rem
		min-height 7.4rem
		padding 0 .3rem
		border-left 1px solid $line-dark
.order-manage-wrap
	width 100%
	background-color $normal-black-color