@import "../../../common/css/variable.styl"

$pc-order-bg = $normal-black-color
$pc-order-bg-active = $main-bg-active

$pc-order-line = $line-dark

$pc-order-font-title = $normal-white-color-a
$pc-order-font-content = $normal-white-color-a9
$pc-order-font-detail = $normal-gray-color
$pc-order-font-active = $main-color

$pc-order-image-nothing = $icon-nothing
$pc-order-image-close = $close-button