@import "../../../common/css/variable.styl"

$pc-order-bg = $normal-black-color
$pc-order-bg-active = $main-bg-active

$pc-order-line = $main-bg-active

$pc-order-font-title = $normal-white-color-a
$pc-order-font-content = $normal-white-color-a9
$pc-order-font-active = $main-color