@import "../../../common/css/variableWill.styl"

$order-bg-main = $col3335  // 背景颜色
$order-bg-active = $col2F30 // tab标签选中颜色、order列表表头颜色
$order-bg-detail = $col292B //  详情页背景

$order-line = $col292B  // 分割线颜色

$order-font-title = $cola2225 //表格表头、输入框颜色、输入框label颜色
$order-font-content = $cola2228 // 标题颜色、表格内容颜色、订单详情颜色
$order-font-detail = $cola2225 // 订单详情内容颜色
$order-font-active = $colB789  // 主题色

$order-image-nothing = $icon-nothing
$order-image-close = $close-button