.start-time
  margin-right 30px
  position relative
  &:after
    position absolute
    display inline-block
    top 18px
    right -20px
    content ''
    width 10px
    height 1px
    background #C0CCDA