@import "../../css/variable.styl"
.base-button 
  display inline-block
  outline none
  font-size 0.14rem
  letter-spacing 0
  text-align center
  border-radius 0.02rem
  cursor pointer
.default 
  border 0.01rem solid #D9E3EE
  background-color #FFF
  color #25272D
  &.main
    &:hover
      color $main-color
      border-color $main-color
    &:active
      color $main-color-active
      border-color $main-color-active
  &.positive
    &:hover
      color $positive-color
      border-color $positive-color
    &:active
      color $positive-color-active
      border-color $positive-color-active
  &.warn
    &:hover
      color $warn-color
      border-color $warn-color
    &:active
      color #B88A1E;
      border-color #B88A1E;
  &.danger
    &:hover
      color $negative-color
      border-color $negative-color
    &:active
      color $negative-color-active;
      border-color $negative-color-active;
  &.disable
    border-color #E0E6ED;
    color #C0CCDA
    &:hover, &:active
      border-color #E0E6ED;
      color #C0CCDA
.base
  color #FFF
  border none
  &.main
    background-color $main-color
    &:hover
      color #FFF
      background-color $main-color-hover
    &:active
      color #FFF
      background-color $main-color-active
  &.positive
    background-color $positive-color
    &:hover
      color #FFF
      background-color $positive-color-hover
    &:active
      color #FFF
      background-color $positive-color-active
  &.warn
    background-color $warn-color
    &:hover
      color #FFF
      background-color $warn-color-hover
    &:active
      color #FFF
      background-color $warn-color-active
  &.danger
    background-color $negative-color
    &:hover
      color #FFF
      background-color $negative-color-hover
    &:active
      color #FFF
      background-color $negative-color-active
  &.disable
    background-color #F9FBFE
    border 0.01rem solid #D9E3EE
    color #D9E3EE
    &:hover, &:active
      background-color #F9FBFE
      border 0.01rem solid #D9E3EE
      color #D9E3EE
.back1
  background-color transparent
  border 0.01rem solid #1F2D3D
  color #1F2D3D
  &:hover
    background-color #1F2D3D
    color #FFF
.back2
  background-color transparent
  border 0.01rem solid #FFF
  color #FFF
  &:hover
    background-color #FFF
    color #1F2D3D
