@import '../../base.styl'
.base-button 
  display inline-block
  outline none
  box-sizing border-box
  -moz-box-sizing border-box 
  -webkit-box-sizing border-box 
  min-width 64px
  min-height 36px
  font-size 14px
  line-height 36px
  letter-spacing 0
  text-align center
  border-radius 2px
  cursor pointer
.default 
  border 1px solid #D9E3EE
  background-color #FFF
  color #25272D
  &.main
    &:hover
      color #0080D0
      border-color #0080D0
    &:active
      color #0066A6
      border-color #0066A6
  &.positive
    &:hover
      color #219D05
      border-color #219D05
    &:active
      color #1A7D04
      border-color #1A7D04
  &.warn
    &:hover
      color #E6AD26
      border-color #E6AD26
    &:active
      color #B88A1E;
      border-color #B88A1E;
  &.danger
    &:hover
      color #DE4A01
      border-color #DE4A01
    &:active
      color #B13B00;
      border-color #B13B00;
  &.disable
    border-color #E0E6ED;
    color #C0CCDA
    &:hover, &:active
      border-color #E0E6ED;
      color #C0CCDA
.base
  color #FFF
  border none
  &.main
    background-color #0080D0
    &:hover
      color #FFF
      background-color #48A5E0
    &:active
      color #FFF
      background-color #0066A6
  &.positive
    background-color #219D05
    &:hover
      color #FFF
      background-color #64BA50
    &:active
      color #FFF
      background-color #1A7D04
  &.warn
    background-color #E6AD26
    &:hover
      color #FFF
      background-color #EDC567
    &:active
      color #FFF
      background-color #B88A1E
  &.danger
    background-color #DE4A01
    &:hover
      color #FFF
      background-color #E7804D
    &:active
      color #FFF
      background-color #B13B00
  &.disable
    background-color #F9FBFE
    border 1px solid #D9E3EE
    color #D9E3EE
    &:hover, &:active
      background-color #F9FBFE
      border 1px solid #D9E3EE
      color #D9E3EE
.back1
  background-color transparent
  border 1px solid #1F2D3D
  color #1F2D3D
  &:hover
    background-color #1F2D3D
    color #FFF
.back2
  background-color transparent
  border 1px solid #FFF
  color #FFF
  &:hover
    background-color #FFF
    color #1F2D3D
