// @import "../style/variable.styl"
.base-button
  display inline-block
  outline none
  font-size 0.14rem
  letter-spacing 0
  text-align center
  border-radius(0.02rem)
  cursor pointer
.export
  position relative
  height 0.28rem
  font-size 0.12rem
  padding-right 0.24rem
  color $common-font-minor
  border 0.01rem solid $common-line-minor
  border-radius(0.02rem)
  &::after
    position absolute
    content ''
    right 0.03rem
    top 0
    width 0.24rem
    height 0.28rem
    background $history-export no-repeat center center
    background-size 0.14rem 0.14rem
  &:hover
    color $common-font-main
    border-color $common-border-main
  &:active
    color $common-font-main-active
    border-color $common-border-main-active
a.default, button.default
  border 0.01rem solid $common-line-normal
  color $common-font-deep
  &.main
    color $common-font-main
    border-color $common-border-main
    &:active
      color $common-font-main-active
      border-color $common-border-main-active
  &.positive
    color $common-font-main
    border-color $common-border-main
    &:active
      color $common-font-main-active
      border-color $common-border-main-active
  &.warn
    color $common-font-extrude
    border-color $common-border-extrude
    &:active
      color $common-font-extrude-active;
      border-color $common-border-extrude-active;
  &.danger
    color $common-font-negative
    border-color $common-border-negative
    &:active
      color $common-font-negative-active;
      border-color $common-border-negative-active;
  &.disable
    border-color $common-border-dark;
    color $common-font-dark
    &:hover, &:active
      border-color $common-border-dark;
      color $common-font-dark
a.base, button.base
  color $common-font-none
  border none
  &.main
    background-color $common-bg-main
    &:hover
      color $common-font-none
      background-color $common-bg-main-hover
    &:active
      color $common-font-none
      background-color $common-bg-main-active
  &.positive
    background-color $common-bg-main
    &:hover
      color $common-font-none
      background-color $common-bg-main-hover
    &:active
      color $common-font-none
      background-color $common-bg-main-active
  &.warn
    background-color $common-bg-extrude
    &:hover
      color $common-font-none
      background-color $common-bg-extrude-hover
    &:active
      color $common-font-none
      background-color $common-bg-extrude-active
  &.danger
    background-color $common-bg-negative
    &:hover
      color $common-font-none
      background-color $common-bg-negative-hover
    &:active
      color $common-font-none
      background-color $common-bg-negative-active
  &.disable
    opacity 0.5
    background-color $common-bg-main
    border 0.01rem solid $common-font-dark
    color $common-font-none
    &:hover, &:active
      background-color $common-bg-main
      border 0.01rem solid $common-font-dark
      color $common-font-none
a.back1, button.back1
  background-color transparent
  border 0.01rem solid $common-font-dark
  color $common-font-dark
  &:hover
    background-color $common-font-dark
    color $common-font-none
a.back2, button.back2
  background-color transparent
  border 0.01rem solid $common-border-none
  color $common-font-none
  &:hover
    background-color $common-border-none
    color $common-font-dark