// @import "../style/variable.styl"

.calendar-wrap
  position relative
  .input-wrap
    &.active
      input
       border .01rem solid $common-border-main
      &:before
        position absolute
        top .04rem
        right .02rem
        width .2rem
        height .2rem
        content ''
        background url(/static/img/calendar/calendar_lan.svg) no-repeat
        background-size .2rem .2rem
    &:before
      position absolute
      top .04rem
      right .02rem
      width .2rem
      height .2rem
      content ''
      background url(/static/img/calendar/calendar_normal.svg) no-repeat
      background-size .2rem .2rem
    input
      box-sizing()
      width 1.06rem
      height .3rem
      padding-left .05rem
      margin-bottom .05rem
      font-size .14rem
      line-height .36rem
      color $common-font-normal
      background $common-bg-deep
      border .01rem solid $common-border-dark
      border-radius (.04rem)
      &::-webkit-input-placeholder
        font-size .14rem
      &::-moz-placeholder
        font-size .14rem

.calendar
  position absolute
  z-index 22
  box-sizing()
  width 2.58rem
  padding .16rem .26rem .18rem
  color $common-font-normal
  background $common-bg-medium
  border .01rem solid $common-border-dark
  box-shadow 0 .02rem .04rem 0 rgba(0, 0, 0, 0.12), 0 0 .06rem 0 rgba(0, 0, 0, 0.04)
  border-radius (.02rem)
  text-align center
  font-size .14rem
  h3
    height 0.3rem
    line-height 0.3rem
    margin 0 auto .16rem
    font-size .14rem
    font-weight normal
    color $common-font-normal
    margin-bottom 0rem
    img
      position relative
      top 0
      cursor pointer
      &.pre-year-img, &.next-year-img
        width .12rem
        height .12rem
      &.pre-month-img, &.next-month-img
        width .12rem
        height .12rem
      &.pre-month-img
        margin-left .2rem
        margin-right .12rem
      &.next-month-img
        margin-left .12rem
        margin-right .2rem
    i
      cursor pointer
      &.year-i
        margin-right .05rem
  table
    width 100%
    font-size 0.12rem
    tr
      line-height 0.3rem
    thead
      color $common-font-normal
    tbody
      td
        width .32rem
        height .28rem
        // padding
        &.is-disabled, &.today-disabled
          color $common-font-light
          pointer-events none
          cursor not-allowed
        &.today-text
          color $common-font-main
        &.active-text:hover
          cursor pointer
          background $common-bg-light
        &.active-set:hover
          cursor pointer
          color $common-font-main
        &.active
          color $common-font-none
          background $common-bg-main
          &:hover
            color $common-font-none
            background $common-bg-main

  .calendar-content
    font-size .12rem