.pagination-wrap
  display flex
  justify-content center
  p
    height 0.28rem
    line-height 0.28rem
    font-size 0.13rem
    color $common-font-normal
    letter-spacing 0
    &.total
      margin-right 0.1rem
      span
        color $common-font-normal
    &.jump
      margin-left 0.1rem
      input
        width 0.34rem
        height 0.28rem
        font-size 0.13rem
        color $common-font-normal
        margin 0 0.06rem 0
        background $common-bg-none
        text-align center
        border 0.01rem solid $common-border-minor
        border-radius 0.02rem
        &:focus
          border 0.01rem solid $main-color
      button
        width 0.45rem
        height 0.28rem
        margin-left 0.1rem
  .pagination
    overflow hidden
    li
      float left
      min-width 0.28rem
      height 0.28rem
      line-height 0.28rem
      font-size 0.13rem
      color $common-font-normal
      letter-spacing 0
      border 0.01rem solid $common-border-minor
      border-right none
      text-align center
      cursor pointer
      &.last
        border-radius 0.02rem 0 0 0.02rem
        background $pre-month no-repeat center center
        background-size 0.13rem 0.13rem
        &.disable, &.disable:hover
          background-color $common-bg-deep
      &.next
        border-radius 0 0.02rem 0.02rem 0
        background $next-month no-repeat center center
        background-size 0.13rem 0.13rem
        &.disable, &.disable:hover
          background-color $common-bg-deep
      &.page-button, &.last, &.next
        padding 0 0.09rem 0 0.09rem
        &:hover
          color $common-font-main
        &.active
          background $common-bg-main
          color $common-font-none
          border none
        &.omit
          color $common-font-minor
          &:hover
            color $common-font-minor
      &.next
        border-right 0.01rem solid $common-border-minor