.select-button
  position relative
  display inline-block
  .default
    display block
    width 1.2rem
    height 0.4rem
    position relative
    font-size 0.16rem
    color $common-font-main
    background $common-bg-normal
    border none
    letter-spacing 0.0006rem
    text-align justify
    opacity 0.6
    cursor pointer
    &::after
      position absolute
      content ''
      bottom 0.1rem
      right 0.23rem
      width .09rem
      height .09rem
      opacity 0.6
      border .002rem solid $common-border-normal
      border-bottom none
      border-right none
      _rotate(45deg)
    &.hidden::after
      position absolute
      content ''
      bottom .15rem
      right .23rem
      width .09rem
      height .09rem
      opacity 0.6
      border .002rem solid $common-border-normal
      border-bottom none
      border-right none
      _rotate(-135deg)
  .main
    box-sizing()
    position relative
    padding-left .16rem
    font-size .14rem
    color $common-font-normal
    letter-spacing 0
    text-align left
    line-height .36rem
    background $common-bg-deep
    border-radius (.02rem)
    cursor pointer
    &:hover
      background $common-bg-main
      color $common-font-none
    &::after
      position absolute
      content ''
      bottom .12rem
      right .1rem
      border-bottom .06rem solid $common-border-light
      border-left .055rem solid transparent
      border-right .055rem solid transparent
      border-top none
      height .06rem
      opacity 0.7
    &.hidden::after
      position absolute
      content ''
      bottom .05rem
      right .1rem
      border-top .06rem solid $common-border-light
      border-bottom none
      border-left .055rem solid transparent
      border-right .055rem solid transparent
      height .06rem
      opacity 0.7
    &.simple
      min-width 56px
      background $common-bg-deep
    &.simple::after
      right 50%
      margin-right -0.055rem
  .trade
    position relative
    height 0.16rem
    min-width 63px
    min-height 16px
    line-height 0.16rem
    border-radius(0.02rem 0 0 0)
    border 0.01rem solid $common-border-main
    cursor pointer
    &.hidden
      border-radius(0.02rem 0 0 0.02rem)
    &:hover
      background-color $common-bg-main-op
    p
      fz10()
      color $common-font-none
      text-align center
      -webkit-transform-origin center center
    i
      position absolute
      top -0.01rem
      right -0.1rem
      width 0.1rem
      height 0.16rem
      min-height 16px
      border-radius(0 0.02rem 0.02rem 0)
      background-color $common-border-main
      &::before
        position absolute
        right 0
        top 0
        content ''
        width 100%
        height 50%
        background $up-icon-rade no-repeat center 90%
        background-size 45% auto
      &::after
        position absolute
        right 0
        bottom 0
        content ''
        width 100%
        height 50%
        background $down-icon-rade no-repeat center 10%
        background-size 45% auto
  .base-list
    position absolute
    overflow hidden
    width 100%
    background $common-bg-deep
    // border 0.01rem solid $line-light
    border-radius(0.02rem)
    z-index 99
    &.hide
      display none
    li
      width 100%
      height 0.4rem
      padding 0 .1rem 0 .1rem
      font-size .14rem
      text-align center
      color $common-font-normal
      letter-spacing 0
      line-height .4rem
      cursor pointer
      &:hover
        color $common-font-main
      &.active
        color $common-font-normal
        background $common-bg-main
  .trade-list
    position absolute
    width 100%
    border 0.01rem solid $common-border-main
    border-top 0
    background-color $common-bg-main-op
    &.hide
      display none
    li
      width 100%
      line-height 0.15rem
      cursor pointer
      text-align center
      &:hover
        background-color $common-bg-main
      p
        fz10()
        color $common-font-none
        -webkit-transform-origin center center