.select-button
  position relative
  display inline-block
  .default
    display block
    width 1.2rem
    height 0.4rem
    position relative
    font-size 0.16rem
    color $common-font-main
    background $common-bg-normal
    border none
    letter-spacing 0.0006rem
    text-align justify
    opacity 0.6
    cursor pointer
    &::after
      position absolute
      content ''
      bottom 0.1rem
      right 0.23rem
      width .09rem
      height .09rem
      opacity 0.6
      border .002rem solid $common-border-normal
      border-bottom none
      border-right none
      _rotate(45deg)
    &.hidden::after
      position absolute
      content ''
      bottom .15rem
      right .23rem
      width .09rem
      height .09rem
      opacity 0.6
      border .002rem solid $common-border-normal
      border-bottom none
      border-right none
      _rotate(-135deg)
  .main
    box-sizing()
    position relative
    padding-left .16rem
    font-size .14rem
    color $common-font-normal
    letter-spacing 0
    text-align left
    line-height .36rem
    background $common-bg-deep
    border-radius (.02rem)
    cursor pointer
    &:hover
      background $common-bg-main
      color $common-font-none
    &::after
      position absolute
      content ''
      bottom .12rem
      right .1rem
      border-bottom .06rem solid $common-border-light
      border-left .055rem solid transparent
      border-right .055rem solid transparent
      border-top none
      height .06rem
      opacity 0.7
    &.hidden::after
      position absolute
      content ''
      bottom .05rem
      right .1rem
      border-top .06rem solid $common-border-light
      border-bottom none
      border-left .055rem solid transparent
      border-right .055rem solid transparent
      height .06rem
      opacity 0.7
    &.simple
      min-width 56px
      background $common-bg-deep
    &.simple::after
      right 50%
      margin-right -0.055rem
  .trade
    position relative
    height 0.4rem
    min-height 16px
    line-height 0.4rem
    padding-left 0.13rem
    padding-right 0.24rem
    border-radius(0.02rem 0 0 0)
    cursor pointer
    &.hidden
      border-radius(0.02rem 0 0 0.02rem)
    p
      font-size 0.12rem
      color $common-font-main
      text-align left
    i
      position absolute
      top 0rem
      right 0.12rem
      width 0.12rem
      height 100%
      min-height 16px
      background url('/static/web/icon_select_green_normal@3x.png') no-repeat center center
      background-size 100% auto
      &.selected
        background url('/static/web/icon_select_green_click@3x.png') no-repeat center center
        background-size 100% auto
  .base-list
    position absolute
    overflow hidden
    width 100%
    background $common-bg-deep
    // border 0.01rem solid $cola2225
    border-radius(0.02rem)
    z-index 99
    &.hide
      display none
    li
      width 100%
      height 0.4rem
      padding 0 .1rem 0 .1rem
      font-size .14rem
      text-align center
      color $common-font-normal
      letter-spacing 0
      line-height .4rem
      cursor pointer
      &:hover
        color $common-font-main
      &.active
        color $common-font-normal
        background $common-bg-main
  .trade-list
    position absolute
    width 100%
    background $common-bg-normal
    box-shadow 0 0 0.2rem 0 $common-bg-select-trade;
    z-index 1000
    border-radius(0.02rem)
    &.hide
      display none
    li
      position relative
      width 100%
      height 0.4rem
      padding-left 0.13rem
      padding-right 0.46rem
      line-height 0.4rem
      cursor pointer
      text-align center
      &:hover
        p
          color $common-font-main
      &.active
        background-color $common-bg-main
        &::after
          position absolute
          content ''
          right 0.26rem
          top 0
          width 0.14rem
          height 100%
          background url('/static/web/icon_choice@3x.png') no-repeat center center
          background-size 100% auto
        &:hover
          p
            color $common-font-none
      p
        font-size 0.12rem
        color $common-font-none
        text-align left