@import "../../css/index.styl"
  $common-bg-main = $main-color
  $common-bg-main-op = $exchange-opacity-blue
  $common-bg-main-hover = $main-color-hover
  $common-bg-main-active = $main-color-active
  $common-bg-negative-op = $exchange-opacity-red
  $common-bg-extrude = $warn-color
  $common-bg-extrude-hover = $warn-color-hover
  $common-bg-extrude-active = $warn-color-active
  $common-bg-negative = $negative-color
  $common-bg-negative-hover = $negative-color-hover
  $common-bg-negative-active = $negative-color-active
  $common-bg-normal = $normal-black-color
  $common-bg-medium = $bg-medium-color
  $common-bg-active = $main-bg-active
  $common-bg-deep = $bg-dark-color
  $common-bg-light = $line-light
  // $common-bg-btn = $bg-btn-color
  $common-bg-deep-op = $message-bg-color
  $common-bg-none = $normal-white-color
  $common-bg-popup = $popup-bg-color
  // $common-slide-main = $main-color

  $common-font-normal = $normal-font-color
  $common-font-minor = $normal-gray-color
  $common-font-none = $normal-white-color
  $common-font-main = $main-color
  $common-font-main-hover = $main-color-hover
  $common-font-main-active = $main-color-active
  $common-font-deep = $normal-black-color
  $common-font-negative = $negative-color
  $common-font-negative-active = $negative-color-active
  $common-font-extrude = $warn-color
  $common-font-extrude-active = $warn-color-active
  $common-font-dark = $line-dark
  $common-font-light = $line-light

  // $common-title-main = $main-color
  // $common-title-main-hover = $main-color-hover
  // $common-title-main-active = $main-color-active

  $common-line-normal = $line-dark
  $common-line-minor = $line-light

  $common-border-main = $main-color
  $common-border-main-hover = $main-color-hover
  $common-border-main-active = $main-color-active
  $common-border-negative = $negative-color
  $common-border-negative-active = $negative-color-active
  $common-border-extrude = $warn-color
  $common-border-extrude-active = $warn-color-active
  $common-border-dark = $line-dark
  $common-border-dark-op = $$message-bg-color
  $common-border-none = $normal-white-color
  $common-border-minor = $exchange-border
  $common-border-shadow = $exchange-shadow-color
  $common-border-normal = $normal-font-color
  $common-border-light = $normal-gray-color