@import "../../css/index.styl"
  $common-bg-main = $colB789
  $common-bg-h5-tip = $cola0006
  $common-bg-main-op = $cola4117
  $common-bg-main-hover = $colCDA1
  $common-bg-main-active = $col996F
  $common-bg-negative-op = $cola2777
  $common-bg-extrude = $colAD26
  $common-bg-extrude-hover = $colAD26
  $common-bg-extrude-active = $colAD26
  $common-bg-negative = $col5656
  $common-bg-negative-hover = $col5656
  $common-bg-negative-active = $col5656
  $common-bg-normal = $col3335
  $common-bg-medium = $col3739
  $common-bg-active = $col2F30
  $common-bg-deep = $col292B
  $common-bg-light = $cola2225
  // $common-bg-btn = $col2F31
  $common-bg-deep-op = $cola1221
  $common-bg-none = $colFFFF
  $common-bg-popup = $cola0004
  // $common-slide-main = $colB789

  $common-font-normal = $colD6D6
  $common-font-minor = $cola2225
  $common-font-none = $colFFFF
  $common-font-main = $colB789
  $common-font-main-hover = $colCDA1
  $common-font-main-active = $col996F
  $common-font-deep = $col3335
  $common-font-negative = $col5656
  $common-font-negative-active = $col5656
  $common-font-extrude = $colAD26
  $common-font-extrude-active = $colAD26
  $common-font-dark = $col292B
  $common-font-light = $cola2225

  // $common-title-main = $colB789
  // $common-title-main-hover = $colCDA1
  // $common-title-main-active = $col996F

  $common-line-normal = $col292B
  $common-line-minor = $cola2225

  $common-border-main = $colB789
  $common-border-main-hover = $colCDA1
  $common-border-main-active = $col996F
  $common-border-negative = $col5656
  $common-border-negative-active = $col5656
  $common-border-extrude = $colAD26
  $common-border-extrude-active = $colAD26
  $common-border-dark = $col292B
  $common-border-dark-op = $cola1221
  $common-border-none = $colFFFF
  $common-border-minor = $col6268
  $common-border-shadow = $cola2223
  $common-border-normal = $colD6D6
  $common-border-light = $cola2225