@import "../../common/css/variable.styl"
.find-pass-wrap-con
  width 100%
  background $dark-font-color
.find-pass-wrap
  position absolute
  top 40%
  left 50%
  transform translateX(-50%) translateY(-50%)
  width 3.8rem
  h1
    width 100%
    text-align center
    font-size .24rem
    margin-bottom .3rem
    color $normal-font-color
  ul
    width 100%
    li
      position relative
      margin-bottom .25rem
      em
        position absolute
        top 0
        right 0
        font-size .12rem
        color $negative-color
      p
        color $dark-font-color
        margin-bottom .05rem
      input
        width 100%
        height .35rem
      .pass-btn
        width 100%
        height .35rem
        background $main-color
        color $normal-white-color
        opacity .5
      .can-click
        opacity 1
    .send-verify-li, .send-picture-li
      .base-input-wrap
        float left
        input
          width 2.8rem
          border-right none
          vertical-align top
          border-radius (.02rem 0 0 .02rem)
      .send-code-btn, b
        float left
        width 1rem
        height .35rem
        background $main-color
        border none
        border-radius (0 .02rem .02rem 0)
        color $normal-white-color
    .pass-li
      .base-input-wrap
        margin-bottom .1rem
      span
        font-size .12rem
        color $negative-color-active
    .send-picture-li
      img
        float left
        width 1rem
        height.35rem
        background $line-light
        cursor pointer
