@import "../../common/css/variable.styl"

$login-bg-main = $col3335
$login-bg-active = $colB789
$login-bg-code = $cola2225


$login-font-normal = $colD6D6
$login-font-button = $colFFFF
$login-font-negative = $col5656
