@import "../../common/css/variable.styl"

$login-bg-main = $dark-font-color
$login-bg-active = $main-color
$login-bg-code = $line-light


$login-font-normal = $normal-font-color
$login-font-button = $normal-white-color
$login-font-negative = $negative-color
