.home-super-wrap
  width 12rem
  margin 0 auto
  padding .7rem 0 .85rem
  h1
    margin-bottom .45rem
    font-size .36rem
    line-height .5rem
    color $home-font-superiority
    text-align center
  ul
    li
      float left
      width 25%
      padding 0 .12rem
      box-sizing border-box
      text-align center
      img
        height 1rem
        margin-bottom .4rem
      img.muti
        padding .08rem 0
      h2
        margin-bottom .1rem
        font-size .2rem
        line-height .3rem
        color $home-font-superiority
      p
        font-size .13rem
        line-height .22rem
        color $home-font-superiority
        font-weight 100
  ul.active
    li:nth-child(2)
      p
        padding .11rem 0
    li:nth-child(3)
      h2
        padding .15rem 0
      p
        padding .11rem 0
    li:nth-child(4)
      p
        padding .22rem 0