@import "../../../common/css/variable.styl"

@keyframes btnOpacity {
  0% {
    opacity .5
  }
  50% {
    opacity .8
  }
  100% {
    opacity 1
  }
}

.banner-wrap
  position relative
  .banner-img
    margin-top -70px
  .banner-content
    position absolute
    width 100%
    .content
      position absolute
      top 24%
      left 50%
      transform translateX(-50%)
    .login-content
      top 26.4%
    .img-cn
      width 8.03rem
      height 0.91rem
    .img-en
      width 9.49rem
      height 1.25rem
    .content-link
      display block
      position absolute
      left 50%
      top 56%
      width 1.5rem
      height .54rem
      transform translateX(-50%)
      border 2px solid $banner-btn
      border-radius .04rem
      opacity .8
      //background transparent
      //transition background 1s
      &:hover
        opacity 1
        //background $main-color
      span
        position absolute
        display block
        width .8rem
        height .25rem
        left 50%
        top 50%
        transform translateX(-50%) translateY(-50%)
    //.cn-content
    //  //&:hover
    //  //  .banner-btn
    //  //    background $home_banner_btn_cn_hover no-repeat
    //  //    background-size 100%
    //  span
    //    //background $home_banner_btn_cn no-repeat
    //    background-size 100%
    //.en-content
    //  //&:hover
    //  //  .banner-btn
    //  //    background $home_banner_btn_en_hover no-repeat
    //  //    background-size 100%
    //  span
    //    //background $home_banner_btn_en no-repeat
    //    background-size 100%
