@import "../../../common/css/variable.styl"
.home-advan-wrap
  width 12rem
  margin 1.28rem auto 1.1rem auto
  color $normal-white-color-a9
  h1
    margin-bottom .54rem
    font-size .36rem
    line-height .5rem
    text-align center
  .home-advan-header
    li
      float left
      width 25%
      box-sizing border-box
      text-align center
      cursor pointer
      img
        height .74rem
      p
        margin .12rem 0 .4rem
        font-size .14rem
        line-height .2rem
      &.active
        border-bottom .02rem solid $main-color
  .home-advan-content
    background-color $normal-black-color
    height 3.08rem
    border-radius .06rem
    .big-image
      position relative
      float left
      width 50%
      height 100%
      img
        position absolute
        top 50%
        left 50%
        height 2.22rem
        transform translate(-50%, -50%)
    .content-ct
      position relative
      float left
      width 50%
      height 100%
      .content
        position absolute
        top 50%
        left 0
        transform translateY(-50%)
        h2 
          width 3.6rem
          font-size .3rem
          line-height .42rem
          margin-bottom .3rem
        p 
          font-size .14rem
          line-height .24rem
          color $normal-white-color-a
        
      