@import "../../../common/css/variable.styl"

@keyframes bgscale {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.home-wrap
  .hide
    display none
  //推荐交易对
  .home-recommend
    width 100%
    padding .64rem 1.2rem .93rem
    background $normal-white-colorgit
    ul
      li
        position relative
        float left
        padding 0 .5rem
        //&:first-child
          //padding-left 0
        &:last-child
          //padding-right 0
          &:after
            position absolute
            top 0
            right 0
            content ''
            background none
        &:after
          position absolute
          top .1rem
          right 0
          width 1px
          height .23rem
          content ''
          background $line-light
        span
          color $index-gray
          font-size .16rem
          opacity 0.6
        p
          padding-top .07rem
          b
            margin-right .1rem
            font-size .2rem
            color $normal-black-color
          i
            position relative
            padding-left .15rem
            &.up-i
              color $index-blue
              &:before
                position absolute
                top .03rem
                left 0
                content ''
                width .12rem
                height .12rem
                background url('/static/img/shangzhang.svg') no-repeat center center
                background-size .12rem .12rem
            &.down-i
              color $index-red
              &:before
                position absolute
                top .05rem
                left 0
                content ''
                width .12rem
                height .12rem
                background url('/static/img/xiadie.svg') no-repeat center center
                background-size .12rem .12rem

  //市场
  .home-market
    background $normal-white-color
    .market-nav
      height .36rem
      line-height .36rem
      margin-bottom .48rem
      ul
        float left
        height .36rem
        li
          position relative
          float left
          padding  0 .15rem
          font-size .16rem
          cursor pointer
          span
            padding .08rem .15rem
            &.home-market-item-active
              color $normal-white-color
              background $index-blue
              border-radius .2rem
              box-shadow: 0 .07rem .3rem rgba(65, 139, 255, .4)
              margin 0 .14rem
          &:first-child
            padding-left 0
          &:last-child
            padding-right 0
            &:after
              position absolute
              top 0
              right 0
              content ''
              background none
          &:after
            position absolute
            top 0rem
            right -.05rem
            content '/'
            color $normal-gray-color
      .base-input-wrap
        float right
        width 2rem
        height .36rem
        input
          background $normal-white-color
        button
          width .44rem
    table
      width 100%
      tr
        height .45rem
        line-height .45rem
      thead
        tr
          color $normal-gray-color
        th:nth-of-type(1)
          padding-left .3rem
        .sort-img-li
          cursor pointer
          img
            width .16rem
            height .16rem
            position relative
            top .03rem
            left .03rem
      tbody
        tr:nth-child(odd)
          background $bg-light-color
        td:first-child
          padding-left .3rem
        img
          position relative
          top .03rem
          width .16rem
          height .16rem
          cursor pointer

