.home-banner-wrap
  padding .85rem 0 2.05rem
  background-color $home-bg-banner
  .home-banner-ct
    width 9.6rem
    margin 0 auto
    .head
      height .4rem
    .images
      display flex
      justify-content space-between
      width 100%
      margin-top .59rem
      img
        width 3rem
        height 1.68rem