//@import "../../../common/css/variable.styl"

.home-notice-wrap
  position relative
  width 100%
  height .46rem
  padding-top .105rem
  //margin-top -1.2rem
  background linear-gradient(90deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.80) 50%, rgba(0,0,0,0.00) 100%)
  .hide
    display none
  .home-notice-content
    position relative
    width 100%
    height .25rem
    line-height .25rem
    overflow hidden

    ul
      position absolute
      width 100%
      li
        height .25rem
        cursor pointer
        text-align center
        a
          &:hover
            i
              opacity 1
            span
              color $home-font-noticeConActive
        i
          position relative
          color $home-font-noticeTime
          opacity .8
        span
          color $home-font-normal
          //&:before
          //  position absolute
          //  top .03rem
          //  left 0
          //  width .15rem
          //  height .15rem
          //  content ''
          //  background url(/static/img/tongzhi.svg) no-repeat
          //  background-size .15rem .15rem


