@import "../../../common/css/variable.styl"

@keyframes bgscale {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.home-wrap
  .home-top
    position relative
    .home-notice-wrap
      position absolute
      bottom .6rem
  .home-updown
    position relative
    padding-left .15rem
    font-weight 100
    &.up-i
      color $index-blue
      //&:before
      //  position absolute
      //  top 50%
      //  transform translate(0, -50%)
      //  left 0
      //  content ''
      //  width .12rem
      //  height .12rem
      //  background $home-up no-repeat center center
      //  background-size .12rem .12rem
    &.down-i
      color $index-red
      //&:before
      //  position absolute
      //  top 50%
      //  transform translate(0, -50%)
      //  left 0
      //  content ''
      //  width .12rem
      //  height .12rem
      //  background $home-down no-repeat center center
      //  background-size .12rem .12rem
  .market-updown
    position relative
    font-weight 100
    &.up-after
      color $index-blue
      //&:after
      //  position absolute
      //  top 50%
      //  transform translate(0, -50%)
      //  right -.15rem
      //  content ''
      //  width .12rem
      //  height .12rem
      //  background $home-up no-repeat center center
      //  background-size .12rem .12rem
    &.down-after
      color $index-red
      //&:after
      //  position absolute
      //  top 50%
      //  transform translate(0, -50%)
      //  right -.15rem
      //  content ''
      //  width .12rem
      //  height .12rem
      //  background $home-down no-repeat center center
      //  background-size .12rem .12rem
  .hide
    display none

  //推荐交易对
  .home-recommend
    position absolute
    bottom 0
    width 100%
    //padding .64rem 1.2rem .93rem
    height .6rem
    background $normal-black-color
    //background red
    box-shadow 0 1px 10px 1px rgba(0,0,0,0.10)
    ul
      display -webkit-flex
      display flex
      justify-content space-between
      width 12rem
      height .6rem
      margin 0 auto
      line-height .6rem
      //padding 0 1.2rem
      li
        position relative
        //padding 0 .3rem
        //@media (max-width: 1900px)
        //  padding 0 .5rem
        //@media (max-width: 1800px)
        //  padding 0 .4rem
        //@media (max-width: 1700px)
        //  padding 0 .3rem
        //@media (max-width: 1600px)
        //  padding 0 .25rem
        //@media (max-width: 1500px)
        //  padding 0 .2rem
        //@media (max-width: 1400px)
        //  padding 0 .1rem
        //@media (max-width: 1300px)
        //  padding 0 .1rem
        &:first-child
          padding-left 0
        &:last-child
          padding-right 0
          &:after
            position absolute
            top 0
            right 0
            content ''
            background none
        //&:after
        //  position absolute
        //  top .25rem
        //  right 0
        //  width 1px
        //  height .14rem
        //  content ''
        //  background $normal-white-color
        //  opacity .1
        span
          color $normal-white-color
          padding-right .2rem
          font-size .2rem
        b
          color $home-recommend
          margin-right .15rem
          font-size .12rem
          font-weight 100
        i
          font-size .12rem
          opacity .8


  //市场
  .home-market
    width 12rem
    padding-top .75rem
    margin 0 auto
    background $line-dark
    .home-market-con
      padding .5rem .55rem .98rem
      box-shadow 0 1px 10px 0 rgba(0,0,0,0.20)
      border-radius 6px
      background $dark-font-color
    .market-nav
      height .36rem
      line-height .36rem
      margin-bottom .48rem
      ul
        float left
        li
          position relative
          float left
          padding 0 .15rem
          font-size .16rem
          cursor pointer
          span
            display inline-block
            padding .04rem .28rem
            color $normal-white-color-a9
            &.home-market-item-active
              //color $normal-white-color
              //background $index-blue
              //border-radius .2rem
              //box-shadow: 0 .07rem .3rem rgba(65, 139, 255, .4)
              //margin 0 .14rem
              display inline-block
              width 100%
              height 100%
              background $market-active no-repeat
              background-size 100% 100%
              color $exchange-blue
          &:first-child
            padding-left 0
          &:last-child
            padding-right 0
            &:after
              position absolute
              top 0
              right 0
              content ''
              background none
          &:after
            position absolute
            top 50%
            transform translateY(-50%)
            right -.05rem
            content '/'
            color $normal-white-color
            opacity .1
      .search_wrap
        float right
        width 2rem
        height .36rem
        //margin-top .05rem
        .base-input-wrap
          float left
          //float right
          //width 2rem
          //height .36rem
          display flex
          justify-content center
          input
            width 1.5rem
            background $bg-dark-color
          button
            width .44rem
          //background-image linear-gradient(-123deg, #5C6265 0%, #2F3335 92%) !important
        img
          position relative
          top -.06rem
          left -.2rem
          float right
          width .48rem
          height .48rem
          vertical-align top
          cursor pointer

    table
      width 100%
      .nothing-market-pair
        color $normal-font-color
        text-align center
        border-bottom none
        td
          padding .3rem 0 0
          font-size .2rem
      tr
        height .45rem
        line-height .45rem
      thead
        tr
          color $normal-gray-color
        th:nth-of-type(1)
          padding-left .3rem
        .sort-img-li
          cursor pointer
          img
            width .16rem
            height .16rem
            position relative
            top .03rem
            left .06rem
        th
          font-weight 100
      tbody
        tr
          border-bottom 1px solid $home-market-line
          &.table-data
            &:hover
              background rgba(255,255,255,0.03)

        td:first-child
          padding-left .3rem
        td
          font-weight 100
          color $normal-white-color-a9
          span
            font-weight 100
            color $normal-white-color-a9
          .second-span
            color $normal-white-color-a
            font-size .12rem
          a
            display inline-block
            width 100%
            font-weight 100
            color $normal-white-color-a9
          .market-up
            color $index-blue
          .market-down
            color $index-red
        img
          position relative
          top .03rem
          width .16rem
          height .16rem
          cursor pointer

