@import "../../../common/css/variable.styl"

.banner-wrap
  position relative
  .banner-img
    margin-top -1rem
  .banner-content
    position absolute
    width 100%
    .content
      position absolute
      left 50%
      top 1.8rem
      transform translateX(-50%)
      width 4.55rem
      height 1.6rem
    .content-link
      display block
      position absolute
      left 50%
      top 4.2rem
      width 1.8rem
      height .65rem
      transform translateX(-50%)
      border 1px solid $main-color
      border-radius .04rem
      &:hover
        background $main-color
        .banner-btn
          display block
          width .8rem
          height .25rem
          margin-left .5rem
          margin-top .2rem
      span
        display block
        width .8rem
        height .25rem
        margin-left .5rem
        margin-top .2rem
    .cn-content
      &:hover
        .banner-btn
          background $home_banner_btn_cn_hover no-repeat
          background-size 100%
      span
        background $home_banner_btn_cn no-repeat
        background-size 100%
    .en-content
      &:hover
        .banner-btn
          background $home_banner_btn_en_hover no-repeat
          background-size 100%
      span
        background $home_banner_btn_en no-repeat
        background-size 100%
