.new-pwd-wrap
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0, 0, 0, .5)
  z-index 700
  .new-pwd-info
    position absolute
    left 50%
    top 50%
    width 5.64rem
    //height 2.56rem
    color $home-font-normal
    padding .24rem .3rem .49rem
    background $home-bg-pwdPopup
    border-radius (.06rem)
    transform translateX(-50%) translateY(-50%)
    .title-wrap
      margin-bottom .24rem
      .close-popup
        float right
        width .16rem
        height .16rem
        cursor pointer
      h1
        float left
        font-size 0.2rem
        font-weight bold
        letter-spacing 0
        margin .04rem 0
    ul
      li
        position relative
        margin-bottom .43rem
        &.btn-li
          margin-bottom .18rem
        &.set-li
          a
            position relative
            float left
            color $home-font-set
            &:after
              position absolute
              top .02rem
              right -.2rem
              content ''
              width .15rem
              height .11rem
              background $home-arrow no-repeat center center
              background-size 100%
          i
            float right
            cursor pointer
            color $home-font-set
      span
        display block
        margin-bottom .1rem
      em
        display block
        position absolute
        margin-top .1rem
        color $home-font-warn
      .base-input-wrap
        width 100%
        input
          width 100%
          height .4rem
      button
        width 100%
        height .4rem
        vertical-align bottom
        background $home-bg-btn
        color $home-font-btn
        opacity .5
        &.can-click
          opacity 1



