@import "../../../common/css/index.styl"

$home-bg-main = $line-dark // 整体背景颜色
$home-bg-recommend = $normal-black-color // 推荐币种背景色
$home-bg-market = $normal-black-color // 市场背景色
$home-bg-advantage = $normal-black-color  // 我们的优势背景色
$home-bg-input = $bg-dark-color // 搜索框背景色

$home-font-normal = $normal-font-color // 普通颜色
$home-font-up = $index-blue // 提醒颜色
$home-font-down = $index-red // 警告颜色
$home-font-recommendName = $normal-white-color // 推荐币种名称颜色
$home-font-recommendPrice = $home-recommend  // 推荐币种金额颜色
$home-font-market = $normal-white-color-a9 // 市场切换颜色
$home-font-active = $main-color // 市场切换颜色
$home-font-table = $normal-white-color-a9 // 表格内容标题
$home-font-marketPrice = $normal-white-color-a // 表格内容标题
$home-font-advantage = $normal-white-color-a9 // 我们的优势字体颜色
$home-font-advantageActive = $main-color // 我们的优势点击active颜色
$home-font-noticeTime = $main-color // 通知时间颜色

$home-title-table = $normal-gray-color // 表格标题

$home-line-main = $normal-white-color // 分割线
$home-line-market = $home-market-line // 市场表格分割线

$home-border-btn = $banner-btn // 活动边框线
