@import "../../../common/css/index.styl"

$home-bg-main = $col292B // 整体背景颜色
$home-bg-recommend = $col3335 // 推荐币种背景色
$home-bg-market = $col3335 // 市场背景色
$home-bg-advantage = $col3335  // 我们的优势背景色
$home-bg-input = $col292B // 搜索框背景色
$home-bg-banner = $col3439  // Banner背景色
$home-bg-pwdPopup = $col3335 // 首页设置密码弹窗
$home-bg-btn = $colB789
$home-bg-marketActive = $col3D3F

$home-font-normal = $colD6D6 // 普通颜色
$home-font-up = $colB789 // 提醒颜色
$home-font-down = $col5656 // 警告颜色
$home-font-recommendName = $colFFFF // 推荐币种名称颜色
$home-font-recommendPrice = $colF6F0  // 推荐币种金额颜色
$home-font-market = $cola2228 // 市场切换颜色
$home-font-active = $colB789 // 市场切换颜色
$home-font-table = $cola2228 // 表格内容标题
$home-font-marketPrice = $cola2225 // 表格内容标题
$home-font-marketTitle = $colFFFF // 表格内容标题
$home-font-advantage = $cola2228 // 我们的优势字体颜色
$home-font-advantageActive = $colB789 // 我们的优势点击active颜色
$home-font-superiority = $colFFFF
$home-font-noticeTime = $colB789 // 通知时间颜色
$home-font-noticeConActive = $colFFFF // 通知时间颜色
$home-font-btn = $colFFFF
$home-font-warn = $col4740
$home-font-set = $colB789

$home-title-table = $cola2225 // 表格标题

$home-line-main = $colFFFF // 分割线
$home-line-market = $cola2225 // 市场表格分割线
$home-line-market-light = $cola2221
$home-line-zone-title = $colB789
$home-line-zone-titleBottom = $cola4115

$home-border-btn = $colC68C // 活动边框线
