.invite{
  padding: 0.2rem 0.12rem 0 0.12rem;
  margin-bottom: 0.12rem;
}
/* 文案部分 */
.invite h3{
  font-size: 0.16rem;
  color: #25272D;
  line-height: 0.16rem;
  margin-bottom: 0.16rem;
}
.invite dl dt, .invite dl dd p{
  height: 0.13rem;
  font-size: 13px;
  color: #46566A;
  line-height: 13px;
  margin-bottom: 0.16rem;
}
.invite dl dd h4, .invite .welfare{
  font-size: 15px;
  color: #25272D;
  line-height: 15px;
  margin-bottom: 0.12rem;
}
.invite .welfare{
  font-weight: bold;
  margin-bottom: 0.16rem;
}
.invite .welfare span{
  margin: 0 0.07rem;
  color: #069AF7;
}
/* 海报部分 */
.invite .poster{
  text-align: center;
}
.invite .poster .up{
  height: 5.00rem;
  padding-top: 0.24rem;
  background: url(../images/invite_bg1.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.invite .poster .down{
  height: 5.9rem;
  background: url(../images/invite_bg2.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.invite .poster .up .header{
  height: 0.55rem;
  line-height: 0.4rem;
  font-size: 0.2rem;
  color: #ff5142;
  margin-bottom: 0.12rem;
  font-weight: bold;
  background: url(../images/invite_header_bg.png) no-repeat center center;
  background-size: auto 100%;
}
.invite .poster .up .wait{
  height: 1.53rem;
  margin-bottom: 0.30rem;
  background: url(../images/invite_wait.png) no-repeat center center;
  background-size: auto 100%;
}
.invite .poster .up .code-text{
  line-height: 0.26rem;
  margin-bottom: 0.16rem;
  color: #fff;
  font-size: 0.18rem;
}
.invite .poster .up .code-text span{
  margin: 0 0.07rem;
  color: #fbf288;
  font-size: 0.23rem;
}
.invite .poster .up .qrcode{
  position: relative;
  height: 1.36rem;
}
.invite .poster .up .qrcode .wrap{
  position: absolute;
  left: 50%;
  margin-left: -0.68rem;
  width: 1.28rem;
  height: 1.28rem;
  border: 0.04rem solid #fff;
  border-radius: 0.1rem
}

.invite .poster .down .crt-intro-header{
  height: 0.55rem;
  line-height: 0.4rem;
  font-size: 0.25rem;
  color: #7380f0;
  margin-bottom: 0.2rem;
  font-weight: bold;
  background: url(../images/invite_crt_bg.png) no-repeat center center;
  background-size: auto 100%;
}
.invite .poster .down .crt-intro-text1{
  padding:  0 0.12rem;
  text-align: left;
  font-size: 0.15rem;
  color: #fff;
  line-height: 0.24rem;
}
.invite .poster .down .crt-intro-text2{
  padding:  0 0.12rem;
  text-align: left;
  font-size: 0.16rem;
  font-weight: bold;
  color: #fbf288;
  margin-bottom: 0.36rem;
}
.invite .poster .down .crt-func-header{
  height: 0.55rem;
  line-height: 0.4rem;
  font-size: 0.25rem;
  color: #7380f0;
  margin-bottom: 0.24rem;
  font-weight: bold;
  background: url(../images/invite_crt_func.png) no-repeat center center;
  background-size: auto 100%;
}
.invite .poster .down .crt-func-intro{
  text-align: left;
  padding: 0 0.12rem;
  color: #fff;
  font-size: 0.16rem;
  margin-bottom: 0.15rem;
}
.invite .poster .down .crt-func{
  width: 3.24rem;
  margin-left: 0.13rem;
  margin-bottom: 0.28rem;
}
.invite .poster .down .crt-func li{
  box-sizing: border-box;
  float: left;
  width: 1.62rem;
  height: 0.7rem;
  background: url(../images/value.png) no-repeat 0.1rem center #fff;
  background-size: 0.4rem auto;
  padding: 0.18rem 0 0 0.55rem;
}
.invite .poster .down .crt-func li h5{
  font-size: 0.16rem;
  font-weight: bold;
  text-align: left;
  color: #636262;
}
.invite .poster .down .crt-func li p{
  font-size: 0.12rem;
  color: #80807f;
  text-align: left;
}
.invite .poster .down .crt-func .value,.invite .poster .down .crt-func .usage{
  border-right: 0.01rem solid rgba(255,0,0,0.2);
  border-bottom: 0.01rem solid rgba(255,0,0,0.2)
}
.invite .poster .down .crt-func .cost,.invite .poster .down .crt-func .welfa{
  background-image: url(../images/welfa.png);
  border-bottom: 0.01rem solid rgba(255,0,0,0.2)
}
.invite .poster .down .crt-func .usage{
  background-image: url(../images/usage.png);
}
.invite .poster .down .crt-func .interesting{
  border-right: 0.01rem solid rgba(255,0,0,0.2);
}
.invite .poster .down .crt-func .value {
  border-radius: 0.1rem 0 0 0;
}
.invite .poster .down .crt-func .cost{
  background-image: url(../images/cost.png);
  border-radius: 0 0.1rem 0 0;
}
.invite .poster .down .crt-func .interesting{
  background-image: url(../images/interesting.png);
  border-radius: 0 0 0 0.1rem;
}
.invite .poster .down .crt-func .more{
  background-image: url(../images/more.png);
  border-radius: 0 0 0.1rem 0;
}

.invite .poster .down .coming-soon{
  font-size: 0.16rem;
  height: 0.16rem;
  line-height: 0.16rem;
  color: rgba(255,255,255,0.6)
}