.terms{
  text-align: left;
  padding: 0.12rem;
  text-indent: 2em;
}
.terms .intro{
  font-size: 0.16rem;
  color: #24262C;
  text-align: justify;
  line-height: 0.24rem;
}
.terms .item{
  margin-top: 0.1rem;
}
.terms .item dt{
  font-size: 0.16rem;
  margin-bottom: 0.05rem;
  text-indent: 0;
  color: #0098FA;
  letter-spacing: 0;
}
.terms .item dd{
  font-size: 14px;
  color: #24262C;
  letter-spacing: 0;
  text-align: justify;
  line-height: 0.21rem;
}
.terms .item dd li{
  text-indent: 4em;
}