//$baseFontSize = 16px
//
//px2rem(name, px){
//  {name}: px / $baseFontSize * 1rem;
//}
//
//html
//  font-size $baseFontSize
@import "~stylus-px2rem/index"

html,body
  font-size 14px
  height 100%

input,button
  outline none

em, b, i
  font-weight normal
  font-style normal
.fl
  float left
.fr
  float right
.clearfix
  zoom 1
  &:after
    display block
    height 0
    clear both
    content ""

box-sizing()
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box

