.mix-market {
  height: 464px;
}

/*币币交易*/
.mix-info {
  margin-top: 10px;
  margin-left: 12px;
}

.mix-market-nav {
  margin-left: 12px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: normal;
  border-bottom: 1px solid rgba(107,109,113,.2);
  position: relative;
}
.market-nav-search{
  position: absolute;
  right: 0;
}
.market-nav-search i{
  cursor: pointer;
  right: 0;
  top: 6px;
  position: absolute;
  width: 12px;
  height: 12px;
  background: url("/static/trade/img/search_hei.svg") no-repeat center / 12px 12px;
}
.market-search-input{
  height: 100%;
  z-index: 9999;
  background: #30353e;
  position: absolute;
  width: 100%;
}
.market-search-input i{
  left: 2%;
  top: 6px;
  position: absolute;
  width: 12px;
  height: 12px;
  background: url(/static/trade/img/search_hei.svg) no-repeat center / 12px 12px;
}

.market-search-input input{
  height: 100%;
  position: absolute;
  width: 90%;
  left: 10%;
  background: none;
  border: none;
  color: white;
  outline: none;
}
.market-search-input em{
  cursor: pointer;
  right: 2%;
  top: 6px;
  position: absolute;
  width: 11px;
  height: 11px;
  background: url(/static/trade/img/quxiao_bai.svg) no-repeat center / 11px 11px;
}

.mix-market-title{
  position: relative;
}

.mix-market-title:after{
  content: '';
  position: absolute;
  width: 5px;
  height: 10px;
  background: url(/static/trade/img/moren_paixu.svg)no-repeat top center;
  /* right: 0; */
  /* left: 26px; */
  opacity: .5;
  top: 2.5px;
  margin-left: 2px;
}

.mix-recent-nav {
  align-items: center;
  height: 12.2%;
  padding-right: 13px;
  /*margin-top: 10px;*/
  /*min-height: 20px;*/
  /*margin-left: 12px;*/
  /*margin-right: 20px;*/
}

.mix-recent-content {
  height: 87.8%;
  font-size: 11px;
}

.mix-recent-list {
  overflow-y: auto;
  height: 90%;
}

.mix-recent-list::-webkit-scrollbar-button {
  display: none;
}

.mix-recent-list::-webkit-scrollbar {
  width: 4px;
  height: 100%;
}

.mix-recent-list::-webkit-scrollbar-track {
  width: 4px;
  /*height: 295px;*/
  background: #222730;
}

.mix-recent-list::-webkit-scrollbar-track-piece {

}

.mix-recent-list::-webkit-scrollbar-thumb {
  width: 4px;
  /*height: 30px;*/
  background: #8C8F93;
}

.mix-recent-list::-webkit-scrollbar-corner {

}

.mix-recent-item {
  height: 8.87%;
}

.mix-recent-c-header {
  min-height: 10%;
}

.mix-recent-time-w {
  width: 24.6%;
  color: rgba(255,255,255,.5);
}

.mix-recent-price-w {
  width: 30.3%;
  color: rgba(255,255,255,1);
}

.mix-recent-amount-w {
  color: rgba(255,255,255,1);
  width: 42%;
  text-align: right;
  margin-right: 3%;
}

.mix-h-light {
  color: #ffffff;
  font-size: 12px;
  /*font-weight: 600;*/
  /*font-family: "PingFangBold", -apple-system, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;*/
}

.mix-bg-blue {
  background-color: #1BB0E0 !important;
}

.mix-market-nav .item {
  margin-right: 3%;
}

.mix-market-nav .active {
  border-bottom: solid;
  color: #ffffff;
}

.mix-market-w {
  width: 27%;
  min-width: 71px;
}

.mix-price-w {
  width: 40%;
  min-width: 73px;
}

.mix-vol-w {
  width: 27%;
}

.mix-updown-w {
  width: 28%;
}

.mix-market-content {
  /* margin-left: 12px; */
  /* margin-right: 10px; */
  font-size: 11px;
  color: #D6D8DA;
}

.mix-market-content .mix-market-content-star {
   width:12px;
   height:16px;
   background:url(/static/trade/img/star.svg) no-repeat center center/12px 12px;
   display: flex;
}

.mix-market-content .mix-market-content-star-collected {
   width:12px;
   height:16px;
   background:url(/static/trade/img/Star_xuanze.svg) no-repeat center center/12px 12px;
   display: flex;
}

.mix-item-m {
  height: 10%;
  padding: 0 12px;
  align-items: center;
}

.mix-item-m.active {
  background-color: #353D48;
}

/* 挂单样式 */
.mix-resting {
  height: 100%;
}

.mix-resting .header {
  height: 4.8%;
  font-size: 12px;
  border-bottom: 1px solid;
  margin-left: 6%;
}

.mix-resting .header span {
  margin-right: 20px;
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  /*font-family: "PingFangMedium", -apple-system, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;*/
  padding-top: 3%;
}

.mix-user-auth {
  right: 20px;
  position: absolute;
}

.mix-resting .header .active {
  border-bottom: solid;
  color: #ffffff;
  margin-bottom: -2px;
  padding-top: 3%;
}

.k-menu {
  position: absolute;
  right: 1%;
  top: 1.5%;
  z-index: 1;
  width: 20%;
  height: 25px;
}

.k-menu .to-pointer:hover {
  color: #FFF;
}

.k-btn {
  width: 50%;
  height: 100%;
  border: 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 2px;
}

.mix-ml-20 {
  margin-left: 20px;
  margin-top: 18px;
}

.mix-ml-21 {
  margin-top: 16px;
  margin-left: 7px;
  color: #ffffff;
  font-size: 28px;
}

.mix-ml-21 h2 {
  color: #ffffff;
}

.mix-ml-21 p {
  color: #ffffff;
  font-size: 16px;
}

.mix-icon {
  width: 34px;
  height: 34px;
  -webkit-background-size: 34px 34px;
  background-size: 34px 34px;
}

.mix-red {
  color: #EB5B5B;
  font-size: 11px;
}

.mix-blue {
  font-size: 11px;
  color: #1BB0E0 !important;
}

.mix-coin-a {
  position: absolute;
  left: 235px;
  top: 80px;
  font-size: 12px;
  color: #EB5B5B;
  text-decoration: underline;
}

.k-btn.active {
  background-color: #1BB0E0;
  color: #ffffff;
  border: none;
}

.mix-kline {
  width: auto;
  height: 100%;
}

.mix-buy-sell {
  min-width: 25%;
}

.mix-bg-buy {
  background-color: #1BB0E0 !important;
}

.mix-bg-sell {
  background-color: #EB5B5B !important;
}

.mix-depth {
  width: 600px;
  height: 464px;
}

.top {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.left {
  width: 21.8%;
  min-width: 279px;
}

.top .logo {
  width: 132px;
  height: 29px;
  margin-left: 28px;
  background: url(../img/header/headerLogoEn.png) no-repeat;
  -webkit-background-size: auto 30px;
  -moz-background-size: auto 30px;
  -ms-background-size: auto 30px;
  -o-background-size: auto 30px;
  background-size: 132px 29px;
}

.top .nav {
  margin-left: 74px;
  height: 100%;
  line-height: 50px;
}

.top .nav a {
  color: rgba(255, 255, 255, .6);
}

.mix-red {
  color: #EB5B5B !important;
}



/*币币交易-近期交易的样式*/
.bb-recent {
  height: 308px;
}

/*币币交易-暂无记录的样式*/
.bb-info {
  height: 300px;
}

.bb-info .content {
  margin-top: 10px;
  margin-left: 12px;
}

.mix-bg-dark {
  background-color: #070707 !important;
}

.mix-padding-0 {
  padding: 0 !important;
}

.mix-bg-red {
  background-color: #EB5B5B !important;
}

.mt-54 {
  margin-top: 53px;
}

.mix-dark, .dark {
  color: #6E7277 !important;
  background-color: #191F28 !important;
}

.mix-bg-grey {
  background-color: #222730;
}

.navbar-nav .nav-item .nav-link {
  color: #ffffff !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #666666 !important;
}

.mix-light {
  color: #FFFFFF !important;
}

.mix-active {
  color: #D2D3D5 !important;
  border-bottom: solid;
  margin-bottom: -2px;
}

.mix-h-blue {
  background-color: #1BB0E0 !important;
}

.borderless td, .borderless th {
  border: none !important;
}

.borderless tbody tr:hover {
  background-color: #353D48 !important;
}

#none_content:hover{
  background-color: rgba(0,0,0,.075) !important;
}

.mix-clr-dark {
  color: #6E7277 !important;
  background-color: #191F28 !important;
}

.mix-clr-light {
  color: #FFFFFF;
}

.mix-font-light {
  color: #C9CACC !important;
}

.market-header .row.border-bottom {
  border-bottom-style: solid !important;
  border-bottom-color: #6E7277 !important;
}

.market-header .row.border-bottom .mix-active {
  border-bottom-style: solid !important;
  border-bottom-color: #D2D3D5 !important;
}

.mix-btn-active {
  padding: 0 5px;
  border: 1px solid #1BB0E0;
  color: #ffffff !important;
  font-size: 11px;
  background: #1BB0E0
}

.mix-btn {
  padding: 0 5px;
  border: 1px solid #1BB0E0;
  color: #1BB0E0 !important;
  font-size: 11px;
}

.mix-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 11px;
  display: inline-block;
  /*border: 1px solid;*/
  padding: 1px 2px;
}

.mix-link:hover {
  color: #1BB0E0;
  text-decoration: underline;
}

.mix-modal {
  /* height: 300px; */
  /* min-width: 760px; */
  z-index: 1;
  position: absolute;
  background: rgba(25, 31, 40, 0.7);
  font-size: 28px;
}

.search-box-input {
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding-right: 60px;
  padding-bottom: 0;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.search-box-input:focus:hover {
  border-bottom: 1px solid #BBB;

}

.search-box-input:focus {
  width: 100px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
  color: #ffffff;
}

.btn-dark {
  background: #222730 !important;
  color: #C9CACC !important;
}

select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("/static/trade/img/moren_paixu.svg") no-repeat scroll right center transparent;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding: 0 14px 0 3px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

/*****************************************************************/
input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*!*fix for FF unable to apply focus style bug *!*/
  /*border: 1px solid white;*/

  /*required for proper track sizing in FF*/
  width: 300px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 1px;
  background: rgba(255,255,255,0.5);
  border: none;
  border-radius: 3px;
  /* opacity: 0.5; */
}
/*
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #1BB0E0;
  margin-top: -5px;
} */

.mix-trade-range-buy::-webkit-slider-thumb{
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #1BB0E0;
  margin-top: -5px;
}
.mix-trade-range-buy::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #1BB0E0;
  margin-top: -5px;
}
.mix-trade-range-buy::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #1BB0E0;
  margin-top: -5px;
}

.mix-trade-range-sell::-webkit-slider-thumb{
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #EB5B5B;
  margin-top: -5px;
}
.mix-trade-range-sell::-moz-range-thumb{
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #EB5B5B;
  margin-top: -5px;
}
.mix-trade-range-sell::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #EB5B5B;
  margin-top: -5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255,255,255,0.5);
  opacity: 0.5;
}

input[type=range]::-moz-range-track {
  width: 300px;
  height: 1px;
  background: rgba(255,255,255,0.5);
  border: none;
  /* opacity: 0.5; */
  border-radius: 3px;
}

/* input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #1BB0E0;
} */

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

/* input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #1BB0E0;
} */

input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}

.swal2-header {
  height: 0px;
}

#swal2-content {
  height: 53px;
}

.mix-btn-blue {
  background-color: #1BB0E0 !important;
}

#trade-plan{
  padding: 0 !important;
}

#trade-plan input{
  outline: none
}

.mix-trade-plan .content {
  /* min-width: 760px; */
  height: 300px;
}

.mix-trade-plan .item-form {
  /* min-width: 300px; */
}

.mix-trade-plan .header-nav {
  height: 100%;
  width: 70%;
}

.mix-trade-plan .item-group {
  height: 10.79%;
  border: 1px solid;
  margin-bottom: 3.6%;
}

/* .mix-trade-plan .item-group:focus {
    border-color: #FFF;
    outline: none;
} */

.mix-trade-plan .item-group .item-group-pre {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 15%;
  color: rgba(255, 255, 255, 1);
  font-size: 11px;
  background-color: #222730;
}

.mix-trade-plan .item-group-nb {
  height: 23px;
}

.mix-trade-plan .item-group-nb .item-group-pre {
  align-items: center;
  display: flex;
  width: 60px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 11px;
}

.mix-trade-plan .item-group-nb input {
  border: 1px solid;
  flex: 1 1 auto !important;
}

.mix-trade-plan .item-group input {
  border: none;
  flex: 1 1 auto !important;
}

.mix-trade-plan .mix-trade-plan-select {
  border: 1px solid #1BB0E0;
  border-radius: 2px;
  color: #F2F2F2;
  margin-top: 1%;
  font-size: 0.7rem;
  /* background: none; */
}

.mix-trade-plan .mix-trade-plan-select:focus {
  background: #1BB0E0;
  outline: none;
}

.mix-trade-plan .mix-trade-plan-select option {
  background-color: #1A4752;
  outline: none;
}

.mix-trade-plan .btn:focus {
  border:0;
  box-shadow: none;
}

.mix-input-border {
  border: 1px solid #6E7277 !important;
}

.mix-border-left-none {
  border-left: 0 !important;
}

.mix-border-right-none {
  border-right: 0 !important;
}

.reset-handle a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.50);
  letter-spacing: 0;
}

/*.reset-handle>a:hover{*/

/*}*/
.reset-handle > a:not([href]):not([tabindex]):focus, .reset-handle > a:not([href]):not([tabindex]):hover {
  color: white;
  text-decoration: underline;
}

.reset-handle a:nth-child(1), .reset-handle a:nth-child(2) {
  margin-right: 49px;
}

.current-table-t th, .current-table-t tr {
  font-size: 11px;
  /* min-width: 100px; */
  font-weight: normal;
  height: 25px;
  line-height: 25px;
}

.table th, .table tr {
  font-size: 11px;
  font-weight: normal;
}

.current-table-t td,
.current-table-t th {
  font-size: 11px;
  /* min-width: 100px; */
  font-weight: normal;
  height: 25px;
  line-height: 25px;
}

.history-list-m table td,
.history-list-m table th {
  height: 25px;
  line-height: 25px;
}

/*.current-table-t tr td:nth-child(1), .table tr td:nth-child(1), .current-table-t tr th:nth-child(1), .table tr th:nth-child(1) {*/
  /*max-width: 20%;*/
/*}*/

/*.current-table-t tr td:nth-child(2), .table tr td:nth-child(2), .current-table-t tr th:nth-child(2), .table tr th:nth-child(2) {*/
  /*max-width: 10%;*/
/*}*/

/*.current-table-t tr td:nth-child(3), .table tr td:nth-child(3), .current-table-t tr th:nth-child(3), .table tr th:nth-child(3) {*/
  /*max-width: 12%;*/
/*}*/

/*.current-table-t tr td:nth-child(4), .table tr td:nth-child(4), .current-table-t tr th:nth-child(4), .table tr th:nth-child(4) {*/
  /*max-width: 8%;*/
/*}*/

/*.current-table-t tr td:nth-child(5), .table tr td:nth-child(5), .current-table-t tr th:nth-child(5), .table tr td:nth-child(5) {*/
  /*max-width: 10%;*/
/*}*/

/*.current-table-t tr td:nth-child(6), .table tr td:nth-child(6), .current-table-t tr th:nth-child(6), .table tr th:nth-child(6) {*/
  /*max-width: 10%;*/
/*}*/

/*.current-table-t tr td:nth-child(7), .table tr td:nth-child(7), .current-table-t tr th:nth-child(7), .table tr th:nth-child(7) {*/
  /*max-width: 10%;*/
/*}*/

/*.current-table-t tr td:nth-child(8), .table tr td:nth-child(8), .current-table-t tr th:nth-child(8), .table tr th:nth-child(8) {*/
  /*max-width: 10%;*/
/*}*/

.current-table-t {
  margin-top: 3px;
}

.table-sm td, .table-sm th {
  padding: 0;
}

.table td, .table th {
  padding: 0;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.btn-group-sm > .btn, .btn-sm {
  padding: 0;
  font-size: 11px;
  line-height: 1.5;
  border-radius: .2rem;
}

.btn {
  padding: 0;
}

.current-table-t thead th, .table thead th {
  /* padding-bottom: 10px; */
}

.current-table-t td, .table td {
  /* padding-bottom: 7px; */
  color: #FFFFFF !important;
}

.history-managed-t {
  font-size: 12px;
  color: white;
  border-top: 3px solid #070707;
  padding:0 25px;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bb a:hover {
  color: rgb(255, 255, 255);
}

.nav-bb .dropdown a:hover + .dropdown-menu {
  display: block;
}

.nav-link {
  padding: 0;
  margin-right: 30px;
}

.trade-nav-hover {
  position: relative;
  padding-right: 10px;
  display: inline-block;
}

.trade-nav-hover:after {
  content: '';
  width: 10px;
  height: 10px;
  background: url("/static/img/header/index_select_icon.svg") no-repeat center / 10px 10px;
  position: absolute;
  top: 20px;
  right: -3px;
  opacity: .6;
}
.trade-nav-hover:hover::after{
  opacity: 1;
}
.nav-link:hover > .trade-nav-select {
  display: block;
}

.trade-nav-select {
  position: absolute;
  display: none;
  list-style: none;
  background: #191F28;
  margin-top: -6px;
  border: 1px solid #070707;
}

.trade-nav-select li {
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  /*width:100px;*/
}

.trade-nav-select li:hover {
  background: rgba(170, 188, 191, 0.10);
}

#id-notifications i {
  position: relative;
}

#id-notifications i:before {
  content: '';
  background: url(/static/img/header/messageW.svg) no-repeat;
  background-size: 20px 20px;
  opacity: .6;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 24px;
  cursor: pointer;
}

#id-notifications i:hover::before {
  opacity: 1;
}

.trade-deal {

}

.trade-deal .trade-deal-title {
  font-size: 18px;
  letter-spacing: 0.04px;
  text-align: center;
  /* width: 73px; */
  height: 18px;
  border: 0;
}

.trade-deal .trade-deal-top {
  width: 648px;
  margin: 0 auto;
  height: 100px;
  box-shadow: 2px 2px 4px 0 rgba(139, 137, 137, 0.20);
  border-radius: 2px;
}

.trade-deal .trade-deal-top .trade-deal-top-text {
  font-size: 14px;
  letter-spacing: 0.03px;
  text-align: center;
  height: 14px;
  line-height: 14px;
}

.trade-deal .trade-deal-top .trade-deal-top-text:nth-of-type(1) {
  margin: 25px 0;
}

.trade-deal .trade-deal-top .trade-deal-top-text:nth-of-type(2) {
  margin: 0 0 20px;
}

.trade-deal .trade-deal-bottom {
  width: 722px;
  margin: 0 auto;
  padding: 30px 20px;
  border-bottom: 1px solid rgba(40, 42, 43, 0.20);
}

.trade-deal .trade-deal-bottom th,
.trade-deal .trade-deal-bottom td {
  padding: 0 0 20px;
}

.trade-deal .trade-deal-bottom tr:last-of-type td {
  padding: 0;
}

.trade-deal .trade-deal-bottom .trade-deal-bottom-text {
  font-size: 12px;
  letter-spacing: 0.03px;
  text-align: center;
  height: 12px;
  line-height: 12px;
  min-width: 150px;
}

.trade-deal .trade-deal-bottom .trade-deal-bottom-text:nth-of-type(1) {
  mix-width:200px
}

.trade-deal .trade-deal-bottom .trade-deal-bottom-text:nth-of-type(3),
.trade-deal .trade-deal-bottom .trade-deal-bottom-text:nth-of-type(4) {
  text-align: right;
  padding-right: 5%;
}

.trade-deal .trade-deal-btn {
  width: 160px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  box-shadow: 2px 2px 4px 0 rgba(178, 175, 175, 0.50);
  border-radius: 2px;
  font-size: 14px;
  letter-spacing: 0.03px;
}

.trade-swalMix-one {
  border-radius: 8px !important;
}

.trade-swalMix-one #swal2-content {
  height: 53px;
  line-height: 53px;
}

.trade-swalMix-more {

}

.trade-swalMix-more .trade-swalMix-more-div {
  height: 53px;
  line-height: 53px;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0;
  text-indent: 65px;
  text-align: left;
  width: 100%;
  border-radius: 8px !important;
  background: rgba(27, 176, 224, 0.5) url('/static/trade/img/success.svg') no-repeat 14px center/42px 32px;
}

.trade-swalMix-more #swal2-content {
  height: auto;
  /* line-height: 53px; */
}

.trade-plan-alert .trade-plan-alert-title {
  height: 32px;
  line-height: 32px
}

.trade-plan-alert .trade-plan-alert-title h5 {
  color: #FFF;
  font-size: 14px;
  text-indent: 20px;
  padding: 7px 0
}

.trade-plan-alert .trade-plan-alert-title button {
  margin: -15px 0 0 0;
  color: #FFF
}

.trade-plan-alert .trade-plan-alert-title button:focus {
  border: 0;
}

.trade-plan-alert label {
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 0.03px;
}

.user-asset {
  width: 100%;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #1BB0E0;
  text-align: right;
  padding-right: 2%;
  background: #2B2E33;
  margin-top: -4px;
}

.poundage {
  margin-left: 5%;
}

.user-asset-to {
  margin: 0 6px 0 25px;
}

.user-asset-from {
  margin: 0 8px;
}

.user-asset img {
  margin-left: 8px;
}

.to-pointer{
  cursor:pointer;
  color: rgba(255,255,255,.5);
}

.to-pointer:hover{
  cursor:pointer;
  color: rgba(255,255,255,.5);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  /*height: 95.2%;*/
  /* padding: 1.25rem; */
  padding: 10px 0 0 0;
}

.live-table td {
  padding-bottom: 0;
  /* height: 20px; */
  /* line-height: 20px; */
}

.last-deal {
  border-top: 3px solid #070707;
  border-bottom: 3px solid #070707;
}

.last-deal td {
  /* height: 78px; */
  text-align: center;
  /* line-height: 78px; */
  font-size: 28px;
  color: #1BB0E0 !important;
  letter-spacing: 0.09px;
}

.table tbody + tbody {
  /*border-top: 4px solid #070707;*/
  border: none;
}

.live-table tr td:nth-child(1) {
  padding: 0 10px;
}

.live-table th, .live-table tr, .live-table th, .live-table tr {
  min-width: 10px;
}

.live-table .last-deal:hover {
  background: none;
}

.live-table th {
  padding-right: 10px;
}

.tbody-not-select {
  display: none;
}

.live-nav span {
  cursor: pointer;
}
.mix-recent-t-header{
  position: relative;
}
.mix-recent-t-header:after{
  content: '';
  position: absolute;
  width: 5px;
  height: 10px;
  background: url("/static/trade/img/moren_paixu.svg")no-repeat top center;
  /*right: 0;*/
  /*left: 26px;*/
  opacity: .5;
  top: 2.5px;
  margin-left: 2px;

}
.order-check-more{
  color: rgba(255, 255, 255, 0.50);
  font-weight: normal;
  float: right;
}
.order-check-more:hover{
  color: rgb(255,255,255);
  text-decoration: underline;
}
.mid-form-m:nth-child(1){
  /* margin:0 11.74% 0 9.2%; */
}
/*股票涨的颜色*/
.stock-buy {
  color: #1BB0E0!important;
}

/*股票跌的颜色*/
.stock-sell {
  color: #EB5B5B!important;
}

.current-table-t .stock-buy, .table .stock-buy{
  color: #1BB0E0!important;
}
.current-table-t .stock-sell, .table .stock-sell{
  color: #EB5B5B!important;
}

.history-list-m {
  padding-bottom: 15px;
  min-height: 150px;
}

.current-table-t td:nth-of-type(4),
.current-table-t th:nth-of-type(4),
.current-table-t td:nth-of-type(5),
.current-table-t th:nth-of-type(5),
.current-table-t td:nth-of-type(6),
.current-table-t th:nth-of-type(6),
.current-table-t td:nth-of-type(7),
.current-table-t th:nth-of-type(7) {
  text-align: right;
  padding-right: 2.5%;
}

.history-list-m td:nth-of-type(4),
.history-list-m td:nth-of-type(5),
.history-list-m td:nth-of-type(6),
.history-list-m th:nth-of-type(4),
.history-list-m th:nth-of-type(5),
.history-list-m th:nth-of-type(6) {
  text-align: right;
  /*padding-right: 4.5%;*/
}

.history-list-m th:nth-of-type(7), .history-list-m td:nth-of-type(7){
  padding-left: 4.5%;
}

.live-table thead th:nth-of-type(2),
.live-table thead th:nth-of-type(3),
.buy-table td:nth-of-type(3),
.buy-table td:nth-of-type(4),
.sell-table td:nth-of-type(3),
.sell-table td:nth-of-type(4) {
  text-align: right;
  /*padding-right: 4.5%;*/
}

.live-table td {
  padding-right: 10px;
}

.mb-1, .my-1 {
  margin-bottom: 3px!important;
}

.pl-1, .px-1 {
  padding-left: 3px!important;
}
.none1{
  display: none;
}
.market-currency-intro{
  display: flex;
  padding: auto 0;
  height: 63%;
  align-items: center;
}
.market-currency-intro  img{
  height: 50%;
  margin: 0 5% 0 2%;
}
.market-currency span{
  color: #fff;
  font-size: 1.6em;
}
.market-currency a{
  text-decoration: underline;
  color: #EB5B5B;
  margin-left: 14%;
  margin-bottom: -1%;
}
.market-currency a:hover{
  color: #1BB0E0;
}
.market-deal{
  /* padding-left: 22%; */
  color: white;
  font-size: 1.1rem;
}
.market-deal p{
  text-align: center;
  padding-bottom: 0;
}
.mix-item-m{
  position: relative;
}
.mix-item-m:hover>.mix-volume-w{
  display: block;
}
.mix-item-m:hover{
  background: #353D48;
  cursor: pointer;
}
.mix-volume-w{
  display: none;
  margin-right: -4%;
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  color: white;
  background: #4A5264;
  z-index: 888;
  transform: translateX(100%);
  padding: 1% 3% 0 2%;
}

.mix-order-revet {
  background: url(/static/trade/img/chexiao_hei.svg) left center no-repeat;
  padding-left: 15px;
}

.mix-order-revet:hover {
  background: url('/static/trade/img/chexiao_bai.svg') left center no-repeat;
  padding-left: 15px;
}

.mix-order-revet-all {
  background: url('/static/trade/img/chexiaoquanbu_hei.svg') left center no-repeat;
  padding-left: 15px;
}

.mix-order-revet-all:hover {
  background: url('/static/trade/img/chexiaoquanbu_bai.svg') left center no-repeat;
  padding-left: 15px;
}

.mix-chongbi-buy {
  color: #1BB0E0;
  border: 1px solid #1BB0E0;
}

.mix-chongbi-buy:hover {
  color: #FFF;
  background: #1BB0E0;
}

.mix-chongbi-sell {
  color: #EB5B5B;
  border: 1px solid #EB5B5B;
}

.mix-chongbi-sell:hover {
  color: #FFF;
  background: #EB5B5B;
}

.mix-font-white {
  color:#FFF !important;
}

.borderless tbody .live-trade-fill-block:hover {
  background-color: unset !important;
}

.form-group{
  margin-top: 1%;
  height: 15%;
  margin-bottom: 0;
}

#lang-select{
  right: 0;
  text-align: center;
}
.poundage em,.poundage i{
  font-style: normal;
}
.info-item{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 5%;
}
.info-item + span{
  font-size: 11px;
}
.nav-link a:hover{
  text-decoration: none;
}
.mix-recent-item:hover{
  background: #353D48;
}

.change-white {
  color:rgba(255,255,255,1) !important;
}
