@import "../../../common/css/variable.styl"

.order-history-filter
  position: fixed
  top: .44rem;
  left: 0;
  width: 100%
  height: calc(100vh - 0.44rem)
  background-color: rgba(0, 0, 0, 0.5)
  .filter-container
    padding: .12rem .12rem 0 .12rem
    background-color: #ffffff
    border-bottom: .01rem solid #7f7f7f
    h1
      font-size: .14rem
      line-height: .2rem
    .choose-button
      padding: .06rem .24rem
      border-radius: .02rem
      margin-right: .12rem
      font-size: .15rem
      line-height .2rem
      color #6b7e9c
      background-color: #f6f8fb
    .select-section
      padding: .08rem 0 .12rem 0
    .selected
      position relative
      background-color: #e6f4ff
      color #069af7
    .selected:after
      position: absolute
      bottom: 0
      right 0
      content: ''
      display: block
      width: .28rem
      height: .23rem
      background: url("../../../../static/img/order/btn_xuanzhong_sel@3x.png") center center no-repeat
      background-size: contain
    .select
      width: 10.8em
  .filter-operate
    padding: .08rem 0
    background-color: #ffffff
    button
      width: 50%
      font-size: .18rem
      line-height: .25rem
      color: #069AF7
    button:first-child
      box-sizing: border-box
      border-right: .01rem solid #7f7f7f