// @import "./base.styl"
.order-item
  padding 0 .12rem
  margin-bottom .12rem
  border-radius .02rem
  font-size .14rem
  line-height .2rem
  background-color $order-bg
  .order-item-head
    padding .08rem 0
    border-bottom .02rem solid $order-line
    span
      vertical-align middle
    .way
      font-size .15rem
      line-height .2rem
      padding-right .02rem
    .sell
      color $order-font-red
      width 1.46rem
    .buy
      color $order-font-green
      width 1.46rem
    .time-current
      color $order-font-gray
    .cancel-current
      img
        height .14rem
        margin-right .05rem
        vertical-align middle
      span
        color $order-font-normal
    .info-history
      img
        height .14rem
        margin-left .05rem
        vertical-align middle
      .deal
        color $order-font-green
      .partdeal
        color $order-font-orange
      .end
        color $order-font-gray
      .cancel
        color $order-font-red

  .order-item-content
    padding .12rem 0
    display flex
    justify-content space-between
    div
      div:nth-child(1)
        margin-bottom .08rem
        font-size .12rem
        line-height .17rem
        color $order-font-gray
      div:nth-child(2)
        font-size .15rem
        line-height .21rem
        color $order-font-normal
    div:nth-child(3)
      text-align right