@import "../../../common/css/variable.styl"
.order-wrap
  width 100%
  .order-history
    position relative
    width 100%
    .order-list
      width 100%
      height calc(100vh - 50px)
      padding .56rem .12rem 1px .12rem
      margin-bottom -1px
      background-color $h5-shadow-light
      overflow-y scroll
  .order-current
    position relative
    width 100%
    .order-list
      width 100%
      height calc(100vh - 50px)
      padding .56rem .12rem 1px .12rem
      margin-bottom -1px
      background-color $h5-shadow-light
      overflow-y scroll