@import "../../../common/css/variable.styl"
.order-header
  position fixed
  top 0;
  left 0;
  width 100%
  padding .12rem
  color $normal-white-color
  background-color $h5-color-blue
  img
    height .2rem
    padding .02rem
    vertical-align middle
  .back
    cursor pointer
    span
      margin-left .03rem
      font-size .14rem
      line-height .2rem
      vertical-align middle
  .name
    position absolute
    top 50%
    left 50%
    margin-top -0.1rem
    margin-left -0.36rem
    font-size .18rem
    line-height .20rem
  .filter
    cursor pointer
  .history
    margin-left: .24rem