@import "./variable.styl"
@import "./orderCurrent.styl"
@import "./orderHistory.styl"
@import "./orderItem.styl"
@import "./orderDetails.styl"
.order-wrap
  width 100%
  .order-switch
    position: fixed
    top: .45rem
    left: 0
    z-index: 100
    display: flex
    justify-content: space-between
    width: 100%
    padding: 0 .46rem
    box-sizing: border-box
    background-color: $h5-order-bg
    a
      display: block
      padding: .13rem .18rem .11rem
      border-bottom: .02rem solid transparent
      font-size: .15rem
      line-height: .21rem
      color: $h5-order-font-title
    a.active
      color: $h5-order-font-select
      border-bottom-color: $h5-order-font-select