@import "../../../common/css/variable.styl"
.order-item
  padding 0 .12rem
  margin-bottom .12rem
  border-radius .02rem
  font-size .14rem
  line-height .2rem
  background-color $h5-foreground
  .order-item-head
    padding .08rem 0
    border-bottom .02rem solid $h5-border-weight
    span
      vertical-align middle
    .way
      font-size .15rem
      line-height .2rem
      padding-right .02rem
    .sell
      color $h5-color-red
      width 1.46rem
    .buy
      color $h5-color-green
      width 1.46rem
    .time-current
      color $h5-color-light
    .cancel-current
      img
        height .14rem
        margin-right .05rem
        vertical-align middle
      span
        color $h5-color-normal
    .info-history
      img
        height .14rem
        margin-left .05rem
        vertical-align middle
      .deal
        color $h5-color-green
      .partdeal
        color $h5-color-orange
      .end
        color $h5-color-light
      .cancel
        color $h5-color-red

  .order-item-content
    padding .12rem 0
    .fl:nth-child(1)
      width 1.2rem
    div
      div:nth-child(1)
        margin-bottom .08rem
        font-size .12rem
        line-height .17rem
        color $h5-color-light
      div:nth-child(2)
        font-size .15rem
        line-height .21rem
        color $h5-color-normal
    .fr
      div:nth-child(2)
        text-align right