@import "../../../common/css/variable.styl"
.order-item
  padding 0 .12rem
  margin-bottom .12rem
  border-radius .02rem
  font-size .14rem
  line-height .2rem
  background-color $normal-white-color
  .order-item-head
    padding .08rem 0
    border-bottom .02rem solid $h5-border-light
    span
      vertical-align middle
    .way
      font-size .15rem
      line-height .2rem
      padding-right .02rem
    .sell
      color #eb5b5b
      margin-right .4rem
    .buy
      color $h5-color-blue
      margin-right .4rem
    .time-current
      color $h5-undeal-gray
    .cancel-current
      img
        height .14rem
        margin-right .05rem
        vertical-align middle
      span
        color #45566B
    .info-history
      img
        height .14rem
        margin-left .05rem
        vertical-align middle
      .deal
        color $h5-color-blue
      .partdeal
        color #f8b900
      .end
        color $h5-undeal-gray
      .cancel
        color #eb5b5b

  .order-item-content
    padding .12rem 0
    .fl:nth-child(1)
      width 1.2rem
    div
      div:nth-child(1)
        margin-bottom .08rem
        font-size .12rem
        line-height .17rem
        color $h5-undeal-gray
      div:nth-child(2)
        font-size .15rem
        line-height .21rem
        color #45566b
    .fr
      div:nth-child(2)
        text-align right