// @import "./base.styl"
.order-history
  position relative
  width: 100%
  height: 100%
  .order-history-header
    position absolute
    top 0;
    left 0;
    width 100%
    padding .12rem
    color $h5-order-font-content
    background-color $h5-order-bg
    img
      height .2rem
      padding .02rem
      vertical-align middle
    .back
      cursor pointer
      span
        margin-left .03rem
        font-size .14rem
        line-height .2rem
        vertical-align middle
    .name
      position absolute
      top 50%
      left 50%
      transform: translate(-50%, -50%)
      font-size .18rem
      line-height .20rem
    .history
      cursor pointer
      margin-left: .24rem
    .filter
      cursor pointer
  .order-history-filter
    position: absolute
    top: .44rem
    left 0
    width: 100%
    height: calc(100% - .44rem)
    background-color $h5-order-bg-popup
    .filter-container
      padding .12rem .12rem 0 .12rem
      background-color $h5-order-bg-active
      border-bottom .02rem solid $h5-order-bg
      h1
        font-size .14rem
        line-height .2rem
        color $h5-order-font-content
      .choose-button
        padding .06rem .1rem
        border-radius .02rem
        margin-right .1rem
        margin-bottom .08rem
        font-size .15rem
        line-height .2rem
        color $h5-order-font-title
        background-color $h5-order-bg
      .chosen
        position relative
        color $h5-order-font-select
        color $h5-order-font-select
      .chosen:after
        position absolute
        bottom 0
        right 0
        content ''
        display block
        width .28rem
        height .23rem
        background: $order-filter-select center center no-repeat
        background-size contain
      .choose-section
        margin: .08rem 0 .04rem 0
      .select
        width 8.8em
        margin-bottom .08rem
    .filter-operate
      padding .08rem 0
      background-color $h5-order-bg-active
      button
        width 50%
        font-size .18rem
        line-height .25rem
        color $h5-order-font-select
      button:first-child
        box-sizing border-box
        border-right .02rem solid $h5-order-bg
  .order-history-list
    width 100%
    height 100%
    padding .56rem .12rem 1px .12rem
    margin-bottom -1px
    background-color $h5-order-bg-main
    overflow-y scroll