@import "../../../common/css/variable.styl"

$h5-order-bg = $h5-foreground
$h5-order-bg-main = #232625
$h5-order-bg-active = $h5-background
$h5-order-bg-popup = $popup-bg-color
$h5-order-line = $h5-border-weight

$h5-order-font-normal = $h5-color-normal
$h5-order-font-red = $h5-color-red
$h5-order-font-green = $h5-color-green
$h5-order-font-light = $h5-color-light
$h5-order-font-orange = $h5-color-orange

$h5-order-filter-select = url('../../../../static/mobile/order/icon_inuput_select_success@3x.png')