@import "../../../common/css/variable.styl"

$h5-order-bg = $col2B2D
$h5-order-bg-main = #232625
$h5-order-bg-active = $col2120
$h5-order-bg-popup = $cola0004
$h5-order-line = $col2120

$h5-order-font-content = $colD6D6
$h5-order-font-title = $col8485

$h5-order-font-select = $col9370
$h5-order-font-reset = $col4740
$h5-order-font-deal = $col9370
$h5-order-font-partdeal = $col8534

$h5-order-filter-select = url('../../../../static/mobile/order/icon_inuput_select_success@3x.png')