@import "../../../common/css/variable.styl"

$order-bg = $h5-foreground
$order-bg-main = #232625
$order-bg-active = $h5-background
$order-bg-popup = $popup-bg-color
$order-line = $h5-border-weight

$order-font-normal = $h5-color-normal
$order-font-red = $h5-color-red
$order-font-green = $h5-color-green
$order-font-gray = $h5-color-light
$order-font-orange = $h5-color-orange

$order-filter-select = url('../../../../static/mobile/order/icon_inuput_select_success@3x.png')