@import "../../../common/css/variable.styl"

.banner-wrap-mb
  .banner-img
    position fixed
    top 0
    width 100%
    height 1.59rem
    z-index -1
    animation: bgscale 10s ease-in-out infinite
  div
    width 100%
    height 1.59rem
    img
      position absolute
      top .5rem
      left 50%
      transform translateX(-50%)
      width 3rem
      -webkit-filter: drop-shadow(rgba(35, 118, 193, 0.3) 0px 7px 5px)
      filter: drop-shadow(rgba(35, 118, 193, 0.3) 0px 7px 5px)