.activity-wrap
  position relative
  color: #fff
  background-color: #282B2D
  .activity-switch
    width: 100%
    ul 
      li
        float left
        width: 33.33%
        padding: 11px 0
        border-bottom: 2px solid transparent
        font-size: 16px
        line-height: 22px
        color: #828485
        text-align: center
      li.active
        color: #299370
        border-color: #299370
  .activity-content
    .activity-index
      .rule
        padding: 0 12px 8px
        border-bottom: 8px solid #232625
        p
          font-size: 16px
          padding: 20px 0
          color: #d5d6d6
        dt
          font-size: 15px
          margin-bottom: 12px
          color: #d5d6d6
        dd
          font-size: 14px
          color: #828485
          margin-bottom: 20px
        li
          margin-bottom: 12px
          font-size: 15px
          color: #d5d6d6
          span
            color: #299370
            margin: 0 5px
      .code
        padding: 0 11px
        h1
          font-size: 24px
          margin: 35px 0 33px 0
          text-align: center
        img
          width: 353px
      .introduce
        padding: 0 12px
        h2
          font-size: 20px
          color: #299370
          text-align: center
          margin: 56px 0 32px 0
        p
          font-size: 14px
          line-height: 24px
        p.note
          color: #D14740
      .value
        padding: 0 12px
        h2
          font-size: 20px
          color: #299370
          text-align: center
          margin: 56px 0 32px 0
    .activity-invite
      background-color: #232625
      ul
        li
          padding: 13px 12px
          border-bottom: 1px solid #282B2D
          line-height: 20px
          color: #d5d6d6
          .user
            float left
            font-size: 15px
          .mount
            float: right 
            font-size: 15px
    .activity-board
      background-color: #232625
      ul
        li
          padding: 13px 12px
          border-bottom: 1px solid #282B2D
          img
            float left
            height: 20px
            margin-right: 12px
          span
            font-size: 15px
            line-height: 20px
            color: #d5d6d6
          .user
            float left
          .mount
            float right
          .rank
            float left
            display: block
            width: 22px
            height: 20px
            margin-right: 12px
            font-size: 14px
            text-align: center
    .ranking
      padding: 21px 0
      border-bottom: 1px solid #282B2D
      p
        width: 335px
        height: 38px
        margin: 0 auto
        border-radius: 19px
        font-size: 15px
        line-height: 38px
        text-align: center
        background-color: #299370