.my-qbt
  .user-info
    background  $h5-activity-bg-main
    padding .20rem .15rem
    .user-name
      height .8rem
      label
        line-height .4rem
        font-size .20rem
        color $h5-activity-font-theme
      img
        height 0.6rem
        width: 0.6rem
        margin-right 0.1rem
        vertical-align -0.2rem
    .user-other
      display flex
      .left
        width 15%
        margin-left 7px
        img
          height 0.4rem
          width 0.4rem
          margin-right  0.1rem
          vertical-align -0.4rem
      .right
        width 15%
        img
          height 0.4rem
          width 0.4rem
          margin-right  0.1rem
          vertical-align -0.4rem
      .content
        width 30%
        label
          color  $h5-activity-font-main
          line-height .4rem
          font-size .15rem
        p
          color $h5-activity-font-light
          font-size .10rem
      .content-left
        border-right 1px solid $h5-activity-font-dark
        margin-right 15px

  .my-invite
    background $h5-asset-bg
    margin 10px 15px
    .invite-top
      text-align center
      padding-top 10px
      label
        color $h5-activity-font-main

    .invite-list
      min-height 1rem
      text-align center
      label
        color $h5-activity-font-light
      ul.list-ul

        height .36rem
        line-height .36rem

      li.list-li
        float none
        width 100%
        font-size .13rem
        color $h5-activity-font-main
        display flex
        justify-content space-between
        text-align center
    .invited
      text-align center
      border-top 1px solid $h5-asset-border
      padding 15px
      label
        color $h5-activity-font-theme

  .scan
    background $h5-asset-bg
    .sacn-title
      label
        line-height .4rem
        font-size .15rem
        color $h5-asset-font-normal
      img
        margin-left 15px
        height 0.2rem
        width: 0.2rem
        margin-right 0.1rem
        vertical-align -0.04rem
    .info
      p
        color $h5-asset-font-normal
        padding: 5px 15px
      #wechat
        pointer-events none
    .qrcode-container
      display flex
      .qrcode
        margin 10px 15px
      .qr-btns
        margin 15px 15px
      .copy-btn, .save-btn
        width 80%
        height 30%
        margin 10px 0
