.qbt-and-myqbt
  .qbt-switch
    width 100%
    position fixed
    bottom 0
    left 0
    padding  .05rem 0
    z-index 100
    border-top 2px solid $h5-activity-line-section
    background-color $h5-activity-bg-main
    color $h5-activity-font-dark
    ul
      display flex
      justify-content center
      li
        padding 0 .4rem
        img
          height 0.3rem
          width 0.3rem
          vertical-align -0.2rem
        p
          text-align center
  .my-qbt
    .user-info
      background  $h5-activity-bg-main
      padding .20rem .15rem
      .user-name
        height .8rem
        label
          line-height .4rem
          font-size .20rem
          color $h5-activity-font-theme
        img
          height 0.5rem
          width 0.5rem
          margin-right 0.1rem
          vertical-align -0.2rem
      .user-other
        display flex
        .left
          width 15%
          margin-left 7px
          img
            height 0.4rem
            width 0.4rem
            margin-right  0.1rem
            vertical-align -0.4rem
        .right
          width 15%
          img
            height 0.4rem
            width 0.4rem
            margin-right  0.1rem
            vertical-align -0.4rem
        .content
          width 30%
          margin-left 0.1rem
          label
            color  $h5-activity-font-main
            line-height .4rem
            font-size .16rem
          p
            color $h5-activity-font-dark
            font-size .12rem
        .content-left
          border-right 1px solid $h5-activity-line-section
          margin-right .1rem

    .my-invite
      background $h5-activity-bg-main
      margin .1rem .15rem
      .invite-top
        text-align center
        padding-top .1rem
        label
          color $h5-activity-font-light
          font-size .16rem

      .invite-list
        min-height 1rem
        text-align center
        label
          display inline-block
          margin .4rem
          color $h5-activity-font-dark
          font-size .13rem

        ul.list-ul

          height .36rem
          line-height .36rem

        li.list-li
          float none
          width 100%
          font-size .13rem
          color $h5-activity-font-light
          display flex
          justify-content space-between
          text-align center
      .invited
        text-align center
        border-top 1px solid $h5-activity-line-section
        padding .12rem
        label
          color $h5-activity-font-theme
          font-size .13rem

    .scan
      background $h5-activity-bg-main
      .scan-title
        border-bottom 1px solid $h5-activity-line-section
        label
          line-height .4rem
          font-size .16rem
          color $h5-activity-font-light
        img
          margin-left .12rem
          height 0.2rem
          width 0.2rem
          margin-right 0.1rem
          vertical-align -0.04rem
      .info
        margin 0 .12rem
        p
          color $h5-activity-font-light
          line-height .3rem
          font-size .15rem
          #wechat
            pointer-events none
            color $h5-activity-font-light

      .qrcode-container
        display flex
        .qrcode
          margin .1rem .15rem
          width 40%
        .qr-btns
          margin .1rem .15rem
          width 60%
          .copy-btn, .save-btn
            width 80%
            height 30%
            margin 10px 0

    .our-info
      margin .1rem 0 .55rem 0
      background $h5-activity-bg-main
      .our-title
        border-bottom 1px solid $h5-activity-line-section
        font-size .16rem
        label
          line-height .4rem
          font-size .15rem
          color $h5-activity-font-light
        img
          margin-left .12rem
          height 0.2rem
          width 0.16rem
          margin-right 0.1rem
          vertical-align -0.04rem
      .our-content
        margin-left .1rem
        p
          font-size .15rem
          line-height .3rem
          color $h5-activity-font-light
          span
            text-decoration-line underline
  .qbt
    .qbt-banner
      height 1.2rem
      text-align center
      background $h5-user-next
      h1
        line-height .6rem
        font-size .25rem
        color $h5-activity-font-main
      h2
        font-size .15rem
        color $h5-activity-font-main
    .qbt-num
      display flex
      justify-content center
      height .84rem
      background $h5-activity-bg-main
      .left, .right
        width 50%
        p
          font-size .15rem
          padding .15rem 0  .1rem .2rem
          color $h5-activity-font-dark
        span
          font-size .33rem
          padding-left .2rem
          color $h5-activity-font-light
        span.red
          color red
      .left
         border-right 2px solid $h5-activity-line-section
    .coin-data
      background  $h5-activity-bg-main
      margin .10rem 0
      .coin-data-title
        border-bottom 1px solid $h5-activity-line-section
        label
          line-height .4rem
          font-size .16rem
          color $h5-activity-font-main
        img
          margin-left .12rem
          height 0.2rem
          width 0.2rem
          margin-right 0.1rem
          vertical-align -0.04rem
      .coin-data-content

        width 85%
        margin auto
        .content-item
          display flex
          justify-content space-between
          width 100%
          border-bottom 1px solid $h5-activity-line-section
          label.key
            line-height .4rem
            font-size .15rem
            color $h5-activity-font-dark
          label.val
            line-height .4rem
            font-size .14rem
            color $h5-activity-font-light
    .coin-introduction
      background $h5-activity-bg-main
      margin .1rem 0
      h1.coin-introduction-title
        text-align center
        line-height 1rem
        font-size .23rem
        color $h5-activity-font-theme
      p
        width 85%
        line-height .4rem
        font-size .16rem
        text-indent .35rem
        color $h5-activity-font-light
        margin auto
      p.red
        color red
    .coin-value
      background $h5-activity-bg-main
      h1.coin-value-title
        text-align center
        line-height 1rem
        font-size .23rem
        color $h5-activity-font-theme

      .coin-value-box
        display flex
        justify-content center
        flex-wrap wrap
        text-align center
        .coin-box-item
          width 47%
          border 3px solid $h5-activity-line-section
          margin .01rem
          img
            height 0.6rem
            width 0.6rem
            margin .4rem 0 .1rem 0
          h2
            width 85%
            line-height .4rem
            font-size .18rem
            color $h5-activity-font-light
            margin auto
          h3
            width 85%
            line-height .2rem
            font-size .14rem
            color $h5-activity-font-dark
            margin 0 auto .4rem auto
    .coin-get
      background $h5-activity-bg-main
      h1.coin-get-title
        text-align center
        line-height 1rem
        font-size .2rem
        color $h5-activity-font-theme
      p
        width 85%
        line-height .4rem
        font-size .16rem
        color $h5-activity-font-light
        margin auto
      p.dark
        width 85%
        line-height .4rem
        font-size .16rem
        color $h5-activity-font-dark
        margin auto
      .coin-invite
        display flex
        justify-content center
        button
          width 80%
          height .45rem
          margin .2rem 0
          font-size .2rem
      .contact
        h1
          width 85%
          line-height .8rem
          font-size .2rem
          color $h5-activity-font-light
          margin auto
        p
          width 85%
          line-height .4rem
          font-size .16rem
          color $h5-activity-font-dark

    .coin-join
      background $h5-activity-bg-main
      margin 0 0 .55rem 0
      h1.coin-join-title
        text-align center
        line-height 1rem
        font-size .23rem
        color $h5-activity-font-theme
      p
        width 85%
        line-height .4rem
        font-size .16rem
        color $h5-activity-font-light
        margin auto
      p.red
        color red