.my-qbt
  .user-info
    background  $h5-activity-bg-main
    padding .20rem .15rem
    .user-name
      height .8rem
      label
        line-height .4rem
        font-size .20rem
        color $h5-activity-font-theme
      img
        height 0.6rem
        width: 0.6rem
        margin-right 0.1rem
        vertical-align -0.2rem
    .user-other
      display flex
      .left
        width 15%
        margin-left 7px
        img
          height 0.4rem
          width 0.4rem
          margin-right  0.1rem
          vertical-align -0.4rem
      .right
        width 15%
        img
          height 0.4rem
          width 0.4rem
          margin-right  0.1rem
          vertical-align -0.4rem
      .content
        width 30%
        margin-left 0.1rem
        label
          color  $h5-activity-font-main
          line-height .4rem
          font-size .15rem
        p
          color $h5-activity-font-light
          font-size .10rem
      .content-left
        border-right 1px solid $h5-activity-line-section
        margin-right .1rem

  .my-invite
    background $h5-activity-bg-main
    margin .1rem .15rem
    .invite-top
      text-align center
      padding-top .1rem
      label
        color $h5-activity-font-main

    .invite-list
      min-height 1rem
      text-align center
      label
        display inline-block
        margin .4rem
        color $h5-activity-font-light

      ul.list-ul

        height .36rem
        line-height .36rem

      li.list-li
        float none
        width 100%
        font-size .13rem
        color $h5-activity-font-main
        display flex
        justify-content space-between
        text-align center
    .invited
      text-align center
      border-top 1px solid $h5-activity-line-section
      padding .12rem
      label
        color $h5-activity-font-theme

  .scan
    background $h5-activity-bg-main
    .scan-title
      label
        line-height .4rem
        font-size .15rem
        color $h5-activity-font-main
      img
        margin-left .12rem
        height 0.2rem
        width: 0.2rem
        margin-right 0.1rem
        vertical-align -0.04rem
    .info
      margin-left .12rem
      h2
        color $h5-activity-font-main
        line-height .3rem
      #wechat
        pointer-events none
    .qrcode-container
      display flex
      .qrcode
        margin .1rem .15rem
        width 40%
      .qr-btns
        margin .1rem .15rem
        width 60%
        .copy-btn, .save-btn
          width 80%
          height 30%
          margin 10px 0

  .our-info
    .our-title
      label
        line-height .4rem
        font-size .15rem
        color $h5-activity-font-main
      img
        margin-left .12rem
        height 0.2rem
        width: 0.16rem
        margin-right 0.1rem
        vertical-align -0.04rem
    .our-content
      margin-left .1rem
      h2
        font-size .15rem
        line-height .3rem
        color $h5-activity-font-main
        span
          text-decoration-line: underline
