@import "../../../common/css/variable.styl"

  $h5-activity-bg-main = $col2B2D
  $h5-activity-line-list = $col2B2D
  $h5-activity-line-section = $col2625

  $h5-activity-font-main = $colFEFE
  $h5-activity-font-light = $colD6D6
  $h5-activity-font-dark = $col8485
  $h5-activity-font-warning = $col4740
  $h5-activity-font-theme = $col9370